/*
 * CUPS stylesheet in addition to bootstrap CSS...
 */

/* Basic site appearance */
BODY {
  font-size: 16px;
  line-height: 20px;
  margin: 0px;
}

A, A:hover {
  color: black;
  text-decoration: none;
}

A:link, A:link:visited, A:visited, A:link:hover, A:visited:hover {
  color: #005580;
  text-decoration: underline;
}

NAV A:link, NAV A:link:visited, NAV A:visited {
  background: inherit;
  color: inherit;
  text-decoration: none;
}

NAV.cups-nav {
  background: #111;
  box-shadow: 0px 0px 3px rgba(0,0,0,0.8);
}

NAV.cups-nav a.navbar-brand {
  background: none;
}

.dropdown-divider {
  border-top-color: #888;
}

.cups-nav {
  background: #222;
  color: #ccc;
}

A.btn:link, A.btn:hover, A.btn:visited, A.btn:focus,
A.btn:active, A.btn.active, A.btn.disabled,
A.btn[disabled], A.navbar-brand:hover {
  border-radius: 8px;
  color: #000000;
  margin-right: .5em;
  text-decoration: none;
}

A.btn-bright:link, A.btn-bright:visited, A.btn-bright.active,
A.btn-bright.disabled, A.btn-bright[disabled] {
  background: #fff;
  color: #000;
}

A.btn-bright:hover, A.btn-bright:focus, A.btn-bright:active {
  background: #ccc;
  color: #000;
}

A.btn-default:link, A.btn-default:visited, A.btn-default.active,
A.btn-default.disabled, A.btn-default[disabled] {
  background: #333;
  color: #fff;
}

A.btn-default:hover, A.btn-default:focus, A.btn-default:active {
  background: #666;
  color: #fff;
}

A.btn-primary:link, A.btn-primary:hover, A.btn-primary:visited, A.btn-primary:focus, A.btn-primary:active, A.btn-primary.active, A.btn-primary.disabled, A.btn-primary[disabled] {
  color: #ffffff;
  text-decoration: none;
}

/*UL.nav {
  font-size: 14px;
}*/

SUP, SUB {
  font-size: 62%;
}

FORM {
  display: inline;
}

INPUT[TYPE="TEXT"], INPUT[TYPE="EMAIL"], INPUT[TYPE="NUMBER"], INPUT[TYPE="PASSWORD"], INPUT[TYPE="SEARCH"], TEXTAREA {
/*  font-family: Consolas, "Courier New", monospace;*/
}

INPUT[TYPE="NUMBER"] {
  text-align: right;
}

INPUT, SELECT, TEXTAREA {
  vertical-align: middle;
  width: auto;
}

FORM.navbar-search, FORM.pull-right {
  display: inline-block;
}

FORM.navbar-search INPUT {
  margin-top: 12px;
}

INPUT[type="checkbox"] {
  height: 16px !important;
}

.form-horizontal .control-label {
  padding-right: 0px;
  padding-top: 0px;
}

.control-label:after {
  content: ":";
}

DIV.jumbotron {
  background: #222;
  border-radius: 0;
  color: white;
  margin: -3px -20px 20px;
  padding: 20px 30px 20px;
}

A.jumbolink:link, A.jumbolink:hover, A.jumbolink:focus, A.jumbolink:visited {
  color: #99f;
}

DIV.jumbotron H1 {
  font-size: 32px;
  line-height: 40px;
  margin: 0px;
  padding: 0px;
}
DIV.jumbotron P {
  font-size: 16px;
  line-height: 20px;
}
DIV.jumbotron P.cups-buttons {
  line-height: 3;
}

H2 {
 margin-top: 1em;
}

DIV.footer {
  background-color: #111;
  bottom: 0px;
  box-shadow: 0px 0px 3px rgba(0,0,0,0.8);
  color: #ccc;
  font-size: 11px;
  left: 0px;
  line-height: 14px;
  padding: 10px 10px 0px; /* top right+left bottom */
  position: fixed;
  right: 0px;
}

DIV.footer A, DIV.footer A:hover, DIV.footer A:focus, DIV.footer A:visited {
  color: #99f;
}

P {
  margin-bottom: 20px;
}

PRE {
  border: 0px;
  border-left: 5px solid #ddd;
  border-radius: 0px;
}

DIV.footer P {
  margin-bottom: 10px;
}

DIV.container-top {
  padding: 55px 20px; /* top+bottom right+left */
}

.form-control {
  display: inline-block;
  height: auto;
  width: auto;
}

TABLE.table {
  border-bottom: solid 1px #dddddd;
}

.center {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.float-right {
  float: right;
}

SPAN.message {
  font-style: italic;
  font-size: smaller;
}

.modal .modal-dialog
{
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.modal-open .modal, a:focus
{
  outline: none !important;
}

<!-- These styles fix CSE and Bootstrap 3 conflict -->
.reset-box-sizing, .reset-box-sizing *, .reset-box-sizing *:before, .reset-box-sizing *:after,  .gsc-inline-block
{
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}
input.gsc-input, .gsc-input-box, .gsc-input-box-hover, .gsc-input-box-focus, .gsc-search-button
{
  box-sizing: content-box;
  line-height: normal;
}

DL.comment DT, DL.comment DT A {
  color: #999999;
  font-weight: normal;
}

DD.small, DD.small > P, DD.small > PRE, DD.small > H2, DD.small > H2 > A,
DD.small > H3, DD.small > H3 > A, DD.small > H4, DD.small > H4 > A,
DD.small > UL {
  font-size: 12px;
  line-height: 14px;
  margin-bottom: 0px;
  margin-top: 0px;
}

/* API documentation stuff... */
DIV.table TABLE {
  border: solid thin #999999;
  border-collapse: collapse;
  border-spacing: 0;
  margin-left: auto;
  margin-right: auto;
}

DIV.table CAPTION {
  caption-side: top;
  font-size: 120%;
  font-style: italic;
  font-weight: bold;
  margin-left: auto;
  margin-right: auto;
}

DIV.table TABLE TD {
  border: solid thin #cccccc;
  padding-top: 5pt;
}

DIV.table TABLE TH {
  background: #cccccc;
  border: none;
  border-bottom: solid thin #999999;
}

DIV.figure TABLE {
  margin-left: auto;
  margin-right: auto;
}

DIV.figure CAPTION {
  caption-side: bottom;
  font-size: 120%;
  font-style: italic;
  font-weight: bold;
  margin-left: auto;
  margin-right: auto;
}

span.info {
  background: #333333;
  border: thin solid #333333;
  border-radius: 10px;
  color: white;
  font-size: 80%;
  font-style: italic;
  font-weight: bold;
  white-space: nowrap;
}

h2 span.info, h3 span.info, h4 span.info {
  border-radius: 20px;
  float: right;
  font-size: 100%;
  padding: 0px 10px;
}

div.body h1 {
  margin: 0;
}
div.body h2 {
  margin-top: 1.5em;
}
div.body h3, div.body h4, div.body h5 {
  margin-bottom: 0.5em;
  margin-top: 1.5em;
}
.class, .enumeration, .function, .struct, .typedef, .union {
  border-bottom: solid thin #999999;
  margin-bottom: 0;
  margin-top: 2em;
}
.description {
  margin-top: 0.5em;
}
code, p.code, pre, ul.code li {
/*  font-family: monaco, courier, monospace;*/
  font-size: 90%;
}
ul.code, ul.contents, ul.subcontents {
  list-style-type: none;
  margin: 0;
  padding-left: 0;
}
ul.code li {
  margin: 0;
}
ul.contents > li {
  margin-top: 1em;
}
ul.contents li ul.code, ul.contents li ul.subcontents {
  padding-left: 2em;
}
div.body dl {
  margin-left: 0;
  margin-top: 0;
}
div.body dt {
  font-style: italic;
  margin-left: 0;
  margin-top: 0;
}
div.body dd {
  margin-bottom: 0.5em;
}

/* iPhone/iPod touch overrides */
@media only screen and (min-device-width: 320px) and (max-device-width: 480px),
       only screen and (min-device-width: 320px) and (max-device-width: 568px) {
  DIV.page-header {
    margin: 0px;
    padding: 0px;
  }
  DIV.page-header H1 {
    font-size: 30px;
    line-height: 36px;
    margin: 0px;
    padding: 0px;
  }
  DIV.jumbotron {
    margin: 20px 0px 10px; /* top right+left bottom */
    padding: 10px 20px;
  }
  H2 {
    font-size: 25px;
    line-height: 25px;
  }
  H3 {
    font-size: 20px;
    line-height: 20px;
  }
  DIV.footer {
    height: auto;
    padding: 10px 10px 5px; /* top right+left bottom */
    position: relative;
  }
}

/* iPad overrides */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
}

/* Print overrides */
@media print {
/*  DIV.navbar, DIV.container-top UL.breadcrumb {
    display: none;
  }*/

  DIV.container-top {
    padding: 0px;
  }

  DIV.footer {
    font-style: italic;
    position: relative;
  }

  .hidden-print {
    display: none;
  }

  /* Bootstrap adds URLs after every link, stop doing that... */
  a[href]:after {
    content: none !important;
  }

  /* and don't print any form controls, either */
  button, input, option, select {
    display: none !important;
  }
}
