<H2 CLASS="title">{job_id?Flyt jobbet {job_id}:Flyt alle jobs}</H2>

<P>{job_id?<A HREF="/jobs/{job_id}">Jobbet {job_id}</A>:Alle jobs} flyttet til
<A HREF="/{is_class?classes:printers}/{job_printer_name}">{job_printer_name}</A>.</P>
