<P><B>Fejl:</B> Følgende tilvalg er i konflikt:</P>

<UL>
{[ckeyword]<LI><A HREF="#{ckeyword}">{ckeytext}</A>: {cchoice}</LI>
}</UL>

<P>Ændr venligst en eller flere af tilvalgene for at løse konflikterne.</P>
