<H2 CLASS="title">Sæt {is_class?klassen:printeren} {printer_name} på pause</H2>

<P>{is_class?Klassen:Printeren} <A
HREF="/{is_class?classes:printers}/{printer_name}">{printer_name}</A>
blev sat på pause.</P>
