<H2 CLASS="title">Annuller jobs på {is_class?klassen:printeren} {printer_name}</H2>

<P>Alle jobs på {is_class?klassen:printeren} <A
HREF="/{is_class?classes:printers}/{printer_name}">{printer_name}</A>
blev annulleret.</P>
