<H2 CLASS="title">Afvis jobs på {is_class?klassen:printeren} {printer_name}</H2>

<P>{is_class?Klassen:Printeren} <A
HREF="/{is_class?classes:printers}/{printer_name}">{printer_name}</A>
accepterer ikke længere jobs.</P>
