<H2 CLASS="title">Indstil {is_class?klassen:printeren} {printer_name} som standard</H2>

<P>{is_class?Klassen:Printeren} <A
HREF="/{is_class?classes:printers}/{printer_name}">{printer_name}</A>
blev gjort til standardprinteren på serveren.</P>

<BLOCKQUOTE><B>Bemærk:</B> Brugerstandarder som blev indstillet via
<TT>lpoptions</TT>-kommandoen tilsidesætter
standardindstillingen.</BLOCKQUOTE>
