<DIV CLASS="indent">

<H2 CLASS="title">{op=modify-printer?Modifica {printer_name}:Add Printer}</H2>

<FORM METHOD="POST" ACTION="/admin">
<INPUT TYPE="HIDDEN" NAME="org.cups.sid" VALUE="{$org.cups.sid}">
<INPUT TYPE="HIDDEN" NAME="OP" VALUE="{op}">
{printer_name?<INPUT TYPE="HIDDEN" NAME="printer_name" VALUE="{printer_name}">:}

<TABLE>
<TR>
<TH CLASS="label">Connexi&oacute;:</TH>
<TD><INPUT TYPE="HIDDEN" NAME="DEVICE_URI" VALUE="{device_uri}">{device_uri}</TD>
</TR>
<TR>
<TH CLASS="label">Velocitat:</TH>
<TD><SELECT NAME="BAUDRATE">
{[baudrates]<OPTION {?baudrate={baudrates}?SELECTED:}>{baudrates}}
</SELECT></TD>
</TR>
<TR>
<TH CLASS="label">Paritat:</TH>
<TD><SELECT NAME="PARITY">
<OPTION VALUE="none" {?parity=none?SELECTED:}>Cap
<OPTION VALUE="even" {?parity=even?SELECTED:}>Parell
<OPTION VALUE="odd" {?parity=odd?SELECTED:}>Senar
</SELECT></TD>
</TR>
<TR>
<TH CLASS="label">Bits de dades:</TH>
<TD><SELECT NAME="BITS">
<OPTION {?bits=8?SELECTED:}>8
<OPTION {?bits=7?SELECTED:}>7
</SELECT></TD>
</TR>
<TR>
<TH CLASS="label">Control de flux:</TH>
<TD><SELECT NAME="FLOW">
<OPTION VALUE="none" {?flow=none?SELECTED:}>Cap
<OPTION VALUE="soft" {?flow=soft?SELECTED:}>XON/XOFF (Programari)
<OPTION VALUE="hard" {?flow=hard?SELECTED:}>RTS/CTS (Maquinari)
<OPTION VALUE="dtrdsr" {?flow=dtrdsr?SELECTED:}>DTR/DSR (Maquinari)
</SELECT></TD>
</TR>
<TR>
<TD></TD>
<TD><INPUT TYPE="SUBMIT" VALUE="Continua"></TD>
</TR>
</TABLE>

</FORM>
</DIV>
