<DIV CLASS="indent">

<H2 CLASS="title">{title} a {printer_name}</H2>

<P>{job_state>5?:<IMG SRC="/images/wait.gif" WIDTH="16" HEIGHT="16"
ALIGN="ABSMIDDLE" ALT="Busy Indicator"> }Comanda de tasca de la impressora
{job_state=3?pendent:{job_state=4?pausat:
{job_state=5?processant:{job_state=6?aturat:
{job_state=7?cancel·lat:{job_state=8?abortat:completat}}}}}}{job_state=9?:{job_printer_state_message?,
<EM>"{job_printer_state_message}"</EM>:}}</P>

</DIV>
