<SCRIPT TYPE="text/javascript">
function reset_config()
{
  document.cups.CUPSDCONF.value = "{?cupsdconf_default}";
}
</SCRIPT>

<DIV CLASS="indent">

<H2 CLASS="title">Edita el fitxer de configuraci&oacute;</H2>

<FORM NAME="cups" METHOD="POST" ACTION="/admin/">
<INPUT TYPE="HIDDEN" NAME="org.cups.sid" VALUE="{$org.cups.sid}">
<INPUT TYPE="HIDDEN" NAME="OP" VALUE="config-server">

<TEXTAREA NAME="CUPSDCONF" COLS="80" ROWS="25">{CUPSDCONF}</TEXTAREA>

<P><INPUT TYPE="SUBMIT" NAME="SAVECHANGES" VALUE="Desa els canvis">
<INPUT TYPE="BUTTON" VALUE="Fes servir el fitxer de configuaci&oacute; per defecte"
onClick="reset_config();"></P>

</FORM>

</DIV>
