<DIV CLASS="indent">
<FORM ACTION="/help/{?HELPFILE}" METHOD="GET">
{TOPIC?<INPUT TYPE="HIDDEN" NAME="TOPIC" VALUE="{TOPIC}">:}

<P ALIGN="CENTER"><B>Cerca a
{HELPTITLE?{HELPTITLE}:{TOPIC?{TOPIC}:tots els documents}}:</B> <INPUT
TYPE="SEARCH" NAME="QUERY" VALUE="{?QUERY}" SIZE="40" PLACEHOLDER=""
AUTOSAVE="org.cups.help" RESULTS="20">
<INPUT TYPE="SUBMIT" NAME="SEARCH" VALUE="Cerca">
<INPUT TYPE="SUBMIT" NAME="CLEAR" VALUE="Esborra"></P>

</FORM>

<!-- Bookmarks -->
<DIV CLASS="sidebar"><TABLE CLASS="inset" SUMMARY="Contents">
<TR><TD>

<H3 CLASS="title">Documents d'ajuda en l&iacute;nia</H3>

<P CLASS="l0"><A HREF="/help/{QUERY??QUERY={QUERY}:}">Tots els documents</A></P>
<HR>

{[BMTEXT]<P CLASS="l{BMINDENT}"><A HREF="{BMLINK}">{BMTEXT}</A></P>
}
</TD></TR>
</TABLE></DIV>

{QUERY?<P>Resultats de la cerca a {HELPFILE?{HELPTITLE}:{TOPIC?{TOPIC}:tots els documents}}\:</P>
{QTEXT?<UL>
{[QTEXT]<LI><A HREF="{QLINK}">{QTEXT}</A>{QPTEXT? (in <I><A HREF="{QPLINK}">{QPTEXT}</A></I>):}</LI>}
{QTEXT?</UL>:}
:<P>No s'ha trobat cap coincid&egrave;ncia.</P>}
<HR NOSHADE>:}
{HELPTITLE?<H1>{HELPTITLE}</H1>
<FORM ACTION="/help/{?HELPFILE}" METHOD="GET"><INPUT TYPE="HIDDEN" NAME="PRINTABLE" VALUE="YES"><INPUT TYPE="SUBMIT" VALUE="Mostra una versi&oacute; per imprimir"></FORM>:

<H1>Ajuda en l&iacute;nia</H1>

<P>Aquesta &eacute;s la interf&iacute;cie d'ajuda en l&iacute;nia de CUPS. 
Introdu&iuml;u les paraules que vulgueu cercar aqu&iacute; dalt o feu clic als 
enlla&ccedil;os de la documentaci&oacute; per mostrar la informaci&oacute; de
l'ajuda en l&iacute;nia.</P>

<P>Si sou nou a CUPS, llegiu la p&agrave;gina &laquo;<a
href="/help/overview.html">Descripci&oacute; general de CUPS</a>&raquo;. Els 
usuaris veterans haurien de llegir la p&agrave;gina &laquo;<a 
href="/help/whatsnew.html">Que hi ha de nou a CUPS 1.6</a>&raquo;.</P>

<P>La <A HREF="http://www.cups.org/">p&agrave;gina web de CUPS</A> tamb&eacute;
dona cont&eacute; molts recursos que inclouen f&ograve;rums, respostes a les preguntes m&eacute;s
freq&uuml;ents, i un formulari per enviar informes d'errors i demanar noves 
caracter&iacute;stiques.</P>}
