<DIV CLASS="indent">

<H2 CLASS="title">{job_id?Mou la tasca {job_id}:Mou totes les tasques}</H2>

<P>{job_id?<A HREF="/jobs/{job_id}">La tasca s'ha {job_id}</A>:Totes les tasques s'han} mogut a
<A HREF="/{is_class?classes:printers}/{job_printer_name}">{job_printer_name}</A>.</P>

</DIV>
