<P><B>Error:</B> Les seg&uuml;ents opcions entren en conflicte:</P>

<UL>
{[ckeyword]<LI><A HREF="#{ckeyword}">{ckeytext}</A>: {cchoice}</LI>
}</UL>

<P>Canvieu algunes de les opcions per resoldre els conflictes.</P>
