<DIV CLASS="indent">

<H2 CLASS="title">S'ha aplicat la configuraci&oacute; per defecte a {printer_name}</H2>

<P>Les opcions per defecte de la {OP=set-class-options?classe <A HREF="/classes/{printer_name}">:impressora <A HREF="/printers/{printer_name}">}{printer_name}</A> s'han establert correctament.
</DIV>
