<DIV CLASS="indent">

<H2 CLASS="title">Estableix {is_class?Class:Printer} {printer_name} com a predeterminada</H2>

<P>{is_class?Class:Printer} <A
HREF="/{is_class?classes:printers}/{printer_name}">{printer_name}</A>
s'ha establert com a impressora predeterminada.</P>

<BLOCKQUOTE><B>Nota:</B> Qualsevol usuari que hagi estat establert mitjan&ccedil;ant 
la comanda <TT>lpoptions</TT> sobreescriur&agrave; aquesta configuraci&oacute; predeterminada.</BLOCKQUOTE>

</DIV>
