<DIV CLASS="indent">

<H2 CLASS="title">Pausa {is_class?la classe:la impressora} {printer_name}</H2>

<P>{is_class?La classe:La impressora} <A
HREF="/{is_class?classes:printers}/{printer_name}">{printer_name}</A>
s'ha posat en pausa.</P>

</DIV>
