<DIV CLASS="indent">

<H2 CLASS="title">Refusa les tasques a {is_class?la classe:la impressora} {printer_name}</H2>

<P>{is_class?La classe:la impressora} <A
HREF="/{is_class?classes:printers}/{printer_name}">{printer_name}</A>
no accepta tasques a partir d'ara.</P>

</DIV>
