<DIV CLASS="indent">

<H2 CLASS="title">Cancel&middot;la les tasques de {is_class?la classe:la impressora} {printer_name}</H2>

<P>S'han cancel&middot;lat totes les tasques de{is_class?la classe:la impressora} <A
HREF="/{is_class?classes:printers}/{printer_name}">{printer_name}</A>.</P>

</DIV>
