<SCRIPT TYPE="text/javascript"><!--
function select_printers() {
  var list = document.export_samba.EXPORT_NAME;
  var sel = document.export_samba.EXPORT_ALL.checked;

  for (i = 0; i < list.length; i ++) {
    list.options[i].selected = sel;
  }
}
--></SCRIPT>

<FORM METHOD="POST" ACTION="/admin/" NAME="export_samba">
<INPUT TYPE="HIDDEN" NAME="org.cups.sid" VALUE="{$org.cups.sid}">
<INPUT TYPE="HIDDEN" NAME="OP" VALUE="export-samba">

<H2 CLASS="title">Exporta les impressores al Samba</H2>

{error?<P>No es pot exportar les impressores al Samba\:</P>
<BLOCKQUOTE>{error}</BLOCKQUOTE>
<P>Consulteu el fitxer <A HREF="/admin/log/error_log"
TARGET="_blank">error_log</A> per obtenir m&eacute;s informaci&oacute;.</P>:
<P>Aquesta p&agrave;gina us permet exportar les impressores al Samba per tal que
els clients de Windows puguin accedir-hi a trav&eacute;s de les icones <VAR>Xarxa
ve&iuml;na</VAR> o <VAR>Llocs de la xarxa</VAR> del seu
escriptori. Abans heu d'instal&middot;lar el controlador d'impressores Windows PostScript
tal i com s'explica a la p&agrave;gina del manual <A
HREF="/help/man-cupsaddsmb.html"
TARGET="_blank">cupsaddsmb(8)</A>.</P>}

<TABLE>
<TR>
<TH CLASS="label">Impressores:</TH>
<TD>
<SELECT NAME="EXPORT_NAME" SIZE="10" MULTIPLE>
{[printer_name]<OPTION VALUE="{printer_name}"{export_all? SELECTED:{printer_export? SELECTED:}}>{printer_name}}
</SELECT><BR>
<INPUT TYPE="CHECKBOX" NAME="EXPORT_ALL"{export_all? CHECKED:}
onChange="select_printers()"> Exporta totes les impressores
</TD>
</TR>
<TR>
<TH CLASS="label">Nom de l'usuari del Samba:</TH>
<TD><INPUT TYPE="TEXT" NAME="USERNAME" VALUE="{?USERNAME}"> (necessari)</TD>
</TR>
<TR>
<TH CLASS="label">Contrasenya del Samba:</TH>
<TD><INPUT TYPE="PASSWORD" NAME="PASSWORD" VALUE=""> (necess&agrave;ria)</TD>
</TR>
<TR>
<TD></TD>
<TD><INPUT TYPE="SUBMIT" VALUE="Exporta les impressores al Samba"></TD>
</TR>
</TABLE>

</FORM>
