<DIV CLASS="indent">

<H2 CLASS="title">Imprimeix una p&agrave;gina de prova a {printer_name}</H2>

<P>S'ha enviat la p&agrave;gina de prova; l'ID de la tasca &eacute;s <A HREF="/{SECTION}/{printer_name}">
{printer_name}-{job_id}</A>.</P>

</DIV>
