</TD></TR>
<TR><TD>&nbsp;</TD></TR>
<TR><TD CLASS="trailer">CUPS i el logotip de CUPS s&oacute;n marques registrades per
<A HREF="http://www.apple.com">Apple Inc.</A> CUPS t&eacute; copyright 2007-2013 Apple
Inc. Tots els drets reservats.</TD></TR>
</TABLE>
</BODY>
</HTML>
