# DO NOT DELETE

http.o: string.h config.h http.h md5.h ipp.h debug.h
http-addr.o: http.h string.h config.h md5.h debug.h
ipp.o: string.h config.h ipp.h http.h md5.h debug.h
md5.o: md5.h string.h config.h
md5passwd.o: http.h string.h config.h md5.h
snprintf.o: string.h config.h
string.o: string.h config.h
testhttp.o: http.h string.h config.h md5.h
