[submodule "stable"]
	path = stable
	url = https://github.com/michaelrsweet/cups.git
	branch = branch-2.1
[submodule "development"]
	path = development
	url = https://github.com/michaelrsweet/cups.git
