---
title: CUPS.org
layout: default
---

<div class="jumbotron">
  <h1>CUPS</h1>
  <p>CUPS is the standards-based, open source printing system developed by <a href="http://www.apple.com/">Apple Inc.</a> for macOS<sup>&reg;</sup> and other UNIX<sup>&reg;</sup>-like operating systems. CUPS uses the Internet Printing Protocol (IPP) to support printing to local and network printers.</p>
  <p><a class="btn btn-primary btn-large" href="{{site.github.repository_url}}/releases"><span class="glyphicon glyphicon-download-alt"></span> Download CUPS</a>
  <a class="btn btn-default btn-large" href="{{site.github.repository_url}}">Github Repository</a>
  <a class="btn btn-default btn-large" href="doc/license.html">License</a>
  <a class="btn btn-default btn-large" href="faq.html">Frequently Asked Questions</a></p>
</div>

{% for post in site.posts offset: 0 limit: 3 %}
<hr>
<h2><small class="float-right muted">{{ post.date | date_to_string }}</small>{{post.title}}</h2>
{{ post.excerpt }}
{% if post.excerpt != post.content %}
<p><a class="btn btn-default btn-xs" href=".{{ post.url }}">More</a></p>
{% endif %}
{% endfor %}
