<TABLE CELLPADDING="0" CELLSPACING="0" WIDTH="100%" SUMMARY="管理任務">
<TR><TD VALIGN="TOP" NOWRAP>

<H2 CLASS="title">印表機</H2>

<P>
<A HREF="/admin?op=add-printer"><IMG
SRC="/images/button-add-printer.gif" ALT="加入印表機" CLASS="button"></A>
<A HREF="/printers/"><IMG SRC="/images/button-manage-printers.gif"
ALT="管理印表機" CLASS="button"></A>
{have_samba?<A HREF="/admin/?op=export-samba"><IMG
SRC="/images/button-export-samba.gif" ALT="匯出印表機到 Samba"
CLASS="button"></A>:}
</P>

{#device_uri=0?:<P><B>找到新的印表機：</B></P><UL>{[device_uri]
<LI><A HREF="/admin?op=add-printer&amp;{device_options}"><IMG
SRC="/images/button-add-this-printer.gif" ALT="加入此印表機" CLASS="button"
ALIGN="MIDDLE"></A>
{device_make_and_model} ({device_info})</LI>
}</UL>}

<H2 CLASS="title">分類</H2>

<P>
<A HREF="/admin?op=add-class"><IMG SRC="/images/button-add-class.gif"
ALT="加入分類" CLASS="button"></A>
<A HREF="/classes/"><IMG SRC="/images/button-manage-classes.gif"
ALT="管理分類" CLASS="button"></A>
</P>

<H2 CLASS="title">工作</H2>

<P>
<A HREF="/jobs/"><IMG SRC="/images/button-manage-jobs.gif" ALT="管理
工作" CLASS="button"></A>
</P>

</TD><TD>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</TD><TD VALIGN="TOP">

<H2 CLASS="title">伺服器</H2>

<P>
<A HREF="/admin?op=config-server"><IMG
SRC="/images/button-edit-configuration-file.gif" ALT="編輯配置
檔案" CLASS="button"></A>
<A HREF="/admin/log/access_log" TARGET="_blank"><IMG
SRC="/images/button-view-access-log.gif" ALT="檢視存取記錄"
CLASS="button"></A>
<A HREF="/admin/log/error_log" TARGET="_blank"><IMG
SRC="/images/button-view-error-log.gif" ALT="檢視錯誤記錄"
CLASS="button"></A>
<A HREF="/admin/log/page_log" TARGET="_blank"><IMG
SRC="/images/button-view-page-log.gif" ALT="檢視頁面記錄"
CLASS="button"></A>
</P>

{SETTINGS_ERROR?<P>{SETTINGS_MESSAGE}</P>
<BLOCKQUOTE>{SETTINGS_ERROR}</BLOCKQUOTE>:

<FORM METHOD="POST" ACTION="/admin">

<P><B>基本伺服器設定值：</B></P>

<P><INPUT TYPE="HIDDEN" NAME="OP" VALUE="config-server">
<INPUT TYPE="CHECKBOX" NAME="REMOTE_PRINTERS" {?remote_printers}> 顯示其他系統分享的印表機<BR>
<INPUT TYPE="CHECKBOX" NAME="SHARE_PRINTERS" {?share_printers}> 分享連接到此系統的公開印表機<BR>
<INPUT TYPE="CHECKBOX" NAME="REMOTE_ADMIN" {?remote_admin}> 允許遠端管理<BR>
<INPUT TYPE="CHECKBOX" NAME="USER_CANCEL_ANY" {?user_cancel_any}> 允許使用者取消任何工作 (而非只有他們所擁有的)<BR>
<INPUT TYPE="CHECKBOX" NAME="DEBUG_LOGGING" {?debug_logging}> 儲存除錯資訊以便解決問題</P>

<P><INPUT TYPE="IMAGE" SRC="/images/button-change-settings.gif" ALT="變更設定值"></P>

</FORM>}

</TD></TR>
</TABLE>
