<P><B>警告：</B> 您確定要刪除分類
{printer_name} 嗎？</P>

<P ALIGN="CENTER"><A
HREF="/admin?op=delete-class&printer_name={printer_name}&confirm=yes"><IMG
SRC="/images/button-delete-class.gif" ALT="刪除分類"
CLASS="button"></A></P>
