<FORM ACTION="/help/{?HELPFILE}" METHOD="GET">
{TOPIC?<INPUT TYPE="HIDDEN" NAME="TOPIC" VALUE="{TOPIC}">:}

<P ALIGN="CENTER"><B>搜尋於
{HELPTITLE?{HELPTITLE}:{TOPIC?{TOPIC}:所有文件}}:</B> <INPUT
TYPE="TEXT" NAME="QUERY" VALUE="{?QUERY}" SIZE="60"> <INPUT
TYPE="IMAGE" SRC="/images/button-search.gif" ALT="搜尋">
<A HREF="/help/{?HELPFILE}{QUERY?{TOPIC??TOPIC={TOPIC}:}:}"><IMG
SRC="/images/button-clear.gif" ALT="清空" CLASS="button"></A></P>

</FORM>

<!-- Bookmarks -->
<DIV CLASS="sidebar">
<H3 CLASS="title">線上說明文件</H3>

<P CLASS="l0"><A HREF="/help/{QUERY??QUERY={QUERY}:}">所有文件</A></P>
<HR>

{[BMTEXT]<P CLASS="l{BMINDENT}"><A HREF="{BMLINK}">{BMTEXT}</A></P>
}
</DIV>

{QUERY?<P>搜尋結果於 {HELPFILE?{HELPTITLE}:{TOPIC?{TOPIC}:所有文件}}\:</P>
{QTEXT?<UL>
{[QTEXT]<LI><A HREF="{QLINK}">{QTEXT}</A>{QPTEXT? (in <I><A HREF="{QPLINK}">{QPTEXT}</A></I>):}</LI>}
{QTEXT?</UL>:}
:<P>找不到符合者。</P>}
<HR NOSHADE>:}
{HELPTITLE?<H1>{HELPTITLE}
<A HREF="/help/{HELPFILE}?PRINTABLE=YES" TARGET="_blank"><IMG
SRC="/images/button-view-printable-version.gif" ALT="檢視可列印版本"
CLASS="button"></A></H1>:<H1>CUPS 說明頁面</H1>

<P>這是 CUPS 線上說明介面。在上方輸入搜尋字詞
或是按下任何的文件連結以顯示線上說明資訊。</P>

<P>如果您剛接觸 CUPS，請參閱 "<a
href="overview.html">CUPS 概觀</a>" 頁面。有經驗的使用者
應該參閱 "<a href="whatsnew.html">CUPS 1.3 有何新功能</a>" 頁面。</P>

<P><A HREF="http://www.cups.org/">CUPS 首頁</A> 也
提供許多資源，包括使用者論壇、常見問題的回答，
以及用來提交錯誤報告與功能需求的表格。</P>}
