<P>{?which_jobs=?<A
HREF="{?printer_name=?/jobs:{printer_uri_supported}}?which_jobs=completed"><IMG
SRC="/images/button-show-completed.gif" CLASS="button" ALT="顯示已完成工作"></A>
<A HREF="{?printer_name=?/jobs:{printer_uri_supported}}?which_jobs=all"><IMG
SRC="/images/button-show-all.gif" CLASS="button" ALT="顯示所有工作">:{which_jobs=all?<A
HREF="{?printer_name=?/jobs:{printer_uri_supported}}?which_jobs=completed"><IMG
SRC="/images/button-show-completed.gif" CLASS="button" ALT="顯示已完成工作"></A>
<A HREF="{?printer_name=?/jobs:{printer_uri_supported}}"><IMG
SRC="/images/button-show-active.gif" CLASS="button" ALT="顯示進行中工作">:<A
HREF="{?printer_name=?/jobs:{printer_uri_supported}}"><IMG
SRC="/images/button-show-active.gif" CLASS="button" ALT="顯示進行中工作"></A>
<A HREF="{?printer_name=?/jobs:{printer_uri_supported}}?which_jobs=all"><IMG
SRC="/images/button-show-all.gif" CLASS="button" ALT="顯示所有工作">}}</A></P>

<P ALIGN="CENTER">{total=0?No jobs:Showing {#job_id} of {total} {?which_jobs=?active:{which_jobs=all?:completed}} job{total=1?:s}}.</P>
