<P><B>警告:</B> 您確定要刪除印表機 {printer_name} 嗎？</P>

<P ALIGN="CENTER"><A
HREF="/admin?op=delete-printer&printer_name={printer_name}&confirm=yes"><IMG
SRC="/images/button-delete-printer.gif" ALT="刪除印表機"
CLASS="button"></A></P>
