<P>{is_class?分類:印表機} <A
HREF="/{is_class?classes:printers}/{printer_name}">{printer_name}</A>
已被設為伺服器上的預設印表機。</P>

<BLOCKQUOTE><B>注意:</B> 任何經由 <TT>lpoptions</TT> 命令所設定的使用者預設值，
將會蓋過此一設定值。</BLOCKQUOTE>
