</TD>
<TD WIDTH="15">&nbsp;</TD>
</TR>
<TR CLASS="trailer">
<TD VALIGN="BOTTOM" WIDTH="15"><IMG SRC="/images/bottom-left.gif"
WIDTH="15" HEIGHT="15" ALT=""></TD>
<TD COLSPAN="2" WIDTH="100%" STYLE="padding: 5;">

<P><SMALL>Common UNIX Printing System、CUPS 以及 CUPS 圖標都是
<A HREF="http://www.easysw.com">Easy Software Products</A>
的商標財產。CUPS 是 1997-2007 由 Easy Software Products 版權所有，
保留一切權利。</SMALL></P>

</TD>

<TD ALIGN="RIGHT" VALIGN="BOTTOM" WIDTH="15"><IMG SRC="/images/bottom-right.gif"
WIDTH="15" HEIGHT="15" ALT=""></TD>
</TR>
</TABLE>
</BODY>
</HTML>
