<FORM METHOD="POST" ACTION="/admin">
<INPUT TYPE="HIDDEN" NAME="OP" VALUE="{OP}">
<INPUT TYPE="HIDDEN" NAME="PRINTER_NAME" VALUE="{printer_name}">
{IS_CLASS?<INPUT TYPE="HIDDEN" NAME="IS_CLASS" VALUE="{IS_CLASS}">:}

<H2 CLASS="title">{printer_name} 所允許的使用者</H2>

<TABLE>
<TR>
<TH CLASS="label">使用者：</TH>
<TD>
<INPUT TYPE='TEXT' NAME='users' SIZE='60' VALUE='{?requesting_user_name_allowed}{?requesting_user_name_denied}'>
<BR>
<INPUT TYPE='RADIO' NAME='type' VALUE='requesting-user-name-allowed' {requesting_user_name_allowed?checked:}>允許這些使用者列印
<INPUT TYPE='RADIO' NAME='type' VALUE='requesting-user-name-denied' {requesting_user_name_denied?checked:}>拒絕這些使用者列印
</TD>
</TR>
<TR>
<TD></TD>
<TD>
<INPUT TYPE="IMAGE" SRC="/images/button-set-allowed-users.gif" ALT="設定允許的使用者">
</TD>
</TR>
</TABLE>

</FORM>
