<DIV CLASS="indent">
<H2 CLASS="title"><A HREF="{printer_uri_supported}">{printer_name}</A>
({printer_state=3?Inativa:{printer_state=4?Processando:Pausada}},
{printer_is_accepting_jobs=0?Rejeitando trabalhos:Aceitando trabalhos},
{server_is_sharing_printers=0?Não compartilhada:{printer_is_shared=0?Não compartilhada:Compartilhada}} {default_name={printer_name}?, Padrão do servidor:})</H2>

<FORM METHOD="POST" ACTION="{printer_uri_supported}" NAME="maintenance">
<INPUT TYPE="HIDDEN" NAME="org.cups.sid" VALUE="{$org.cups.sid}">
<SELECT NAME="OP" ONCHANGE="document.maintenance.submit();">
<OPTION VALUE="">Manutenção</OPTION>
<OPTION VALUE="print-test-page">Imprimir página de teste</OPTION>
{printer_state=5?<OPTION VALUE="start-class">Resumir classe</OPTION>:<OPTION VALUE="stop-class">Pausar classe</OPTION>}
{printer_is_accepting_jobs=0?<OPTION VALUE="accept-jobs">Aceitar trabalhos</OPTION>:<OPTION VALUE="reject-jobs">Rejeitar trabalhos</OPTION>}
<OPTION VALUE="move-jobs">Mover todos trabalhos/OPTION>
<OPTION VALUE="purge-jobs">Cancelar todos trabalhos</OPTION>
</SELECT>
<INPUT TYPE="SUBMIT" VALUE="Ir" STYLE="display: none;">
</FORM>

<FORM METHOD="POST" ACTION="{admin_uri}" NAME="administration">
<INPUT TYPE="HIDDEN" NAME="org.cups.sid" VALUE="{$org.cups.sid}">
<INPUT TYPE="HIDDEN" NAME="printer_name" VALUE="{printer_name}">
<INPUT TYPE="HIDDEN" NAME="IS_CLASS" VALUE="1">
<SELECT NAME="OP" ONCHANGE="document.administration.submit();">
<OPTION VALUE="">Administração</OPTION>
<OPTION VALUE="modify-class">Modificar classe</OPTION>
<OPTION VALUE="delete-class">Excluir classe</OPTION>
<OPTION VALUE="set-class-options">Definir opções padrão</OPTION>
<OPTION VALUE="set-as-default">Definir como servidor padrão</OPTION>
<OPTION VALUE="set-allowed-users">Definir usuários permitidos</OPTION>
</SELECT>
<INPUT TYPE="SUBMIT" VALUE="Ir" STYLE="display: none;">
</FORM>

<TABLE SUMMARY="{printer_name}">
<TR><TH ALIGN="RIGHT" VALIGN="TOP">Descrição:</TH><TD>{printer_info}</TD></TR>
<TR><TH ALIGN="RIGHT" VALIGN="TOP">Localização:</TH><TD>{printer_location}</TD></TR>
<TR><TH ALIGN="RIGHT" VALIGN="TOP">Membros:</TH><TD>{?member_uris=?None:{member_uris}}</TD></TR>
<TR><TH ALIGN="RIGHT" VALIGN="TOP">Padrões:</TH><TD>job-sheets={job_sheets_default}
media={media_default?{media_default}:desconhecido}
{sides_default?sides={sides_default}:}</TD></TR>
</TABLE>

</DIV>
