<P><B>Erro:</B> As seguintes op&ccedil;&otilde;es est&atilde;o conflitando:</P>

<UL>
{[ckeyword]<LI><A HREF="#{ckeyword}">{ckeytext}</A>: {cchoice}</LI>
}</UL>

<P>Por favor, altere uma ou mais op&ccedil;&otilde;es para resolver os conflitos.</P>
