<P><B>Erro:</B> As seguintes opções estão conflitando:</P>

<UL>
{[ckeyword]<LI><A HREF="#{ckeyword}">{ckeytext}</A>: {cchoice}</LI>
}</UL>

<P>Por favor, altere uma ou mais opções para resolver os conflitos.</P>
