<H2 CLASS="title">Definir a {is_class?classe:impressora} {printer_name} como padr&atilde;o</H2>

<P>A {is_class?classe:impressora} <A
HREF="/{is_class?classes:printers}/{printer_name}">{printer_name}</A>
foi definida como a impressora padr&atilde;o no servidor.</P>

<BLOCKQUOTE><B>Nota:</B> O padr&atilde;o de qualquer usu&aacute;rio que tenha sido configurado via
do comando <TT>lpoptions</TT> vai sobrepor esta configura&ccedil;&atilde;o padr&atilde;o.</BLOCKQUOTE>
