<DIV CLASS="indent">

<H2 CLASS="title">Configurar opções padrão para {printer_name}</H2>

<P>As opções padrão da {OP=set-class-options?classe <A HREF="/classes/{printer_name}">:impressora <A HREF="/printers/{printer_name}">}{printer_name}</A>
foram configuradas com sucesso.

</DIV>
