<H2 CLASS="title">Pausar a {is_class?classe:impressora} {printer_name}</H2>

<P>A {is_class?classe:impressora} <A
HREF="/{is_class?classes:printers}/{printer_name}">{printer_name}</A>
foi pausada.</P>