<DIV CLASS="indent">

<H2 CLASS="title">Resumir a {is_class?classe:impressora} {printer_name}</H2>

<P>A {is_class?classe:impressora} <A
HREF="/{is_class?classes:printers}/{printer_name}">{printer_name}</A>
foi resumida com sucesso.</P>

</DIV>