<DIV CLASS="indent">

<H2 CLASS="title">Eliminar trabalhos na {is_class?classe:impressora} {printer_name}</H2>

<P>Todos os trabalhos da {is_class?classe:impressora} <A
HREF="/{is_class?classes:printers}/{printer_name}">{printer_name}</A>
foram eliminados.</P>

</DIV>