<H2 CLASS="title">Configurar op&ccedil;&otilde;es padr&atilde;o para {printer_name}</H2>

<P>As op&ccedil;&otilde;es padr&otilde;es da {OP=set-class-options?classe <A HREF="/classes/{printer_name}">:impressora <A HREF="/printers/{printer_name}">}{printer_name}</A>
foram configuradas com sucesso.
