<DIV CLASS="indent">

<H2 CLASS="title">Definir a {is_class?classe:impressora} {printer_name} como padrão</H2>

<P>A {is_class?classe:impressora} <A
HREF="/{is_class?classes:printers}/{printer_name}">{printer_name}</A>
foi definida como a impressora padrão no servidor.</P>

<BLOCKQUOTE><B>Nota:</B> O padrão de qualquer usuário que tenha sido configurado via
do comando <TT>lpoptions</TT> vai sobrepor esta configuração padrão.</BLOCKQUOTE>

</DIV>
