<DIV CLASS="indent">

<H2 CLASS="title">Aceitar trabalhos na {is_class?classe:impressora} {printer_name}</H2>

<P>A {is_class?classe:impressora} <A
HREF="/{is_class?classes:printers}/{printer_name}">{printer_name}</A>
agora está aceitando trabalhos.</P>

</DIV>
