<DIV CLASS="indent">

<H2 CLASS="title">Alterar configurações</H2>

<P><IMG SRC="/images/wait.gif" WIDTH="16" HEIGHT="16" ALIGN="ABSMIDDLE"
ALT="Busy Indicator"> Por favor, aguarde enquanto o servidor é reiniciado...</P>

</DIV>
