<DIV CLASS="indent">

<H2 CLASS="title">Imprimir página de teste em {printer_name}</H2>

<P>Página de teste enviada; o ID do trabalho é <A HREF="/{SECTION}/{printer_name}">
{printer_name}-{job_id}</A>.</P>

</DIV>
