<H2 CLASS="title">Imprimir p&aacute;gina de teste em {printer_name}</H2>

<P>P&aacute;gina de teste enviada; o ID do trabalho &eacute; <A HREF="/{SECTION}/{printer_name}">
{printer_name}-{job_id}</A>.</P>
