<DIV CLASS="indent">
<FORM ACTION="/help/{?HELPFILE}" METHOD="GET">
{TOPIC?<INPUT TYPE="HIDDEN" NAME="TOPIC" VALUE="{TOPIC}">:}

<P ALIGN="CENTER"><B>Hledat v{HELPTITLE? {HELPTITLE}:{TOPIC? {TOPIC}:e všech dokumentech}}:</B> <INPUT
TYPE="SEARCH" NAME="QUERY" VALUE="{?QUERY}" SIZE="40" PLACEHOLDER=""
AUTOSAVE="org.cups.help" RESULTS="20">
<INPUT TYPE="SUBMIT" NAME="SEARCH" VALUE="Hledat">
<INPUT TYPE="SUBMIT" NAME="CLEAR" VALUE="Smazat"></P>

</FORM>

<!-- Bookmarks -->
<DIV CLASS="sidebar"><TABLE CLASS="inset" SUMMARY="Contents">
<TR><TD>

<H3 CLASS="title">Dokumenty nápovědy</H3>

<P CLASS="l0"><A HREF="/help/{QUERY??QUERY={QUERY}:}">Všechny dokumenty</A></P>
<HR>

{[BMTEXT]<P CLASS="l{BMINDENT}"><A HREF="{BMLINK}">{BMTEXT}</A></P>
}
</TD></TR>
</TABLE></DIV>

{QUERY?<P>Výsledky hledání v{HELPFILE? {HELPTITLE}:{TOPIC? {TOPIC}:e všech dokumentech}}\:</P>
{QTEXT?<UL>
{[QTEXT]<LI><A HREF="{QLINK}">{QTEXT}</A>{QPTEXT? (v <I><A HREF="{QPLINK}">{QPTEXT}</A></I>):}</LI>}
{QTEXT?</UL>:}
:<P>Nebyl nalezen záznam.</P>}
<HR NOSHADE>:}
{HELPTITLE?<H1>{HELPTITLE}</H1>
<FORM ACTION="/help/{?HELPFILE}" METHOD="GET"><INPUT TYPE="HIDDEN" NAME="PRINTABLE" VALUE="YES"><INPUT TYPE="SUBMIT" VALUE="Zobrazit verzi pro tisk"></FORM>:

<H1>Nápověda</H1>

<P>Toto je rozhraní nápovědy CUPS. Zadejte hledané slovo nebo klikněte na
některý z odkazů dokumentace k zobrazení nápovědy.</P>

<P>Pokud jste nový uživatel programu CUPS, přečtěte si stránku "<a
href="/help/overview.html">Popis programu CUPS</a>". Zkušení uživatelé by
si měli přečíst stránku "<a href="/help/whatsnew.html">Co je nového v CUPS 1.6</a>".</P>

<P><A HREF="http://www.cups.org/">Hlavní strana programu CUPS</A> také
poskytuje mnoho zdrojů, včetně uživatelského diskuzního fóra, odpovědí
na často kladené otázky a formuláře pro odesílání zpráv o chybách a
požadavky na nové funkce.</P>}
