<DIV CLASS="indent">

<H2 CLASS="title">{job_id?Přesun úlohy {job_id}:Přesun všech úloh}</H2>

<P>{job_id?<A HREF="/jobs/{job_id}">Úloha přesunuta {job_id}</A>:Všechny úlohy přesunuty} na tiskárnu 
<A HREF="/{is_class?classes:printers}/{job_printer_name}">{job_printer_name}</A>.</P>

</DIV>
