<P><B>Chyba:</B> Následující parametry jsou v rozporu:</P>

<UL>
{[ckeyword]<LI><A HREF="#{ckeyword}">{ckeytext}</A>: {cchoice}</LI>
}</UL>

<P>Prosím změňte jeden nebo více parametrů pro vyřešení problému.</P>
