<DIV CLASS="indent">

<H2 CLASS="title">Pozastavení {is_class?třídy:tiskárny} {printer_name}</H2>

<P>{is_class?Třída:Tiskárna} <A
HREF="/{is_class?classes:printers}/{printer_name}">{printer_name}</A>
byla pozastavena.</P>

</DIV>