<DIV CLASS="indent">

<H2 CLASS="title">Nastavení {is_class?třídy:tiskárny} {printer_name} jako výchozí</H2>

<P>{is_class?Třída:Tiskárna} <A
HREF="/{is_class?classes:printers}/{printer_name}">{printer_name}</A>
byla nastavena jako výchozí na serveru.</P>

<BLOCKQUOTE><B>Pozn.</B> libovolný uživatel může pomocí příkazu <TT>lpoptions</TT> přepsat toto nastavení.</BLOCKQUOTE>

</DIV>
