<DIV CLASS="indent">

<H2 CLASS="title">Nastavení parametrů u {printer_name}</H2>

<P>{OP=set-class-options?Class <A HREF="/classes/{printer_name}">:Tiskárna <A HREF="/printers/{printer_name}">}{printer_name}</A>
byla úspěšně nastavena.

</DIV>
