<DIV CLASS="indent">

<H2 CLASS="title">Odmítnutí úloh u {is_class?třídy:tiskárny} {printer_name}</H2>

<P>{is_class?Třída:Tiskárna} <A
HREF="/{is_class?classes:printers}/{printer_name}">{printer_name}</A>
už nepřijímá úlohy.</P>

</DIV>
