<DIV CLASS="indent">

<H2 CLASS="title">Výmaz úloh u {is_class?třídy:tiskárny} {printer_name}</H2>

<P>U {is_class?třídy:tiskárny} <A
HREF="/{is_class?classes:printers}/{printer_name}">{printer_name}</A>
byly vymazány všechny úlohy.</P>

</DIV>

