<DIV CLASS="indent">

<H2 CLASS="title">Změna nastavení</H2>

<P><IMG SRC="/images/wait.gif" WIDTH="16" HEIGHT="16" ALIGN="ABSMIDDLE"
ALT="Busy Indicator"> Prosím čekejte, probíhá restart serveru ...</P>

</DIV>
