</TD></TR>
<TR><TD>&nbsp;</TD></TR>
<TR><TD CLASS="trailer">CUPS a logo CUPS jsou ochranné známky společnosti
<A HREF="http://www.apple.com">Apple Inc.</A> CUPS je chráněn autorskými
právy 2007-2013 Apple Inc. Všechna práva vyhrazena.</TD></TR>
</TABLE>
</BODY>
</HTML>
