<DIV CLASS="indent">

<H2 CLASS="title">Hapus Kelas {printer_name}</H2>

<P><B>Peringatan:</B> Anda yakin untuk menghapus kelas
{printer_name}?</P>

<P ALIGN="CENTER"><FORM ACTION="/admin/" METHOD="POST"><INPUT TYPE="HIDDEN" NAME="org.cups.sid" VALUE="{$org.cups.sid}"><INPUT TYPE="HIDDEN" NAME="op" VALUE="delete-class"><INPUT TYPE="HIDDEN" NAME="printer_name" VALUE="{printer_name}"><INPUT TYPE="SUBMIT" NAME="confirm" VALUE="Hapus Kelas"></FORM></P>

</DIV>
