<P><B>Peringatan:</B> Apakah Anda yakin untuk menghapus kelas {printer_name}?</P>

<P ALIGN="CENTER"><A
HREF="/admin?op=delete-class&printer_name={printer_name}&confirm=yes"><IMG
SRC="/images/button-delete-class.gif" ALT="Hapus Kelas"
CLASS="button"></A></P>
