<DIV CLASS="indent">
<H2 CLASS="title"><A HREF="{printer_uri_supported}">{printer_name}</A>
({printer_state=3?Idle:{printer_state=4?Memproses:Ditahan}},
{printer_is_accepting_jobs=0?Menolak Tugas:Menerima Tugas},
{server_is_sharing_printers=0?Jangan:{printer_is_shared=0?Jangan:}} Berbagi{default_name={printer_name}?, Server Baku:})</H2>

<FORM METHOD="POST" ACTION="{printer_uri_supported}" NAME="maintenance">
<SELECT NAME="OP" ONCHANGE="document.maintenance.submit();">
<OPTION VALUE="">Perawatan</OPTION>
<OPTION VALUE="print-test-page">Halaman Uji Cetak</OPTION>
{printer_state=5?<OPTION VALUE="start-class">Resume Kelas</OPTION>:<OPTION VALUE="stop-class">Tahan Kelas</OPTION>}
{printer_is_accepting_jobs=0?<OPTION VALUE="accept-jobs">Terima Tugas</OPTION>:<OPTION VALUE="reject-jobs">Tolak Tugas</OPTION>}
<OPTION VALUE="move-jobs">Pindahkan Semua Tugas</OPTION>
<OPTION VALUE="purge-jobs">Batalkan Semua Tugas</OPTION>
</SELECT>
<INPUT TYPE="SUBMIT" VALUE="Lakukan!" STYLE="display: none;">
</FORM>

<FORM METHOD="POST" ACTION="{admin_uri}" NAME="administration">
<INPUT TYPE="HIDDEN" NAME="printer_name" VALUE="{printer_name}">
<SELECT NAME="OP" ONCHANGE="document.administration.submit();">
<OPTION VALUE="">Administrasi</OPTION>
<OPTION VALUE="modify-class">Ubah Kelas</OPTION>
<OPTION VALUE="delete-class">Hapus Kelas</OPTION>
<OPTION VALUE="set-class-options">Atur Opsi Baku</OPTION>
<OPTION VALUE="set-as-default">Atur Sebagai Server Baku</OPTION>
<OPTION VALUE="set-allowed-users">Atur Pengguna yang Diperbolehkan</OPTION>
</SELECT>
<INPUT TYPE="SUBMIT" VALUE="Lakukan!" STYLE="display: none;">
</FORM>

<TABLE SUMMARY="{printer_name}">
<TR><TH ALIGN="RIGHT" VALIGN="TOP">Deskripsi:</TH><TD>{printer_info}</TD></TR>
<TR><TH ALIGN="RIGHT" VALIGN="TOP">Lokasi:</TH><TD>{printer_location}</TD></TR>
<TR><TH ALIGN="RIGHT" VALIGN="TOP">Anggota:</TH><TD>{?member_uris=?None:{member_uris}}</TD></TR>
<TR><TH ALIGN="RIGHT" VALIGN="TOP">Baku:</TH><TD>job-sheets={job_sheets_default}
media={media_default?{media_default}:unknown}
{sides_default?sides={sides_default}:}</TD></TR>
</TABLE>

</DIV>
