<FORM METHOD="POST" ACTION="/admin">
<INPUT TYPE="HIDDEN" NAME="OP" VALUE="{op}">
{?device_uri=?:<INPUT TYPE="HIDDEN" NAME="CURRENT_DEVICE_URI" VALUE="{device_uri}">}
{?printer_make_and_model=?:<INPUT TYPE="HIDDEN" NAME="CURRENT_MAKE_AND_MODEL" VALUE="{printer_make_and_model}">}

<H2 CLASS="title">Mengubah Pencetak {printer_name}</H2>

<TABLE>
<TR>
<TH CLASS="label">Nama:</TH>
<TD><INPUT TYPE="HIDDEN" NAME="PRINTER_NAME" VALUE="{printer_name}">{printer_name}</TD>
</TR>
<TR>
<TH CLASS="label">Lokasi:</TH>
<TD><INPUT TYPE="TEXT" NAME="PRINTER_LOCATION" VALUE="{?printer_location}" SIZE="40" MAXLENGTH="127"><BR>
<SMALL>(Lokasi yang bisa dibaca manusia, seperti "Lab 1")</SMALL></TD>
</TR>
<TR>
<TH CLASS="label">Deskripsi:</TH>
<TD><INPUT TYPE="TEXT" NAME="PRINTER_INFO" VALUE="{?printer_info}" SIZE="40" MAXLENGTH="127"><BR>
<SMALL>(Deskripsi yang bisa dibaca manusia, seperti "HP LaserJet dengan Duplexer")</SMALL></TD>
</TR>
<TR>
<TD></TD>
<TD><INPUT TYPE="IMAGE" SRC="/images/button-continue.gif" ALT="Lanjut"></TD>
</TR>
</TABLE>

</FORM>
