<P><B>Kesalahan:</B> Opsi berikut ini konflik:</P>

<UL>
{[ckeyword]<LI><A HREF="#{ckeyword}">{ckeytext}</A>: {cchoice}</LI>
}</UL>

<P>Silakan ubah satu atau lebih opsi yang ada untuk memperbaiki masalah ini.</P>
