<P><B>Kesalahan:</B> Pilihan berikut mengalami konflik:</P>

<UL>
{[ckeyword]<LI><A HREF="#{ckeyword}">{ckeytext}</A></LI>
}</UL>

<P>Silakan ubah satu atau lebih pilihan tersebut untuk menyelesaikan konflik yang terjadi.</P>
