<TABLE WIDTH="100%" CLASS="pager" SUMMARY="Paging Bar">
<TR>
	<TD WIDTH="33%">{PREVURL?<A HREF="{PREVURL}"><IMG SRC="/images/button-show-previous.gif" ALT="Lihat Sebelumnya" CLASS="button"></A>:&nbsp;}</TD>
	<TD WIDTH="34%" ALIGN="CENTER">{ORDER=dec?<A HREF="{THISURL}&amp;ORDER=asc"><IMG SRC="/images/button-sort-ascending.gif" ALT="Urut Menaik" CLASS="button"></A>:<A HREF="{THISURL}&amp;ORDER=dec"><IMG SRC="/images/button-sort-descending.gif" ALT="Urut Menurun" CLASS="button"></A>}</TD>
	<TD WIDTH="33%" ALIGN="RIGHT">{NEXTURL?<A HREF="{NEXTURL}"><IMG SRC="/images/button-show-next.gif" ALT="Lihat Berikutnya" CLASS="button"></A>:&nbsp;}</TD>
</TR>
</TABLE>
