<DIV CLASS="indent">

<H2 CLASS="title">Menjalankan Ulang {is_class?Kelas:Pencetak} {printer_name}</H2>

<P>{is_class?Kelas:Pencetak} <A
HREF="/{is_class?classes:printers}/{printer_name}">{printer_name}</A>
telah dijalankan lagi.</P>

</DIV>
