<DIV CLASS="indent">

<H2 CLASS="title">Terima Tugas dari {is_class?Kelas:Pencetak} {printer_name}</H2>

<P>{is_class?Kelas:Pencetak} <A
HREF="/{is_class?classes:printers}/{printer_name}">{printer_name}</A>
kini menerima tugas.</P>

</DIV>
