<P>{is_class?Kelas:Pencetak} <A
HREF="/{is_class?classes:printers}/{printer_name}">{printer_name}</A>
telah dijadikan sebagai pencetak utama pada <I>server</I>.<P>

<BLOCKQUOTE><B>Catatan:</B> Semua pengguna utama yang telah diatur melalui
perintah <TT>lpoptions</TT> akan menulis ulang pengaturan utama ini.</BLOCKQUOTE>
