<DIV CLASS="indent">

<H2 CLASS="title">Atur Opsi Baku untuk {printer_name}</H2>

<P>Opsi baku {OP=set-class-options?kelas <A HREF="/classes/{printer_name}">:pencetak <A HREF="/printers/{printer_name}">}{printer_name}</A>
telah berhasil ditetapkan.

</DIV>
