<DIV CLASS="indent">

<H2 CLASS="title">Atur {is_class?Kelas:Pencetak} {printer_name} sebagai Baku</H2>

<P>{is_class?Kelas:Pencetak} <A
HREF="/{is_class?classes:printers}/{printer_name}">{printer_name}</A>
telah dijadikan pencetak utama pada server.</P>

<BLOCKQUOTE><B>Catatan:</B> Semua pengguna yang diatur melalui perintah <TT>lpoptions</TT> akan ditimpa oleh pengaturan ini.</BLOCKQUOTE>

</DIV>
