<P><B>Peringatan:</B> Apakah Anda yakin untuk menghapus pencetak
{printer_name}?</P>

<P ALIGN="CENTER"><A
HREF="/admin?op=delete-printer&printer_name={printer_name}&confirm=yes"><IMG
SRC="/images/button-delete-printer.gif" ALT="Menghapus Pencetak"
CLASS="button"></A></P>
