<DIV CLASS="indent">

<H2 CLASS="title"><A HREF="{printer_uri_supported}">{printer_name}</A>
({printer_state=3?Menganggur:{printer_state=4?Memproses:Berhenti}},
{printer_is_accepting_jobs=0?Menolak Tugas:Menerima Tugas},
{server_is_sharing_printers=0?Tidak:{printer_is_shared=0?Tidak:}} Berbagi{default_name={printer_name}?, Server Baku:})</H2>

<FORM METHOD="POST" ACTION="{printer_uri_supported}" NAME="maintenance">
<INPUT TYPE="HIDDEN" NAME="org.cups.sid" VALUE="{$org.cups.sid}">
<SELECT NAME="OP" ONCHANGE="document.maintenance.submit();">
<OPTION VALUE="">Perawatan</OPTION>
<OPTION VALUE="print-test-page">Cetak Halaman Uji</OPTION>
{printer_commands~.*Clean.*?<OPTION VALUE="clean-print-heads">Bersihkan Kepala Pencetak</OPTION>:}
{printer_commands~.*PrintSelfTestPage.*?<OPTION VALUE="print-self-test-page">Cetak Halaman Uji-Sendiri</OPTION>:}
{printer_state=5?<OPTION VALUE="start-printer">Resume Pencetak</OPTION>:<OPTION VALUE="stop-printer">Tahan Pencetak</OPTION>}
{printer_is_accepting_jobs=0?<OPTION VALUE="accept-jobs">Terima Tugas</OPTION>:<OPTION VALUE="reject-jobs">Tolak Tugas</OPTION>}
<OPTION VALUE="move-jobs">Pindahkan Semua TUgas</OPTION>
<OPTION VALUE="purge-jobs">Batalkan Semua Tugas</OPTION>
</SELECT>
<INPUT TYPE="SUBMIT" VALUE="Lakukan!" STYLE="display: none;">
</FORM>

<FORM METHOD="POST" ACTION="{admin_uri}" NAME="administration">
<INPUT TYPE="HIDDEN" NAME="org.cups.sid" VALUE="{$org.cups.sid}">
<INPUT TYPE="HIDDEN" NAME="printer_name" VALUE="{printer_name}">
<SELECT NAME="OP" ONCHANGE="document.administration.submit();">
<OPTION VALUE="">Administrasi</OPTION>
<OPTION VALUE="modify-printer">Ubah Pencetak</OPTION>
<OPTION VALUE="delete-printer">Hapus Pencetak</OPTION>
<OPTION VALUE="set-printer-options">Atur Opsi Baku</OPTION>
<OPTION VALUE="set-as-default">Atus Sebagai Server Baku</OPTION>
<OPTION VALUE="set-allowed-users">Atur Pengguna yang Diperbolehkan</OPTION>
</SELECT>
<INPUT TYPE="SUBMIT" VALUE="Lakukan!" STYLE="display: none;">
</FORM>

<TABLE SUMMARY="{printer_name}">
<TR><TH ALIGN="RIGHT" VALIGN="TOP">Deskripsi:</TH><TD>{printer_info}</TD></TR>
<TR><TH ALIGN="RIGHT" VALIGN="TOP">Lokasi:</TH><TD>{printer_location}</TD></TR>
<TR><TH ALIGN="RIGHT" VALIGN="TOP">Penggerak:</TH><TD>{printer_make_and_model} ({color_supported=1?warna:skala abu-abu}{sides_supported?, cetak 2-sisi:})<BR>
<TR><TH ALIGN="RIGHT" VALIGN="TOP">Koneksi:</TH><TD>{device_uri}</TD></TR>
<TR><TH ALIGN="RIGHT" VALIGN="TOP">Baku:</TH><TD>job-sheets={job_sheets_default}
media={media_default?{media_default}:tak dikenal}
{sides_default?sides={sides_default}:}</TD></TR>
</TABLE>

</DIV>
