<DIV CLASS="indent">

<H2 CLASS="title">Hapus Pencetak {printer_name}</H2>

<P><B>Peringatan:</B> Anda yakin untuk menghapus
{printer_name}?</P>

<P ALIGN="CENTER"><FORM ACTION="/admin/" METHOD="POST"><INPUT TYPE="HIDDEN" NAME="OP" VALUE="delete-printer"><INPUT TYPE="HIDDEN" NAME="printer_name" VALUE="{printer_name}"><INPUT TYPE="SUBMIT" NAME="confirm" VALUE="Hapus Pencetak"></FORM></P>

</DIV>
