<DIV CLASS="indent">

<H2 CLASS="title">Ubah Pengaturan</H2>

<P><IMG SRC="/images/wait.gif" WIDTH="16" HEIGHT="16" ALIGN="ABSMIDDLE"
ALT="Indikator Kesibukan"> Silakan tunggu selagi server dijalankan ulang...</P>

</DIV>
