<DIV CLASS="indent">

<H2 CLASS="title">Cetak Halaman Uji pada {printer_name}</H2>

<P>Halaman uji telah dikirim; ID tugas adalah <A HREF="/{SECTION}/{printer_name}">
{printer_name}-{job_id}</A>.</P>

</DIV>
