<DIV CLASS="indent">

<H2 CLASS="title">{op=modify-printer?Aldatu {printer_name}:Gehitu inprimagailua}</H2>

<FORM METHOD="POST" ACTION="/admin">
<INPUT TYPE="HIDDEN" NAME="OP" VALUE="{op}">
{printer_name?<INPUT TYPE="HIDDEN" NAME="printer_name" VALUE="{printer_name}">:}
<INPUT TYPE="HIDDEN" NAME="CURRENT_MAKE_AND_MODEL" VALUE="{?current_make_and_model}">

<TABLE>
<TR>
<TH CLASS="label">Konexioa:</TH>
<TD><INPUT TYPE="TEXT" SIZE="60" MAXLENGTH="1023" NAME="DEVICE_URI" VALUE="{current_device_uri?{current_device_uri}:{device_uri}}"></TD>
</TR>
<TR>
<TD></TD>
<TD>Adibideak:
<PRE>
    http://ostalari_izena:631/ipp/
    http://ostalari_izena:631/ipp/ataka1

    ipp://ostalari_izena/ipp/
    ipp://ostalari_izena/ipp/ataka1

    lpd://ostalari_izena/ilara

    socket://ostalari_izena
    socket://ostalari_izena:9100
</PRE>

<P>Ikusi <A HREF="/help/network.html" TARGET="_blank">"Sareko inprimagailuak"</A> URI zuzena erabiltzeko inprimagailuarekin.</P>

</TD>
</TR>
<TR>
<TD></TD>
<TD><INPUT TYPE="SUBMIT" VALUE="Jarraitu"></TD>
</TR>
</TABLE>

</FORM>
</DIV>
