<DIV CLASS="indent">

<H2 CLASS="title">{op=modify-printer?Aldatu {printer_name}:Gehitu inprimagailua}</H2>

<FORM METHOD="POST" ACTION="/admin">
<INPUT TYPE="HIDDEN" NAME="OP" VALUE="{op}">
{printer_name?<INPUT TYPE="HIDDEN" NAME="printer_name" VALUE="{printer_name}">:}

<TABLE>
<TR>
<TH CLASS="label">Konexioa:</TH>
<TD><INPUT TYPE="HIDDEN" NAME="DEVICE_URI" VALUE="{device_uri}">{device_uri}</TD>
</TR>
<TR>
<TH CLASS="label">Baudio-emaria:</TH>
<TD><SELECT NAME="BAUDRATE">
{[baudrates]<OPTION {?baudrate={baudrates}?SELECTED:}>{baudrates}}
</SELECT></TD>
</TR>
<TR>
<TH CLASS="label">Paritatea:</TH>
<TD><SELECT NAME="PARITY">
<OPTION VALUE="none" {?parity=none?SELECTED:}>Bat ere ez
<OPTION VALUE="even" {?parity=even?SELECTED:}>Bikoitia
<OPTION VALUE="odd" {?parity=odd?SELECTED:}>Bakoitia
</SELECT></TD>
</TR>
<TR>
<TH CLASS="label">Datuen bit-ak:</TH>
<TD><SELECT NAME="BITS">
<OPTION {?bits=8?SELECTED:}>8
<OPTION {?bits=7?SELECTED:}>7
</SELECT></TD>
</TR>
<TR>
<TH CLASS="label">Fluxu-kontrola:</TH>
<TD><SELECT NAME="FLOW">
<OPTION VALUE="none" {?flow=none?SELECTED:}>Bat ere ez
<OPTION VALUE="soft" {?flow=soft?SELECTED:}>XON/XOFF (Ssftwarea)
<OPTION VALUE="hard" {?flow=hard?SELECTED:}>RTS/CTS (hardwarea)
<OPTION VALUE="dtrdsr" {?flow=dtrdsr?SELECTED:}>DTR/DSR (hardwarea)
</SELECT></TD>
</TR>
<TR>
<TD></TD>
<TD><INPUT TYPE="SUBMIT" VALUE="Jarraitu"></TD>
</TR>
</TABLE>

</FORM>
</DIV>
