<DIV CLASS="indent">

<H2 CLASS="title">Ezabatu {printer_name} klasea</H2>

<P><B>Abisua:</B> ziur zaude {printer_name} klasea ezabatu nahi duzula?</P>

<P ALIGN="CENTER"><FORM ACTION="/admin/" METHOD="POST"><INPUT TYPE="HIDDEN" NAME="op" VALUE="delete-class"><INPUT TYPE="HIDDEN" NAME="printer_name" VALUE="{printer_name}"><INPUT TYPE="SUBMIT" NAME="confirm" VALUE="Ezabatu klasea"></FORM></P>

</DIV>
