<DIV CLASS="indent">

<H2 CLASS="title">Ezarri {printer_name}(r)en aukera lehenetsiak</H2>

<P>{OP=set-class-options?<A HREF="/classes/{printer_name}">{printer_name} klasea:<A HREF="/printers/{printer_name}">{printer_name} inprimagailua}</A>ren
aukera lehenetsiak ongi ezarri dira.

</DIV>
