<DIV CLASS="indent">

<H2 CLASS="title">Pausatu {printer_name} {is_class?klasea:inprimagailua}</H2>

<P><A HREF="/{is_class?classes:printers}/{printer_name}">{printer_name}</A>
{is_class?klasea:inprimagailua} pausatu egin da.</P>

</DIV>
