<DIV CLASS="indent">

<H2 CLASS="title"><A HREF="{printer_uri_supported}">{printer_name}</A>
({printer_state=3?inaktibo:{printer_state=4?prozesatzen:pausatuta}},
{printer_is_accepting_jobs=0?lanak ukatzen:lanak onartzen},
{default_name={printer_name}?, Zerbitzariaren lehenetsia:} partekatuta {server_is_sharing_printers=0?ez:{printer_is_shared=0?ez:}} dago)</H2>

<FORM METHOD="POST" ACTION="{printer_uri_supported}" NAME="maintenance">
<INPUT TYPE="HIDDEN" NAME="org.cups.sid" VALUE="{$org.cups.sid}">
<SELECT NAME="OP" ONCHANGE="document.maintenance.submit();">
<OPTION VALUE="">Mantenimendua</OPTION>
<OPTION VALUE="print-test-page">Inprimatu probako orrialdea</OPTION>
{printer_commands~.*Clean.*?<OPTION VALUE="clean-print-heads">Garbitu inprimagailuaren buruak</OPTION>:}
{printer_commands~.*PrintSelfTestPage.*?<OPTION VALUE="print-self-test-page">Inprimatu auto-probako orrialdea</OPTION>:}
{printer_state=5?<OPTION VALUE="start-printer">Jarraitu inprimagailua</OPTION>:<OPTION VALUE="stop-printer">Pausatu inprimagailua</OPTION>}
{printer_is_accepting_jobs=0?<OPTION VALUE="accept-jobs">Onartu lanak</OPTION>:<OPTION VALUE="reject-jobs">Ukatu lanak</OPTION>}
<OPTION VALUE="move-jobs">Aldatu lan guztiak lekuz</OPTION>
<OPTION VALUE="purge-jobs">Utzi lan guztiak</OPTION>
</SELECT>
<INPUT TYPE="SUBMIT" VALUE="Go" STYLE="display: none;">
</FORM>

<FORM METHOD="POST" ACTION="{admin_uri}" NAME="administration">
<INPUT TYPE="HIDDEN" NAME="org.cups.sid" VALUE="{$org.cups.sid}">
<INPUT TYPE="HIDDEN" NAME="printer_name" VALUE="{printer_name}">
<SELECT NAME="OP" ONCHANGE="document.administration.submit();">
<OPTION VALUE="">Administrazioa</OPTION>
<OPTION VALUE="modify-printer">Aldatu inprimagailua</OPTION>
<OPTION VALUE="delete-printer">Ezabatu inprimagailua</OPTION>
<OPTION VALUE="set-printer-options">Ezarri aukera lehenetsiak</OPTION>
<OPTION VALUE="set-as-default">Ezarri zerbitzari lehenetsi gisa</OPTION>
<OPTION VALUE="set-allowed-users">Ezarri baimendutako erabiltzaileak</OPTION>
</SELECT>
<INPUT TYPE="SUBMIT" VALUE="Go" STYLE="display: none;">
</FORM>

<TABLE SUMMARY="{printer_name}">
<TR><TH ALIGN="RIGHT" VALIGN="TOP">Deskripzioa:</TH><TD>{printer_info}</TD></TR>
<TR><TH ALIGN="RIGHT" VALIGN="TOP">Kokalekua:</TH><TD>{printer_location}</TD></TR>
<TR><TH ALIGN="RIGHT" VALIGN="TOP">Kontrolatzailea:</TH><TD>{printer_make_and_model} ({color_supported=1?kolorea:gris-eskala}{sides_supported?, 2 aldeetan inprimatzea:})<BR>
<TR><TH ALIGN="RIGHT" VALIGN="TOP">Konexioa:</TH><TD>{device_uri}</TD></TR>
<TR><TH ALIGN="RIGHT" VALIGN="TOP">Lehenetsiak:</TH><TD>lanen orriak={job_sheets_default}
euskarria={media_default?{media_default}:ezezaguna}
{sides_default?aldeak={sides_default}:}</TD></TR>
</TABLE>

</DIV>
