<DIV CLASS="indent">

<H2 CLASS="title">Onartu lanak {printer_name} {is_class?klasean:inprimagailuan} </H2>

<P><A HREF="/{is_class?classes:printers}/{printer_name}">{printer_name}</A> {is_class?klasea:inprimagailua}
lanak onartzen ari da orain.</P>

</DIV>
