<DIV CLASS="indent">

<H2 CLASS="title">Ezarri  {printer_name} {is_class?klasea:inprimagailua} lehenetsi gisa</H2>

<P><A HREF="/{is_class?classes:printers}/{printer_name}">{printer_name}</A>
{is_class?klasea:inprimagailua} zerbitzarian inprimagailu lehenetsi gisa ezarri da.</P>

<BLOCKQUOTE><B>Oharra:</B> <TT>lpoptions</TT> komandoaren bidez ezarritako edozein
erabiltzailek ezarpen lehenetsi hau gainidatz dezake.</BLOCKQUOTE>

</DIV>
