<DIV CLASS="indent">

<H2 CLASS="title">Jarraitu {printer_name}  {is_class?klasea:inprimagailua}</H2>

<P><A HREF="/{is_class?classes:printers}/{printer_name}">{printer_name}</A> 
{is_class?klaseak:inprimagailuak} jarraitu egin du.</P>

</DIV>
