<SCRIPT TYPE="text/javascript"><!--
function select_printers() {
  var list = document.export_samba.EXPORT_NAME;
  var sel = document.export_samba.EXPORT_ALL.checked;

  for (i = 0; i < list.length; i ++) {
    list.options[i].selected = sel;
  }
}
--></SCRIPT>

<FORM METHOD="POST" ACTION="/admin/" NAME="export_samba">
<INPUT TYPE="HIDDEN" NAME="org.cups.sid" VALUE="{$org.cups.sid}">
<INPUT TYPE="HIDDEN" NAME="OP" VALUE="export-samba">

<H2 CLASS="title">Esportatu inprimagailuak Samba-ra</H2>

{error?<P>Ezin dira inprimagailuak Samba-ra esportatu\:</P>
<BLOCKQUOTE>{error}</BLOCKQUOTE>
<P>Begiratu <A HREF="/admin/log/error_log"
TARGET="_blank">error_log</A> fitxategia informazio gehiagorako.</P>:
<P>
Orrialde honek inprimagailuak Samba-ra esportatzea baimentzen du, horrela
Windows sistemako bezeroek inprimagailu horiek atzi daitezke haien
mahaigaineko <VAR>Auzoko sareak</VAR> edo <VAR>Sareko lekuak</VAR> ikonoen bidez.
Aurrenik Windows-eko inprimagailuen PostScript kontrolatzaileak instalatu
behar dira, <A HREF="/help/man-cupsaddsmb.html" TARGET="_blank">cupsaddsmb(8)</A> eskuliburuko orrialdean
azaltzen den bezala.</P>}
<TABLE>
<TR>
<TH CLASS="label">Inprimagailuak:</TH>
<TD>
<SELECT NAME="EXPORT_NAME" SIZE="10" MULTIPLE>
{[printer_name]<OPTION VALUE="{printer_name}"{export_all? SELECTED:{printer_export? SELECTED:}}>{printer_name}}
</SELECT><BR>
<INPUT TYPE="CHECKBOX" NAME="EXPORT_ALL"{export_all? CHECKED:}
onChange="select_printers()"> Esportatu inprimagailu guztiak
</TD>
</TR>
<TR>
<TH CLASS="label">Samba-ko erabiltzaile-izena:</TH>
<TD><INPUT TYPE="TEXT" NAME="USERNAME" VALUE="{?USERNAME}"> (beharrezkoa)</TD>
</TR>
<TR>
<TH CLASS="label">Samba-ko pasahitza:</TH>
<TD><INPUT TYPE="PASSWORD" NAME="PASSWORD" VALUE=""> (beharrezkoa)</TD>
</TR>
<TR>
<TD></TD>
<TD><INPUT TYPE="SUBMIT" VALUE="Esportatu inprimagailuak Samba-ra"></TD>
</TR>
</TABLE>

</FORM>
