<DIV CLASS="indent">

<H2 CLASS="title">Inprimatu probako orrialdea hemen: {printer_name}</H2>

<P>Probako orrialdea bidalita; lanaren IDa <A HREF="/{SECTION}/{printer_name}">{printer_name}-{job_id}</A> da.</P>

</DIV>
