<DIV CLASS="indent">

<H2 CLASS="title">Usuwanie klasy {printer_name}</H2>

<P><B>Ostrzeżenie:</B> Usunąć klasę
{printer_name}?</P>

<P ALIGN="CENTER"><FORM ACTION="/admin/" METHOD="POST"><INPUT TYPE="HIDDEN" NAME="op" VALUE="delete-class"><INPUT TYPE="HIDDEN" NAME="printer_name" VALUE="{printer_name}"><INPUT TYPE="SUBMIT" NAME="confirm" VALUE="Usuń klasę"></FORM></P>

</DIV>
