<FORM ACTION="/help/{?HELPFILE}" METHOD="GET">
{TOPIC?<INPUT TYPE="HIDDEN" NAME="TOPIC" VALUE="{TOPIC}">:}

<P ALIGN="CENTER"><B>Wyszukaj we
{HELPTITLE?{HELPTITLE}:{TOPIC?{TOPIC}:wszystkich dokumentach}}:</B> <INPUT
TYPE="TEXT" NAME="QUERY" VALUE="{?QUERY}" SIZE="60"> <INPUT
TYPE="IMAGE" SRC="/images/button-search.gif" ALT="Wyszukaj">
<A HREF="/help/{?HELPFILE}{QUERY?{TOPIC??TOPIC={TOPIC}:}:}"><IMG
SRC="/images/button-clear.gif" ALT="Wyczyść" CLASS="button"></A></P>

</FORM>

<!-- Bookmarks -->
<DIV CLASS="sidebar">
<H3 CLASS="title">Dokumenty pomocy on-line</H3>

<P CLASS="l0"><A HREF="/help/{QUERY??QUERY={QUERY}:}">Wszystkie dokumenty</A></P>
<HR>

{[BMTEXT]<P CLASS="l{BMINDENT}"><A HREF="{BMLINK}">{BMTEXT}</A></P>
}
</DIV>

{QUERY?<P>Wyniki wyszukiwania we {HELPFILE?{HELPTITLE}:{TOPIC?{TOPIC}:wszystkich dokumentach}}\:</P>
{QTEXT?<UL>
{[QTEXT]<LI><A HREF="{QLINK}">{QTEXT}</A>{QPTEXT? (w <I><A HREF="{QPLINK}">{QPTEXT}</A></I>):}</LI>}
{QTEXT?</UL>:}
:<P>Nie znaleziono wyników.</P>}
<HR NOSHADE>:}
{HELPTITLE?<H1>{HELPTITLE}
<A HREF="/help/{HELPFILE}?PRINTABLE=YES" TARGET="_blank"><IMG
SRC="/images/button-view-printable-version.gif" ALT="Wyświetl wersję drukowalną"
CLASS="button"></A></H1>:<H1>Strony pomocy CUPS</H1>

<P>To jest interfejs on-line pomocy CUPS. Podaj wyszukiwane
słowa powyżej lub naciśnij na jakiś odnośnik do dokumentacji,
aby wyświetlić dokumentację pomocy on-line.</P>

<P>Jeśli jesteś nowy w CUPS-ie, przeczytaj stronę "<a
href="overview.html">Wstęp do CUPS</a>". Użytkownicy dobrze
znający CUPS powinni przeczytać stronę "<a href="whatsnew.html">
Co nowego w CUPS 1.2</a>".</P>

<P>The <A HREF="http://www.cups.org/">Strona domowa CUPS</A> także
dostarcza wielu zasobów, w tym fora dyskusyjne użytkowników,
odpowiedzi na najczęściej zadawane pytania oraz formularz do
wysyłania raportów błędów i żądań funkcji.</P>}
