<DIV CLASS="indent">
<FORM ACTION="/help/{?HELPFILE}" METHOD="GET">
{TOPIC?<INPUT TYPE="HIDDEN" NAME="TOPIC" VALUE="{TOPIC}">:}

<P ALIGN="CENTER"><B>Wyszukaj w
{HELPTITLE?{HELPTITLE}:{TOPIC?{TOPIC}:Wszystkie dokumenty}}:</B> <INPUT
TYPE="SEARCH" NAME="QUERY" VALUE="{?QUERY}" SIZE="40" PLACEHOLDER=""
AUTOSAVE="org.cups.help" RESULTS="20">
<INPUT TYPE="SUBMIT" NAME="SEARCH" VALUE="Znajdź">
<INPUT TYPE="SUBMIT" NAME="CLEAR" VALUE="Wyczyść"></P>

</FORM>

<!-- Zakładki -->
<DIV CLASS="sidebar"><TABLE CLASS="inset" SUMMARY="Zawartość">
<TR><TD>

<H3 CLASS="title">Dokumenty pomocy online</H3>

<P CLASS="l0"><A HREF="/help/{QUERY??QUERY={QUERY}:}">Wszystkie dokumenty</A></P>
<HR>

{[BMTEXT]<P CLASS="l{BMINDENT}"><A HREF="{BMLINK}">{BMTEXT}</A></P>
}
</TD></TR>
</TABLE></DIV>

{QUERY?<P>Wyniki wyszukiwania w {HELPFILE?{HELPTITLE}:{TOPIC?{TOPIC}:Wszystkie dokumenty}}\:</P>
{QTEXT?<UL>
{[QTEXT]<LI><A HREF="{QLINK}">{QTEXT}</A>{QPTEXT? (in <I><A HREF="{QPLINK}">{QPTEXT}</A></I>):}</LI>}
{QTEXT?</UL>:}
:<P>Nie znaleziono.</P>}
<HR NOSHADE>:}
{HELPTITLE?<H1>{HELPTITLE}</H1>
<FORM ACTION="/help/{?HELPFILE}" METHOD="GET"><INPUT TYPE="HIDDEN" NAME="PRINTABLE" VALUE="YES"><INPUT TYPE="SUBMIT" VALUE="Wyświetl wersję do druku"></FORM>:

<H1>Pomoc online</H1>

<P>To jest interfejs pomocy online CUPS. Należy podać wyszukiwane słowa
powyżej lub kliknąć jeden z odnośników do dokumentacji, aby wyświetlić
informacje o pomocy online.</P>

<P>Nowi użytkownicy CUPS powinni przeczytać stronę "<a
href="/help/overview.html">Przegląd CUPS</a>". Zaawansowani użytkownicy
powinni przeczytać stronę "<a href="/help/whatsnew.html">Co nowego w CUPS
1.4</a>".</P>

<P><A HREF="http://www.cups.org/">Strona domowa CUPS</A> także
dostarcza wiele zasobów, w tym fora dyskusyjne użytkowników, odpowiedzi
na najczęściej zadawane pytania oraz formularz do wysyłania raportów
błędów i próśb o nowe funkcje.</P>}
