<DIV CLASS="indent">

<H2 CLASS="title">{job_id?Przenoszenie zadania {job_id}:Przenoszenie wszystkich zadań}</H2>

<P>{job_id?<A HREF="/jobs/{job_id}">Zadanie {job_id}</A>:Wszystkie zadania} zostało przeniesione do
<A HREF="{job_printer_uri}">{job_printer_name}</A>.</P>

</DIV>
