{#job_id=0?:
<TABLE CELLPADDING="0" CELLSPACING="0" CLASS="button" WIDTH="100%" SUMMARY="Job List">
<TR CLASS="data">
<TH>ID&nbsp;</TH>
<TH>Name&nbsp;</TH>
<TH>User&nbsp;</TH>
<TH>Size&nbsp;</TH>
<TH>Pages&nbsp;</TH>
<TH>State&nbsp;</TH>
<TH>Control&nbsp;</TH>
</TR>

{[job_id]
<TR CLASS="data" VALIGN="TOP">
<TD><A HREF="{job_printer_uri}">{job_printer_name}</A>-{job_id}&nbsp;</TD>
<TD>{?job_name=?Nieznana:{job_name}}&nbsp;</TD>
<TD>{job_originating_user_name}&nbsp;</TD>
<TD>{job_k_octets}k&nbsp;</TD>
<TD>{job_media_sheets_completed=0?brak danych:{?job_media_sheets_completed}}</TD>
<TD>{job_state=3?oczekuje od<BR>{time_at_creation}:{job_state=4?wstrzymany od<BR>{time_at_creation}:
{job_state=5?drukowany od<BR>{time_at_processing}:{job_state=6?zatrzymany<BR>{time_at_completed}:
{job_state=7?anulowany<BR>{time_at_completed}:{job_state=8?przerwany:zakończony<BR>{time_at_completed}}}}}}}&nbsp;</TD>
<TD>
{job_preserved>0?
<A HREF="/jobs/?op=restart-job&amp;job_id={job_id}&amp;job_printer_uri={job_printer_uri}">
<IMG SRC="/images/button-restart-job.gif" ALT="Wydrukuj Ponownie" CLASS="button"></A>:}
{job_state=4?
<A HREF="/jobs/?op=release-job&amp;job_id={job_id}&amp;job_printer_uri={job_printer_uri}">
<IMG SRC="/images/button-release-job.gif" ALT="Wznów Wydruk" CLASS="button"></A>:}
{job_state=3?
<A HREF="/jobs/?op=hold-job&amp;job_id={job_id}&amp;job_printer_uri={job_printer_uri}">
<IMG SRC="/images/button-hold-job.gif" ALT="Wstrzymaj Wydruk" CLASS="button"></A>:}
{job_state<7?
<A HREF="/jobs/?op=cancel-job&amp;job_id={job_id}&amp;job_printer_uri={job_printer_uri}">
<IMG SRC="/images/button-cancel-job.gif" ALT="Anuluj Wydruk" CLASS="button"></A>
<A HREF="/jobs/?op=move-job&amp;job_id={job_id}"><IMG
SRC="/images/button-move-job.gif" ALT="Przenieś Wydruk" CLASS="button"></A>:}
&nbsp;</TD>
</TR>
}
</TABLE>
}
