<P><B>Error:</B> Poniższe opcje powodują konflikt:</P>

<UL>
{[ckeyword]<LI><A HREF="#{ckeyword}">{ckeytext}</A></LI>
}</UL>

<P>Proszę zmienić jedną lub więcej z tych opcji aby rozwiązać konflikty.</P>
