<P><B>Błąd:</B> następujące opcje są w konflikcie ze sobą:</P>

<UL>
{[ckeyword]<LI><A HREF="#{ckeyword}">{ckeytext}</A>: {cchoice}</LI>
}</UL>

<P>Proszę zmienić jedną lub więcej opcji, aby rozwiązać konflikt.</P>
