<TABLE WIDTH="100%" CLASS="pager" SUMMARY="Pasek stronowania">
<TR>
	<TD WIDTH="33%">{PREVURL?<A HREF="{PREVURL}"><IMG SRC="/images/button-show-previous.gif" ALT="Wyświetl poprzednie" CLASS="button"></A>:&nbsp;}</TD>
	<TD WIDTH="34%" ALIGN="CENTER">{ORDER=dec?<A HREF="{THISURL}&amp;ORDER=asc"><IMG SRC="/images/button-sort-ascending.gif" ALT="Posortuj rosnąco" CLASS="button"></A>:<A HREF="{THISURL}&amp;ORDER=dec"><IMG SRC="/images/button-sort-descending.gif" ALT="Posortuj malejąco" CLASS="button"></A>}</TD>
	<TD WIDTH="33%" ALIGN="RIGHT">{NEXTURL?<A HREF="{NEXTURL}"><IMG SRC="/images/button-show-next.gif" ALT="Wyświetl następne" CLASS="button"></A>:&nbsp;}</TD>
</TR>
</TABLE>
