<DIV CLASS="indent">

<H2 CLASS="title">Ustawianie domyślnych opcji dla {printer_name}</H2>

<P>Domyślne opcje {OP=set-class-options?klasy <A HREF="/classes/{printer_name}">:drukarki <A HREF="/printers/{printer_name}">}{printer_name}</A>
zostały pomyślnie ustawione.

</DIV>
