<DIV CLASS="indent">

<H2 CLASS="title">Odrzucanie zadań na {is_class?klasie:drukarce} {printer_name}</H2>

<P>{is_class?Klasa:Drukarka} <A
HREF="/{is_class?Klasy:Drukarki}/{printer_name}">{printer_name}</A>
nie akceptuje zadań.</P>

</DIV>
