<DIV CLASS="indent">

<H2 CLASS="title">Akceptowanie zadań na {is_class?klasie:drukarce} {printer_name}</H2>

<P>{is_class?Klasa:Drukarka} <A
HREF="/{is_class?klasy:drukarki}/{printer_name}">{printer_name}</A>
akceptują zadania.</P>

</DIV>
