<P>{is_class?Grupa:Drukarka} <A
HREF="/{is_class?classes:printers}/{printer_name}">{printer_name}</A>
została ustawiona jako domyślna na tym serwerze.</P>

<BLOCKQUOTE><B>Uwaga:</B> Domyślne ustawienia każdego użytkownika, które zostały określone przez polecenie <TT>lpoptions</TT> zignorują te ustawiena domyślne.</BLOCKQUOTE>
