<DIV CLASS="indent">

<H2 CLASS="title">Ustawianie {is_class?klasy:drukarki} {printer_name} jako domyślnej</H2>

<P>{is_class?Klasa:Drukarka} <A
HREF="/{is_class?classes:printers}/{printer_name}">{printer_name}</A>
została ustawiona jako domyślna drukarka serwera.</P>

<BLOCKQUOTE><B>Uwaga:</B> każda domyśla opcja użytkownika ustawiona przez
polecenie <TT>lpoptions</TT> zostanie zastąpiona tym domyślnym
ustawieniem.</BLOCKQUOTE>

</DIV>
