<P>{is_class?Klasa:Drukarka} <A
HREF="/{is_class?klasy:drukarki}/{printer_name}">{printer_name}</A>
została utworzona domyślną drukarką na serwerze.</P>

<BLOCKQUOTE><B>Uwaga:</B> każdy domyślny użytkownik, który został ustawiony przez
polecenie <TT>lpoptions</TT> zastąpi te domyślne
ustawienie.</BLOCKQUOTE>
