<DIV CLASS="indent">

<H2 CLASS="title"><A HREF="{printer_uri_supported}">{printer_name}</A>
({printer_state=3?Bezczynna:{printer_state=4?Przetwarzanie:Wstrzymana}},
{printer_is_accepting_jobs=0?Odrzucanie zadań:Akceptowanie zadań},
{server_is_sharing_printers=0?Nie:{printer_is_shared=0?Nie:}} Współdzielona{default_name={printer_name}?, Domyślne serwera:})</H2>

<FORM METHOD="POST" ACTION="{printer_uri_supported}" NAME="maintenance">
<INPUT TYPE="HIDDEN" NAME="org.cups.sid" VALUE="{$org.cups.sid}">
<SELECT NAME="OP" ONCHANGE="document.maintenance.submit();">
<OPTION VALUE="">Konserwacja</OPTION>
<OPTION VALUE="print-test-page">Wydrukuj stronę próbną</OPTION>
{printer_commands~.*Clean.*?<OPTION VALUE="clean-print-heads">Wyczyść głowice drukujące</OPTION>:}
{printer_commands~.*PrintSelfTestPage.*?<OPTION VALUE="print-self-test-page">Wydrukuj własną stronę próbną</OPTION>:}
{printer_state=5?<OPTION VALUE="start-printer">Wznów drukarkę</OPTION>:<OPTION VALUE="stop-printer">Wstrzymaj drukarkę</OPTION>}
{printer_is_accepting_jobs=0?<OPTION VALUE="accept-jobs">Akceptuj zadania</OPTION>:<OPTION VALUE="reject-jobs">Odrzucaj zadania</OPTION>}
<OPTION VALUE="move-jobs">Przenieś wszystkie zadania</OPTION>
<OPTION VALUE="purge-jobs">Anuluj wszystkie zadania</OPTION>
</SELECT>
<INPUT TYPE="SUBMIT" VALUE="Przejdź" STYLE="display: none;">
</FORM>

<FORM METHOD="POST" ACTION="{admin_uri}" NAME="administration">
<INPUT TYPE="HIDDEN" NAME="org.cups.sid" VALUE="{$org.cups.sid}">
<INPUT TYPE="HIDDEN" NAME="printer_name" VALUE="{printer_name}">
<SELECT NAME="OP" ONCHANGE="document.administration.submit();">
<OPTION VALUE="">Administracja</OPTION>
<OPTION VALUE="modify-printer">Zmodyfikuj drukarkę</OPTION>
<OPTION VALUE="delete-printer">Usuń drukarkę</OPTION>
<OPTION VALUE="set-printer-options">Ustaw domyślne opcje</OPTION>
<OPTION VALUE="set-as-default">Ustaw jako domyślne serwera</OPTION>
<OPTION VALUE="set-allowed-users">Ustaw zezwolonych użytkowników</OPTION>
</SELECT>
<INPUT TYPE="SUBMIT" VALUE="Przejdź" STYLE="display: none;">
</FORM>

<TABLE SUMMARY="{printer_name}">
<TR><TH ALIGN="RIGHT" VALIGN="TOP">Opis:</TH><TD>{printer_info}</TD></TR>
<TR><TH ALIGN="RIGHT" VALIGN="TOP">Położenie:</TH><TD>{printer_location}</TD></TR>
<TR><TH ALIGN="RIGHT" VALIGN="TOP">Sterownik:</TH><TD>{printer_make_and_model} ({color_supported=1?color:grayscale}{sides_supported?, 2-sided printing:})<BR>
<TR><TH ALIGN="RIGHT" VALIGN="TOP">Połączenie:</TH><TD>{device_uri}</TD></TR>
<TR><TH ALIGN="RIGHT" VALIGN="TOP">Domyślne:</TH><TD>job-sheets={job_sheets_default}
media={media_default?{media_default}:unknown}
{sides_default?sides={sides_default}:}</TD></TR>
</TABLE>

</DIV>
