<DIV CLASS="indent">

<H2 CLASS="title">Wznawianie {is_class?klasy:drukarki} {printer_name}</H2>

<P>{is_class?Klasa:Drukarka} <A
HREF="/{is_class?classes:printers}/{printer_name}">{printer_name}</A>
została wznowiona.</P>

</DIV>
