<DIV CLASS="indent">

<H2 CLASS="title">Wstrzymywanie {is_class?klasy:drukarki} {printer_name}</H2>

<P>{is_class?Klasa:Drukarka} <A
HREF="/{is_class?Klasy:Drukarki}/{printer_name}">{printer_name}</A>
została wstrzymana.</P>

</DIV>
