<DIV CLASS="indent">

<H2 CLASS="title">Drukowanie strony próbnej na {printer_name}</H2>

<P>Wysłano stronę próbną; identyfikator zadania to <A HREF="/{SECTION}/{printer_name}">
{printer_name}-{job_id}</A>.</P>

</DIV>
