<TABLE CELLPADDING="0" CELLSPACING="0" WIDTH="100%" SUMMARY="Administration Tasks">
<TR><TD VALIGN="TOP" NOWRAP>

<H2 CLASS="title">Drucker</H2>

<P>
<A HREF="/admin?op=add-printer"><IMG
SRC="/images/button-add-printer.gif" ALT="Drucker hinzuf&uuml;gen" CLASS="button"></A>
<A HREF="/printers/"><IMG SRC="/images/button-manage-printers.gif"
ALT="Drucker verwalten" CLASS="button"></A>
{have_samba?<A HREF="/admin/?op=export-samba"><IMG
SRC="/images/button-export-samba.gif" ALT="Drucker f&uuml;r Samba exportieren"
CLASS="button"></A>:}
</P>

{#device_uri=0?:<P><B>Neue Drucker gefunden:</B></P><UL>{[device_uri]
<LI><A HREF="/admin?op=add-printer&amp;{device_options}"><IMG
SRC="/images/button-add-this-printer.gif" ALT="Diesen Drucker hinzufuegen" CLASS="button"
ALIGN="MIDDLE"></A>
{device_make_and_model} ({device_info})</LI>
}</UL>}

<H2 CLASS="title">Klassen</H2>

<P>
<A HREF="/admin?op=add-class"><IMG SRC="/images/button-add-class.gif"
ALT="Klasse hinzuf&uuml;gen" CLASS="button"></A>
<A HREF="/classes/"><IMG SRC="/images/button-manage-classes.gif"
ALT="Klassen verwalten" CLASS="button"></A>
</P>

<H2 CLASS="title">Druckauftr&auml;ge</H2>

<P>
<A HREF="/jobs/"><IMG SRC="/images/button-manage-jobs.gif" ALT="Auftr&auml;ge
verwalten" CLASS="button"></A>
</P>

</TD><TD>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</TD><TD VALIGN="TOP">

<H2 CLASS="title">Server</H2>

<P>
<A HREF="/admin?op=config-server"><IMG
SRC="/images/button-edit-configuration-file.gif" ALT="Konfigurationsdatei
bearbeiten" CLASS="button"></A>
<A HREF="/admin/log/access_log" TARGET="_blank"><IMG
SRC="/images/button-view-access-log.gif" ALT="Zugriffsprotokoll betrachten"
CLASS="button"></A>
<A HREF="/admin/log/error_log" TARGET="_blank"><IMG
SRC="/images/button-view-error-log.gif" ALT="Fehlerprotokoll betrachten"
CLASS="button"></A>
<A HREF="/admin/log/page_log" TARGET="_blank"><IMG
SRC="/images/button-view-page-log.gif" ALT="Seitenprotokoll betrachten"
CLASS="button"></A>
</P>

{SETTINGS_ERROR?<P>{SETTINGS_MESSAGE}</P>
<BLOCKQUOTE>{SETTINGS_ERROR}</BLOCKQUOTE>:

<FORM METHOD="POST" ACTION="/admin">

<P><B>Grundlegende Servereinstellungen:</B></P>

<P><INPUT TYPE="HIDDEN" NAME="OP" VALUE="config-server">
<INPUT TYPE="CHECKBOX" NAME="REMOTE_PRINTERS" {?remote_printers}> Zeige verteilte Drucker von anderen Systemen<BR>
<INPUT TYPE="CHECKBOX" NAME="SHARE_PRINTERS" {?share_printers}> Verteile publizierte Drucker welche mit diesem System verbunden sind<BR>
<INPUT TYPE="CHECKBOX" NAME="REMOTE_ADMIN" {?remote_admin}> Erlaube entfernte Verwaltung<BR>
<INPUT TYPE="CHECKBOX" NAME="USER_CANCEL_ANY" {?user_cancel_any}> Erlaube Benutzern jeden Auftrag abzubrechen (nicht nur die Eigenen)<BR>
<INPUT TYPE="CHECKBOX" NAME="DEBUG_LOGGING" {?debug_logging}> Speichere Fehlerinformationen f&uuml;r Fehlersuche</P>

<P><INPUT TYPE="IMAGE" SRC="/images/button-change-settings.gif" ALT="Einstellungen &auml;ndern"></P>

</FORM>}

</TD></TR>
</TABLE>
