<P><B>Warnung:</B> Si el&ouml;schen gerade die Klasee {printer_name}! Sind sie sicher?

<P ALIGN="CENTER">
<A HREF="/admin/?op=delete-class&printer_name={printer_name}&confirm=yes">
<IMG SRC="/images/continue.gif" ALT="Weiter" BORDER="0"></A>
