{#printer_name=0?:
{[printer_name]
<H2 CLASS="title"><A HREF="{printer_uri_supported}">{printer_name}</A>{default_name={printer_name}? (Standarddrucker):}
{?printer_state_message=?:<SPAN CLASS="message">"{printer_state_message}"</SPAN>}</H2>

<TABLE WIDTH="100%" CLASS="button" CELLSPACING="0" CELLPADDING="0" SUMMARY="{printer_name}">
<TR>
<TD VALIGN=TOP><A HREF="{printer_uri_supported}">
<IMG SRC="/images/classes.gif" CLASS="button" ALT=""></A></TD>
<TD VALIGN=TOP><B>Beschreibung:</B> {printer_info}<BR>
<B>Ort:</B> {printer_location}<BR>
<B>Klassenstatus:</B> {printer_state=3?frei:{printer_state=4?verarbeitend:gestoppt}},
{printer_is_accepting_jobs=0?Auftr&auml;ge ablehnen:Auftr&auml;ge akzeptieren}, {printer_is_shared=0?nicht:} publiziert.
{?member_uris=?:<BR>Mitglieder: {member_uris}}

<P><TABLE WIDTH="100%" CELLPADDING="5" SUMMARY="Actions">
<TR VALIGN="TOP"><TD>
<A HREF="{printer_uri_supported}?op=print-test-page">
<IMG SRC="/images/button-print-test-page.gif" ALT="Testseite drucken" CLASS="button"></A></TD>
<TD>{printer_state=5?
<A HREF="{admin_uri}?op=start-class&amp;printer_name={%printer_name}&amp;is_class=Y">
<IMG SRC="/images/button-start-class.gif" ALT="Klasse starten" CLASS="button"></A>
:
<A HREF="{admin_uri}?op=stop-class&amp;printer_name={%printer_name}&amp;is_class=Y">
<IMG SRC="/images/button-stop-class.gif" ALT="Klasse stoppen" CLASS="button"></A>
}
{printer_is_accepting_jobs=0?
<A HREF="{admin_uri}?op=accept-jobs&amp;printer_name={%printer_name}&amp;is_class=Y">
<IMG SRC="/images/button-accept-jobs.gif" ALT="Auftr&auml;ge akzeptieren" CLASS="button"></A>
:
<A HREF="{admin_uri}?op=reject-jobs&amp;printer_name={%printer_name}&amp;is_class=Y">
<IMG SRC="/images/button-reject-jobs.gif" ALT="Auftr&auml;ge ablehnen" CLASS="button"></A>
}
<A HREF="{admin_uri}?op=purge-jobs&amp;printer_name={%printer_name}&amp;is_class=Y">
<IMG SRC="/images/button-cancel-all-jobs.gif" ALT="Alle Auftr&auml;ge abbrechen" CLASS="button"></A></TD>
<TD>{printer_is_shared=0?
<A HREF="{admin_uri}?op=set-sharing&amp;printer_name={%printer_name}&amp;shared=1&amp;is_class=Y">
<IMG SRC="/images/button-publish-printer.gif" ALT="Drucker publizieren" CLASS="button"></A>
:
<A HREF="{admin_uri}?op=set-sharing&amp;printer_name={%printer_name}&amp;shared=0&amp;is_class=Y">
<IMG SRC="/images/button-unpublish-printer.gif" ALT="Druckerpublikation aufheben" CLASS="button"></A>
}
<A HREF="{admin_uri}?op=modify-class&amp;printer_name={%printer_name}">
<IMG SRC="/images/button-modify-class.gif" ALT="Klasse &auml;ndern" CLASS="button"></A>
<A HREF="{admin_uri}?op=set-class-options&amp;printer_name={%printer_name}">
<IMG SRC="/images/button-set-printer-options.gif" ALT="Setze Drucker Optionen" CLASS="button"></A>
<A HREF="{admin_uri}?op=delete-class&amp;printer_name={%printer_name}">
<IMG SRC="/images/button-delete-class.gif" ALT="Klasse l&ouml;schen" CLASS="button"></A>
<A HREF="{admin_uri}?op=set-as-default&amp;printer_name={%printer_name}&amp;is_class=Y">
<IMG SRC="/images/button-set-as-default.gif" ALT="Setze als Standard" CLASS="button"></A>
<A HREF="{admin_uri}?op=set-allowed-users&amp;printer_name={%printer_name}&amp;is_class=Y">
<IMG SRC="/images/button-set-allowed-users.gif" ALT="Erlaubte Benutzer festlegen" CLASS="button"></A></TD>
</TR>
</TABLE></P>
</TD>
</TR>
</TABLE>
}}
