<P><B>Warning:</B> Sind Sie sicher, da&szlig; Sie die Klasse
{printer_name} l&ouml;schen zu wollen?</P>

<P ALIGN="CENTER"><A
HREF="/admin?op=delete-class&printer_name={printer_name}&confirm=yes"><IMG
SRC="/images/button-delete-class.gif" ALT="Klasse l&ouml;schen"
CLASS="button"></A></P>
