<DIV CLASS="indent">

<H2 CLASS="title">Klasse {printer_name} l&ouml;schen</H2>

<P><B>Warning:</B> Sind Sie sicher Sie wollen die Klasse
{printer_name} l&ouml;schen?</P>

<P ALIGN="CENTER"><FORM ACTION="/admin/" METHOD="POST"><INPUT TYPE="HIDDEN" NAME="op" VALUE="delete-class"><INPUT TYPE="HIDDEN" NAME="printer_name" VALUE="{printer_name}"><INPUT TYPE="SUBMIT" NAME="confirm" VALUE="Klasse l&ouml;schen"></FORM></P>

</DIV>
