<HTML>
<HEAD>
	<TITLE>{title} auf {server_name} - {cups_version}</TITLE>
	<!-- Prevent caching of CGI content -->
	<META HTTP-EQUIV="Expires" CONTENT="now">
	<META HTTP-EQUIV="Pragma" CONTENT="no-cache"> 
	<LINK REL="STYLESHEET" TYPE="text/css" HREF="/cups.css">
	<MAP NAME="navbar">
		<AREA SHAPE="RECT" COORDS="12,10,50,20" HREF="http://www.easysw.com" ALT="Easy Software Produkt-Homepage">
		<AREA SHAPE="RECT" COORDS="82,10,248,20" HREF="admin" ALT="Einrichtungsaufgaben">
		<AREA SHAPE="RECT" COORDS="270,10,467,20" HREF="classes" ALT="Druckerklassen verwalten">
		<AREA SHAPE="RECT" COORDS="488,10,576,20" HREF="documentation.html" ALT="Online Hilfe">
		<AREA SHAPE="RECT" COORDS="598,10,782,20" HREF="jobs" ALT="Druckauftr&auml;ge">
		<AREA SHAPE="RECT" COORDS="804,10,942,20" HREF="printers" ALT="Drucker verwalten">
		<AREA SHAPE="RECT" COORDS="964,10,1150,20" HREF="http://www.cups.org" ALT="Aktuelle CUPS Software">
	</MAP>
</HEAD>
<BODY BGCOLOR="#cccc99" TEXT="#000000" LINK="#0000FF" VLINK="#FF00FF">
<CENTER>
<IMG SRC="/images/navbar.gif" WIDTH="1163" HEIGHT="30" USEMAP="#navbar" BORDER="0" ALT="Common UNIX Printing System">
</CENTER>

<H1>{title}</H1>
