<HTML>
<HEAD>
	<TITLE>{title} auf {server_name} - {cups_version}</TITLE>
	<!-- Prevent caching of CGI content -->
	<META HTTP-EQUIV="Expires" CONTENT="now">
	<META HTTP-EQUIV="Pragma" CONTENT="no-cache"> 
	<LINK REL="STYLESHEET" TYPE="text/css" HREF="/cups.css">
	<MAP NAME="navbar">
		<AREA SHAPE="RECT" COORDS="12,10,50,20" HREF="http://www.easysw.com" ALT="Easy Software Produkt-Homepage">
		<AREA SHAPE="RECT" COORDS="82,10,226,20" HREF="/admin" ALT="Einrichtungsaufgaben">
		<AREA SHAPE="RECT" COORDS="235,10,403,20" HREF="/classes" ALT="Druckerklassen verwalten">
		<AREA SHAPE="RECT" COORDS="412,10,488,20" HREF="/documentation.html" ALT="Online Hilfe">
		<AREA SHAPE="RECT" COORDS="497,10,590,20" HREF="/jobs" ALT="Druckauftr&auml;ge">
		<AREA SHAPE="RECT" COORDS="599,10,717,20" HREF="/printers" ALT="Drucker verwalten">
		<AREA SHAPE="RECT" COORDS="726,10,887,20" HREF="http://www.cups.org" ALT="Aktuelle CUPS Software">
        </MAP>
</HEAD>

<BODY BGCOLOR="#cccc99" TEXT="#000000" LINK="#0000FF" VLINK="#FF00FF">
<CENTER>
<IMG SRC="/images/navbar.gif" WIDTH="902" HEIGHT="30" USEMAP="#navbar" BORDER="0" ALT="Common UNIX Printing System">
</CENTER>

<H1>{title}</H1>
