<FORM ACTION="/help/{?HELPFILE}" METHOD="GET">
{TOPIC?<INPUT TYPE="HIDDEN" NAME="TOPIC" VALUE="{TOPIC}">:}

<P ALIGN="CENTER"><B>Suche in
{HELPTITLE?{HELPTITLE}:{TOPIC?{TOPIC}:Alle Dokumente}}:</B> <INPUT
TYPE="TEXT" NAME="QUERY" VALUE="{?QUERY}" SIZE="60"> <INPUT
TYPE="IMAGE" SRC="/images/button-search.gif" ALT="Suche">
<A HREF="/help/{?HELPFILE}{QUERY?{TOPIC??TOPIC={TOPIC}:}:}"><IMG
SRC="/images/button-clear.gif" ALT="Leeren" CLASS="button"></A></P>

</FORM>

<!-- Bookmarks -->
<DIV CLASS="sidebar">
<H3 CLASS="title">On-Line Hilfe Dokumente</H3>

<P CLASS="l0"><A HREF="/help/{QUERY??QUERY={QUERY}:}">Alle Dokumente</A></P>
<HR>

{[BMTEXT]<P CLASS="l{BMINDENT}"><A HREF="{BMLINK}">{BMTEXT}</A></P>
}
</DIV>

{QUERY?<P>Suchresultate in {HELPFILE?{HELPTITLE}:{TOPIC?{TOPIC}:Alle Dokumente}}\:</P>
{QTEXT?<UL>
{[QTEXT]<LI><A HREF="{QLINK}">{QTEXT}</A>{QPTEXT? (in <I><A HREF="{QPLINK}">{QPTEXT}</A></I>):}</LI>}
{QTEXT?</UL>:}
:<P>Keine &Uuml;bereinstimmung gefunden.</P>}
<HR NOSHADE>:}
{HELPTITLE?<H1>{HELPTITLE}
<A HREF="/help/{HELPFILE}?PRINTABLE=YES" TARGET="_blank"><IMG
SRC="/images/button-view-printable-version.gif" ALT="Druckversion anzeigen"
CLASS="button"></A></H1>:<H1>CUPS Hilfeseiten</H1>

<P>Dies ist das CUPS online Hilfesystem. Geben Sie Ihren Suchbegriff
oben ein oder klicken Sie auf einen der Dokumentationslinks
um sich die Online Hilfe Informationen anzeigen zu lassen</P>

<P>Wenn Sie noch unerfahren im Umgang mit CUPS sind, lesen Sie die
"<a href="overview.html">CUPS &Uuml;bersicht</a>".
Erfahrene Benutzer sollten "<a href="whatsnew.html">Was ist neu in CUPS 1.2</a>" lesen.</P>

<P>Die <A HREF="http://www.cups.org/">CUPS Home Page</A> bietet
ebenfalls viele Angebote inklusive Benutzer Diskussionsforen,
Antworten auf h&auml;ufig gestellte Fragen, und ein Formular für
Fehlerberichte und W&uuml;nsche.</P>}
