<DIV CLASS="indent">
<FORM ACTION="/help/{?HELPFILE}" METHOD="GET">
{TOPIC?<INPUT TYPE="HIDDEN" NAME="TOPIC" VALUE="{TOPIC}">:}

<P ALIGN="CENTER"><B>Suche in
{HELPTITLE?{HELPTITLE}:{TOPIC?{TOPIC}:allen Dokumenten}}:</B> <INPUT
TYPE="SEARCH" NAME="QUERY" VALUE="{?QUERY}" SIZE="40" PLACEHOLDER=""
AUTOSAVE="org.cups.help" RESULTS="20">
<INPUT TYPE="SUBMIT" NAME="SEARCH" VALUE="Suchen">
<INPUT TYPE="SUBMIT" NAME="CLEAR" VALUE="Leeren"></P>

</FORM>

<!-- Bookmarks -->
<DIV CLASS="sidebar"><TABLE CLASS="inset" SUMMARY="Inhalt">
<TR><TD>

<H3 CLASS="title">Online Hilfe Dokumente</H3>

<P CLASS="l0"><A HREF="/help/{QUERY??QUERY={QUERY}:}">Alle Dokumente</A></P>
<HR>

{[BMTEXT]<P CLASS="l{BMINDENT}"><A HREF="{BMLINK}">{BMTEXT}</A></P>
}
</TD></TR>
</TABLE></DIV>

{QUERY?<P>Suchergebnisse in {HELPFILE?{HELPTITLE}:{TOPIC?{TOPIC}:allen Dokumenten}}\:</P>
{QTEXT?<UL>
{[QTEXT]<LI><A HREF="{QLINK}">{QTEXT}</A>{QPTEXT? (in <I><A HREF="{QPLINK}">{QPTEXT}</A></I>):}</LI>}
{QTEXT?</UL>:}
:<P>Keine &Uuml;bereinstimmung gefunden.</P>}
<HR NOSHADE>:}
{HELPTITLE?<H1>{HELPTITLE}</H1>
<FORM ACTION="/help/{?HELPFILE}" METHOD="GET"><INPUT TYPE="HIDDEN" NAME="PRINTABLE" VALUE="YES"><INPUT TYPE="SUBMIT" VALUE="Druckversion anzeigen"></FORM>:

<H1>CUPS Hilfeseiten</H1>

<P>Dies ist das CUPS online Hilfesystem. Geben Sie Ihren Suchbegriff
oben ein oder klicken Sie auf einen der Dokumentationslinks
um sich die Online Hilfe Informationen anzeigen zu lassen.</P>

<P>Wenn Sie noch unerfahren im Umgang mit CUPS sind, lesen Sie die "<a
href="/help/overview.html">CUPS &Uuml;bersicht</a>".
Erfahrene Benutzer sollten "<a href="/help/whatsnew.html">Was ist neu in CUPS
1.4</a>" lesen.</P>

<P>Die <A HREF="http://www.cups.org/">CUPS Webseite</A> bietet
ebenfalls viele Angebote inklusive Diskussionsforen f&uuml; Benutzer,
Antworten auf h&auml;ufig gestellte Fragen, und ein Formular für
Fehlerberichte und W&uuml;nsche.</P>}
