<DIV CLASS="indent">

<H2 CLASS="title">{job_id?Auftrag {job_id} verschieben:Alle Auftr&auml;ge verschieben}</H2>

<P>{job_id?<A HREF="/jobs/{job_id}">Auftrag {job_id}</A>:Alle Auftr&auml;ge} nach
<A HREF="{job_printer_uri}">{job_printer_name}</A> verschoben.</P>

</DIV>
