<H2 CLASS="title">Verf&uuml;gbare Drucker</H2>

{#device_uri=0?<P>Keine Drucker gefunden.</P>
:<UL>{[device_uri]
<LI><A HREF="/admin?op=add-printer&amp;{device_options}"><IMG
SRC="/images/button-add-this-printer.gif" ALT="Diesen Drucker hinfzuf&uuml;gen" CLASS="button"
ALIGN="MIDDLE"></A>
{device_make_and_model} ({device_info})</LI>
}</UL>}

