<P><B>Störung:</B> Die folgenden Wahlen widersprechen:</P>

<UL>
{[ckeyword]<LI><A HREF="#{ckeyword}">{ckeytext}</A></LI>
}</UL>

<P>Ändern Sie bitte eine oder mehr der Wahlen, um die Konflikte zu beheben.
