<P><B>Warnung:</B> Sie l&ouml;schen gerade einen Drucker {printer_name}! Sind Sie sicher?

<P ALIGN="CENTER">
<A HREF="/admin/?op=delete-printer&printer_name={printer_name}&confirm=yes">
<IMG SRC="/images/continue.gif" ALT="Weiter" BORDER="0"></A>
