<P><B>Warnung:</B> Sind Sie sicher, da&szlig; Sie den Drucker
{printer_name} l&ouml;schen wollen?</P>

<P ALIGN="CENTER"><A
HREF="/admin?op=delete-printer&printer_name={printer_name}&confirm=yes"><IMG
SRC="/images/button-delete-printer.gif" ALT="Drucker l&ouml;schen"
CLASS="button"></A></P>
