{printer_type?:}{#printer_name=0?:
{[printer_name]
<H2 CLASS="title"><A HREF="{printer_uri_supported}">{printer_name}</A>{default_name={printer_name}? (Standarddrucker):}
{?printer_state_message=?:<SPAN CLASS="message">"{printer_state_message}"</SPAN>}</H2>

<TABLE WIDTH="100%" CLASS="button" CELLSPACING="0" CELLPADDING="0" SUMMARY="{printer_name}">
<TR>
<TD VALIGN="TOP"><A HREF="{printer_uri_supported}">
<IMG SRC="/images/printer-{printer_state=3?idle:{printer_state=4?verarbeitend:gestoppt}}.gif" CLASS="button" ALT=""></A>
</TD>
<TD VALIGN="TOP"><B>Beschreibung:</B> {printer_info}<BR>
<B>Ort:</B> {printer_location}<BR>
<B>Marke und Modell:</B> {printer_make_and_model}<BR>
<B>Druckerstatus:</B> {printer_state=3?frei:{printer_state=4?verarbeitend:gestoppt}},
{printer_is_accepting_jobs=0?Auftr&auml;ge ablehnen:Auftr&auml;ge akzeptieren}, {printer_is_shared=0?nicht:} publiziert.
{?device_uri=?:<BR><B>Ger&auml;te URI:</B> {device_uri}}

<P>
<A HREF="{printer_uri_supported}?op=print-test-page">
<IMG SRC="/images/button-print-test-page.gif" ALT="Testseite drucken" CLASS="button"></A>
{?cupscommand=1?<A HREF="{printer_uri_supported}?op=clean-print-heads">
<IMG SRC="/images/button-clean-print-heads.gif" ALT="Druckk&ouml;pfe reinigen" CLASS="button"></A>
<A HREF="{printer_uri_supported}?op=print-self-test-page">
<IMG SRC="/images/button-print-self-test-page.gif" ALT="Selbsttest-Seite drucken" CLASS="button"></A>:}
{printer_state=5?
<A HREF="{admin_uri}?op=start-printer&amp;printer_name={%printer_name}">
<IMG SRC="/images/button-start-printer.gif" ALT="Drucker starten" CLASS="button"></A>
:
<A HREF="{admin_uri}?op=stop-printer&amp;printer_name={%printer_name}">
<IMG SRC="/images/button-stop-printer.gif" ALT="Drucker stoppen" CLASS="button"></A>
}
{printer_is_accepting_jobs=0?
<A HREF="{admin_uri}?op=accept-jobs&amp;printer_name={%printer_name}">
<IMG SRC="/images/button-accept-jobs.gif" ALT="Auftr&auml;ge akzeptieren" CLASS="button"></A>
:
<A HREF="{admin_uri}?op=reject-jobs&amp;printer_name={%printer_name}">
<IMG SRC="/images/button-reject-jobs.gif" ALT="Auftr&auml;ge ablehnen" CLASS="button"></A>
}
<A HREF="{printer_uri_supported}?op=move-jobs&amp;printer_name={%printer_name}">
<IMG SRC="/images/button-move-jobs.gif" ALT="Alle Auftr&auml;ge verschieben" CLASS="button"></A>
<A HREF="{admin_uri}?op=purge-jobs&amp;printer_name={%printer_name}">
<IMG SRC="/images/button-cancel-all-jobs.gif" ALT="Auftr&auml;ge abbrechen" CLASS="button"></A>
{printer_is_shared=0?
<A HREF="{admin_uri}?op=set-sharing&amp;printer_name={%printer_name}&amp;shared=1">
<IMG SRC="/images/button-publish-printer.gif" ALT="Drucker publizieren" CLASS="button"></A>
:
<A HREF="{admin_uri}?op=set-sharing&amp;printer_name={%printer_name}&amp;shared=0">
<IMG SRC="/images/button-unpublish-printer.gif" ALT="Druckerpublikation aufheben" CLASS="button"></A>
}
<A HREF="{admin_uri}?op=modify-printer&amp;printer_name={%printer_name}">
<IMG SRC="/images/button-modify-printer.gif" ALT="Drucker &auml;ndern" CLASS="button"></A>
<A HREF="{admin_uri}?op=set-printer-options&amp;printer_name={%printer_name}">
<IMG SRC="/images/button-set-printer-options.gif" ALT="Druckereinstellungen festlegen" CLASS="button"></A>
<A HREF="{admin_uri}?op=delete-printer&amp;printer_name={%printer_name}">
<IMG SRC="/images/button-delete-printer.gif" ALT="Drucker l&ouml;schen" CLASS="button"></A>
<A HREF="{admin_uri}?op=set-as-default&amp;printer_name={%printer_name}">
<IMG SRC="/images/button-set-as-default.gif" ALT="Als Standard festlegen" CLASS="button"></A>
<A HREF="{admin_uri}?op=set-allowed-users&amp;printer_name={%printer_name}">
<IMG SRC="/images/button-set-allowed-users.gif" ALT="Erlaubte Benutzer festlegen" CLASS="button"></A>
</P>
</TD>
</TR>
</TABLE>
}}
