<DIV CLASS="indent">

<H2 CLASS="title">Auftr&auml;ge f&uuml;r {is_class?die Klasse:den Drucker} {printer_name} ablehnen</H2>

<P>{is_class?Die Klasse:Der Drucker} <A
HREF="/{is_class?classes:printers}/{printer_name}">{printer_name}</A>
akzeptiert keine weiteren Auftr&auml;ge.</P>

</DIV>
