<H2 CLASS="title"><A HREF="{printer_uri_supported}">{printer_name}</A>
({printer_state=3?Leerlauf:{printer_state=4?Beschäftigt:Angehalten}},
{printer_is_accepting_jobs=0?Aufträge ablehnen:Aufträge annehmen},
{server_is_sharing_printers=0?keine:{printer_is_shared=0?keine:}} Netzwerkfreigabe{default_name={printer_name}?, Standarddrucker:}, {printer_is_colormanaged=0?kein Farbmanagement:Farbmanagement})</H2>

<FORM METHOD="POST" ACTION="{printer_uri_supported}" NAME="maintenance">
<INPUT TYPE="HIDDEN" NAME="org.cups.sid" VALUE="{$org.cups.sid}">
<SELECT NAME="OP" ONCHANGE="document.maintenance.submit();">
<OPTION VALUE="">Wartung</OPTION>
<OPTION VALUE="print-test-page">Testseite drucken</OPTION>
{printer_commands~.*Clean.*?<OPTION VALUE="clean-print-heads">Druckköpfe reinigen</OPTION>:}
{printer_commands~.*PrintSelfTestPage.*?<OPTION VALUE="print-self-test-page">Selbsttestseite drucken</OPTION>:}
{printer_state=5?<OPTION VALUE="start-printer">Drucker starten</OPTION>:<OPTION VALUE="stop-printer">Drucker anhalten</OPTION>}
{printer_is_accepting_jobs=0?<OPTION VALUE="accept-jobs">Aufträge annehmen</OPTION>:<OPTION VALUE="reject-jobs">Aufträge ablehnen</OPTION>}
<OPTION VALUE="move-jobs">Alle Aufträge verschieben</OPTION>
<OPTION VALUE="cancel-jobs">Alle Aufträge abbrechen</OPTION>
</SELECT>
<NOSCRIPT><INPUT TYPE="SUBMIT" VALUE="Go"></NOSCRIPT>
</FORM>

<FORM METHOD="POST" ACTION="{admin_uri}" NAME="administration">
<INPUT TYPE="HIDDEN" NAME="org.cups.sid" VALUE="{$org.cups.sid}">
<INPUT TYPE="HIDDEN" NAME="printer_name" VALUE="{printer_name}">
<SELECT NAME="OP" ONCHANGE="document.administration.submit();">
<OPTION VALUE="">Verwaltung</OPTION>
<OPTION VALUE="modify-printer">Drucker ändern</OPTION>
<OPTION VALUE="delete-printer">Drucker löschen</OPTION>
<OPTION VALUE="set-printer-options">Standardeinstellungen festlegen</OPTION>
<OPTION VALUE="set-as-default">Als Standarddrucker festlegen</OPTION>
<OPTION VALUE="set-allowed-users">Erlaubte Benutzer festlegen</OPTION>
</SELECT>
<NOSCRIPT><INPUT TYPE="SUBMIT" VALUE="Go"></NOSCRIPT>
</FORM>

<TABLE SUMMARY="{printer_name}">
<TR><TH ALIGN="RIGHT" VALIGN="TOP">Beschreibung:</TH><TD>{printer_info}</TD></TR>
<TR><TH ALIGN="RIGHT" VALIGN="TOP">Ort:</TH><TD>{printer_location}</TD></TR>
<TR><TH ALIGN="RIGHT" VALIGN="TOP">Treiber:</TH><TD>{printer_make_and_model} ({color_supported=1?farbig:schwarz-weiß}{sides_supported?, 2-seitiges Drucken:})<BR>
<TR><TH ALIGN="RIGHT" VALIGN="TOP">Verbindung:</TH><TD>{device_uri}</TD></TR>
<TR><TH ALIGN="RIGHT" VALIGN="TOP">Standardeinstellungen:</TH><TD>job-sheets={job_sheets_default}
media={media_default?{media_default}:unbekannt}
{sides_default?sides={sides_default}:}</TD></TR>
</TABLE>
