<DIV CLASS="indent">

<H2 CLASS="title">Standardeinstellungen für {printer_name} festlegen</H2>

<P>Standardeinstellungen für {OP=set-class-options?Klasse <A HREF="/classes/{printer_name}">:Drucker <A HREF="/printers/{printer_name}">}{printer_name}</A>
wurden erfolgreich gesetzt.

</DIV>
