<P>{is_class?Klasse:Drucker} <A
HREF="/{is_class?classes:printers}/{printer_name}">{printer_name}</A>
wurde zum Standarddrucker f&uuml;r diesen Server bestimmt.</P>

<BLOCKQUOTE><B>Notiz:</B> Jede benutzerspezifische Standardeinstellung welche
mit dem Befehl <TT>lpoptions</TT> gemacht wird &uuml;berschreibt diese
Standardeinstellung.</BLOCKQUOTE>
