<H2 CLASS="title">Aufträge auf {is_class?Class:Printer} {printer_name} löschen</H2>

<P>Alle Aufträge auf {is_class?class:printer} <A
HREF="/{is_class?classes:printers}/{printer_name}">{printer_name}</A>
wurden gelöscht.</P>
