<H2 CLASS="title">Aufträge für {is_class?Klasse:Drucker} {printer_name} annehmen</H2>

<P>{is_class?Die Klasse:Der Drucker} <A
HREF="/{is_class?classes:printers}/{printer_name}">{printer_name}</A>
nimmt jetzt Aufträge an.</P>
