<DIV CLASS="indent">

<H2 CLASS="title">Aufträge für {is_class?die Klasse:den Drucker} {printer_name} verwerfen</H2>

<P>Aufträge für {is_class?die Klasse:den Drucker} <A
HREF="/{is_class?classes:printers}/{printer_name}">{printer_name}</A>
wurden verworfen.</P>

</DIV>
