<DIV CLASS="indent">

<H2 CLASS="title">Aufträge von {is_class?Klasse:Drucker} {printer_name} akzeptieren</H2>

<P>{is_class?Klasse:Drucker} <A
HREF="/{is_class?classes:printers}/{printer_name}">{printer_name}</A>
aktzeptiert jetzt Aufträge.</P>

</DIV>
