<H2 CLASS="title">{is_class?Klasse:Drucker} {printer_name} als Standard festlegen</H2>

<P>{is_class?Die Klasse:Der Drucker} <A
HREF="/{is_class?classes:printers}/{printer_name}">{printer_name}</A>
wurde {is_class?zur Standardklasse:zum Standarddrucker} gemacht.</P>

<BLOCKQUOTE><B>Hinweis:</B> Die Einstellungen {is_class?der Standardklasse:des Standarddruckers}
welche von Benutzern mittels dem <TT>lpoptions</TT> Befehl gesetzt wurden,
überschreiben diese Einstellung.</BLOCKQUOTE>
