
<DIV CLASS="indent">

<H2 CLASS="title">Ersetze {printer_name} PPD Datei</H2>

<FORM METHOD="POST" ENCTYPE="multipart/form-data" ACTION="/admin">

<INPUT TYPE="HIDDEN" NAME="PRINTER_IS_SHARED" VALUE="{?printer_is_shared}">
<INPUT TYPE="HIDDEN" NAME="BAUDRATE" VALUE="{?baudrate}">
<INPUT TYPE="HIDDEN" NAME="BITS" VALUE="{?bits}">
<INPUT TYPE="HIDDEN" NAME="PARITY" VALUE="{?parity}">
<INPUT TYPE="HIDDEN" NAME="FLOW" VALUE="{?flow}">
<INPUT TYPE="HIDDEN" NAME="DEVICE_URI" VALUE="{device_uri}">
<INPUT TYPE="HIDDEN" NAME="printer_name" VALUE="{?printer_name}">
<INPUT TYPE="HIDDEN" NAME="PER_QUEUE" VALUE="1">
<INPUT TYPE="HIDDEN" NAME="PRINTER_INFO" VALUE="{printer_info}">
<INPUT TYPE="HIDDEN" NAME="org.cups.sid" VALUE="{$org.cups.sid}">
<INPUT TYPE="HIDDEN" NAME="OP" VALUE="{op}">
<INPUT TYPE="HIDDEN" NAME="PRINTER_IS_COLORMANAGED" VALUE="{?printer_is_colormanaged}">
<INPUT TYPE="HIDDEN" NAME="PRINTER_LOCATION" VALUE="{printer_location}">

<table>
<tr>
<TR>
<TH CLASS="label">Stelle PPD Datei bereit:</TH>
<TD><INPUT TYPE="HIDDEN" NAME="MAX_FILE_SIZE" VALUE="262144"><INPUT
TYPE="FILE" NAME="PPD_FILE">
</TR>
<TR>
<TD>
<Input TYPE=SUBMIT VALUE=Upload>
</TD>
</TR>
</table>

</form>

</DIV>


