<DIV CLASS="indent">

<H2 CLASS="title">Einstellungen &auml;ndern</H2>

<P><IMG SRC="/images/wait.gif" WIDTH="16" HEIGHT="16" ALIGN="ABSMIDDLE"
ALT="Busy Indicator"> Bitte warten Sie w&auml;hrend der Server neu startet...</P>

</DIV>
