<DIV CLASS="indent">

<H2 CLASS="title">Einstellungen ändern</H2>

<P><IMG SRC="/images/wait.gif" WIDTH="16" HEIGHT="16" ALIGN="ABSMIDDLE"
ALT="Busy Indicator"> Bitte warten Sie während der Server neu startet...</P>

</DIV>
