<SCRIPT TYPE="text/javascript"><!--
function select_printers() {
  var list = document.export_samba.EXPORT_NAME;
  var sel = document.export_samba.EXPORT_ALL.checked;

  for (i = 0; i < list.length; i ++) {
    list.options[i].selected = sel;
  }
}
--></SCRIPT>

<FORM METHOD="POST" ACTION="/admin/" NAME="export_samba">
<INPUT TYPE="HIDDEN" NAME="OP" VALUE="export-samba">

<H2 CLASS="title">Exportiere Drucker f&uuml;r Samba</H2>

{error?<P>Kann Drucker nicht f&uuml;r Samba exportieren\:</P>
<BLOCKQUOTE>{error}</BLOCKQUOTE>
<P>Konsultieren Sie die <A HREF="/admin/log/error_log"
TARGET="_blank">error_log</A> Datei um mehr Informationen zu erhalten.</P>:
<P>Diese Seite erlaubt es Ihnen Drucker f&uuml;r Samba bereitzustellen
damit auf diese mittels Windows Clients &uuml;ber die Desktopsymbole
<VAR>Netzwerk Nachbarn</VAR> oder <VAR>Netzwerkumgebung</VAR>
zugegriffen werden kann. Sie müssen zuerst einen
Windows PostScript Druckerteiber installieren wie diese in der Hilfe f&uuml;r <A
HREF="/help/man-cupsaddsmb.html"
TARGET="_blank">cupsaddsmb(8)</A> beschrieben ist.</P>}

<TABLE>
<TR>
<TH CLASS="label">Drucker:</TH>
<TD>
<SELECT NAME="EXPORT_NAME" SIZE="10" MULTIPLE>
{[printer_name]<OPTION VALUE="{printer_name}"{export_all? SELECTED:{printer_export? SELECTED:}}>{printer_name}}
</SELECT><BR>
<INPUT TYPE="CHECKBOX" NAME="EXPORT_ALL"{export_all? CHECKED:}
onChange="select_printers()"> Alle Drucker exportieren
</TD>
</TR>
<TR>
<TH CLASS="label">Samba Benutzername:</TH>
<TD><INPUT TYPE="TEXT" NAME="USERNAME" VALUE="{?USERNAME}"> (required)</TD>
</TR>
<TR>
<TH CLASS="label">Samba Passwort:</TH>
<TD><INPUT TYPE="PASSWORD" NAME="PASSWORD" VALUE=""> (required)</TD>
</TR>
<TR>
<TD></TD>
<TD><INPUT TYPE="IMAGE" SRC="/images/button-export-samba.gif"
ALT="Exportiere Drucker f&uuml;r Samba"></TD>
</TR>
</TABLE>

</FORM>
