<DIV CLASS="indent">

<H2 CLASS="title">Drucker Testseite auf {printer_name}</H2>

<P>Testseite gesendet; Auftrags ID ist <A HREF="/{SECTION}/{printer_name}">
{printer_name}-{job_id}</A>.</P>

</DIV>
