<FORM METHOD="POST" ACTION="/admin">
<INPUT TYPE="HIDDEN" NAME="OP" VALUE="{op}">
<INPUT TYPE="HIDDEN" NAME="PRINTER_NAME" VALUE="{printer_name}">
<INPUT TYPE="HIDDEN" NAME="PRINTER_LOCATION" VALUE="{?printer_location}">
<INPUT TYPE="HIDDEN" NAME="PRINTER_INFO" VALUE="{?printer_info}">
<INPUT TYPE="HIDDEN" NAME="CURRENT_MAKE_AND_MODEL" VALUE="{?current_make_and_model}">

<H2 CLASS="title">Printeri {printer_name} seadme URI</H2>

<TABLE>
<TR>
<TH CLASS="label">Seadme URI:</TH>
<TD><INPUT TYPE="TEXT" SIZE="60" MAXLENGTH="1024" NAME="DEVICE_URI" VALUE="{device_uri}"></TD>
</TR>
<TR>
<TD></TD>
<TD>Näited:
<PRE>
    http://masinanimi:631/ipp/
    http://masinanimi:631/ipp/port1

    ipp://masinanimi/ipp/
    ipp://masinanimi/ipp/port1

    lpd://masinanimi/järjekord

    socket://masinanimi
    socket://masinanimi:9100
</PRE>

<P>Vaadake osa <A HREF="/help/network.html" TARGET="_blank">"Võrguprinterid"</A> 
oma printeri korrektse URI tuvastamiseks.</P>

</TD>
</TR>
<TR>
<TD></TD>
<TD><INPUT TYPE="IMAGE" SRC="/images/button-continue.gif" ALT="Edasi"></TD>
</TR>
</TABLE>

</FORM>
