<P><B>Hoiatus:</B> kas soovite tõesti kustutada klassi
{printer_name}?</P>

<P ALIGN="CENTER"><A
HREF="/admin?op=delete-class&printer_name={printer_name}&confirm=yes"><IMG
SRC="/images/button-delete-class.gif" ALT="Kustuta klass"
CLASS="button"></A></P>
