{#printer_name=0?:
{[printer_name]
<H2 CLASS="title"><A HREF="{printer_uri_supported}">{printer_name}</A>{default_name={printer_name}? (vaikimisi printer):}
{?printer_state_message=?:<SPAN CLASS="message">"{printer_state_message}"</SPAN>}</H2>

<TABLE WIDTH="100%" CLASS="button" CELLSPACING="0" CELLPADDING="0" SUMMARY="{printer_name}">
<TR>
<TD VALIGN=TOP><A HREF="{printer_uri_supported}">
<IMG SRC="/images/classes.gif" CLASS="button" ALT=""></A></TD>
<TD VALIGN=TOP><B>Kirjeldus:</B> {printer_info}<BR>
<B>Asukoht:</B> {printer_location}<BR>
<B>Klassi olek:</B> {printer_state=3?jõude:{printer_state=4?töötleb:peatatud}},
{printer_is_accepting_jobs=0?ei võta töid vastu:võtab töid vastu}, {printer_is_shared=0?pole:} avaldatud.
{?member_uris=?:<BR>Liikmed: {member_uris}}

<P>
<A HREF="{printer_uri_supported}?op=print-test-page">
<IMG SRC="/images/button-print-test-page.gif" ALT="Trüki testlehekülg" CLASS="button"></A>
{printer_state=5?
<A HREF="{admin_uri}?op=start-class&amp;printer_name={%printer_name}&amp;is_class=Y">
<IMG SRC="/images/button-start-class.gif" ALT="Käivita klass" CLASS="button"></A>
:
<A HREF="{admin_uri}?op=stop-class&amp;printer_name={%printer_name}&amp;is_class=Y">
<IMG SRC="/images/button-stop-class.gif" ALT="Peata klass" CLASS="button"></A>
}
{printer_is_accepting_jobs=0?
<A HREF="{admin_uri}?op=accept-jobs&amp;printer_name={%printer_name}&amp;is_class=Y">
<IMG SRC="/images/button-accept-jobs.gif" ALT="Võta töid vastu" CLASS="button"></A>
:
<A HREF="{admin_uri}?op=reject-jobs&amp;printer_name={%printer_name}&amp;is_class=Y">
<IMG SRC="/images/button-reject-jobs.gif" ALT="Ära võta töid vastu" CLASS="button"></A>
}
<A HREF="{admin_uri}?op=purge-jobs&amp;printer_name={%printer_name}&amp;is_class=Y">
<IMG SRC="/images/button-cancel-all-jobs.gif" ALT="Katkesta kõik tööd" CLASS="button"></A>
{printer_is_shared=0?
<A HREF="{admin_uri}?op=set-sharing&amp;printer_name={%printer_name}&amp;shared=1&amp;is_class=Y">
<IMG SRC="/images/button-publish-printer.gif" ALT="Avalda printer" CLASS="button"></A>
:
<A HREF="{admin_uri}?op=set-sharing&amp;printer_name={%printer_name}&amp;shared=0&amp;is_class=Y">
<IMG SRC="/images/button-unpublish-printer.gif" ALT="Ära avalda printerit" CLASS="button"></A>
}
<A HREF="{admin_uri}?op=modify-class&amp;printer_name={%printer_name}">
<IMG SRC="/images/button-modify-class.gif" ALT="Muuda klassi" CLASS="button"></A>
<A HREF="{admin_uri}?op=delete-class&amp;printer_name={%printer_name}">
<IMG SRC="/images/button-delete-class.gif" ALT="Kustuta klass" CLASS="button"></A>
<A HREF="{admin_uri}?op=set-as-default&amp;printer_name={%printer_name}&amp;is_class=Y">
<IMG SRC="/images/button-set-as-default.gif" ALT="Määra vaikeväärtuseks" CLASS="button"></A>
<A HREF="{admin_uri}?op=set-allowed-users&amp;printer_name={%printer_name}&amp;is_class=Y">
<IMG SRC="/images/button-set-allowed-users.gif" ALT="Määra lubatud kasutajad" CLASS="button"></A>
</P>
</TD>
</TR>
</TABLE>
}}
