<FORM ACTION="/help/{?HELPFILE}" METHOD="GET">
{TOPIC?<INPUT TYPE="HIDDEN" NAME="TOPIC" VALUE="{TOPIC}">:}

<P ALIGN="CENTER"><B>Otsing - 
{HELPTITLE?{HELPTITLE}:{TOPIC?{TOPIC}:kõigis dokumentides}}:</B> <INPUT
TYPE="TEXT" NAME="QUERY" VALUE="{?QUERY}" SIZE="60"> <INPUT
TYPE="IMAGE" SRC="/images/button-search.gif" ALT="Otsi">
<A HREF="/help/{?HELPFILE}{QUERY?{TOPIC??TOPIC={TOPIC}:}:}"><IMG
SRC="/images/button-clear.gif" ALT="Puhasta" CLASS="button"></A></P>

</FORM>

<!-- Bookmarks -->
<DIV CLASS="sidebar">
<H3 CLASS="title">Abidokumendid</H3>

<P CLASS="l0"><A HREF="/help{QUERY??QUERY={QUERY}:}">Kõik dokumendid</A></P>
<HR>

{[BMTEXT]<P CLASS="l{BMINDENT}"><A HREF="{BMLINK}">{BMTEXT}</A></P>
}
</DIV>

{QUERY?<P>Otsingutulemused - {HELPFILE?{HELPTITLE}:{TOPIC?{TOPIC}:kõigis dokumentides}}\:</P>
{QTEXT?<UL>
{[QTEXT]<LI><A HREF="{QLINK}">{QTEXT}</A>{QPTEXT? (in <I><A HREF="{QPLINK}">{QPTEXT}</A></I>):}</LI>}
{QTEXT?</UL>:}
:<P>Midagi ei leitud.</P>}
<HR NOSHADE>:}
{HELPTITLE?<H1>{HELPTITLE}
<A HREF="/help/{HELPFILE}?PRINTABLE=YES" TARGET="_blank"><IMG
SRC="/images/button-view-printable-version.gif" ALT="Näita trükitavat versiooni"
CLASS="button"></A></H1>:<H1>CUPS-i abi</H1>

<P>See on CUPS-i abiliides. Sisestage otsingusõnad ülalolevasse kasti
või klõpsake mõnele dokumentatsioonilingile abiinfo kuvamiseks.</P>

<P>Kui Te pole veel CUPS-iga tuttav, lugege osa "<a
href="overview.html">Overview of CUPS</a>". Kogenud kasutajad
peaksid aga tutvuma osaga "<a href="whatsnew.html">What's New in CUPS
1.2</a>".</P>

<P><A HREF="http://www.cups.org/">CUPS-i kodulehekülg</A> pakub
samuti palju materjali, kaasa arvatud kasutajate arutlusfoorumid, vastused
levinumatele küsimustele ning vorm, mis võimaldab esitada veateateid
ja soove.</P>}
