<P>{is_class?Class:Printer} <A
HREF="/{is_class?classes:printers}/{printer_name}">{printer_name}</A>
on määratud serveri vaikimisi printeriks.</P>

<BLOCKQUOTE><B>Märkus:</B> kõik kasutajate vaikeväärtused, mis on
määratud käsuga <TT>lpoptions</TT>, tühistavad selle vaikeseadistuse.</BLOCKQUOTE>
