<P><B>Hoiatus:</B> kas soovite tõesti kustutada printeri
{printer_name}?</P>

<P ALIGN="CENTER"><A
HREF="/admin?op=delete-printer&printer_name={printer_name}&confirm=yes"><IMG
SRC="/images/button-delete-printer.gif" ALT="Kustuta printer"
CLASS="button"></A></P>
