<P><B>Увага!</B> Вы жадаеце выдаліць клясу {printer_name}! Выдаліць?

<P ALIGN="CENTER">
<A HREF="/admin/?op=delete-class&printer_name={printer_name}&confirm=yes">
<IMG SRC="/images/continue.gif" ALT="Выдаліць" BORDER="0"></A>
