<HTML>
<HEAD>
    <META http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<TITLE>{title} на вузьле {server_name} - {cups_version}</TITLE>
	<!-- Prevent caching of CGI content -->
	<META HTTP-EQUIV="Expires" CONTENT="now">
	<META HTTP-EQUIV="Pragma" CONTENT="no-cache"> 
	<LINK REL="STYLESHEET" TYPE="text/css" HREF="/cups.css">
	<MAP NAME="navbar">
		<AREA SHAPE="RECT" COORDS="12,0,50,30" HREF="http://www.easysw.com" ALT="Свойская старонка Easy Software Products">
		<AREA SHAPE="RECT" COORDS="82,0,208,30" HREF="/admin" ALT="Выканаць адміністратыўнуя працы">
		<AREA SHAPE="RECT" COORDS="225,0,267,30" HREF="/classes" ALT="Кіраваць станам клясаў друкарак">
		<AREA SHAPE="RECT" COORDS="284,0,342,30" HREF="/documentation.html" ALT="Жывая даведка">
		<AREA SHAPE="RECT" COORDS="359,0,420,30" HREF="/jobs" ALT="Кіраваць заданьнямі">
		<AREA SHAPE="RECT" COORDS="437,0,500,30" HREF="/printers" ALT="Кіраваць друкаркамі">
		<AREA SHAPE="RECT" COORDS="518,0,585,30" HREF="http://www.cups.org" ALT="Выгрузіць бягучую вэрсыю праграмнага забесьпячэньня CUPS">
	</MAP>
</HEAD>
<BODY BGCOLOR="#cccc99" TEXT="#000000" LINK="#0000FF" VLINK="#FF00FF">
<CENTER>
<IMG SRC="/images/navbar.gif" WIDTH="601" HEIGHT="30" USEMAP="#navbar" BORDER="0" ALT="Common UNIX Printing System (Агульная сыстэма друку для UNIX)">
</CENTER>

<H1>{title}</H1>
