<P><B>Памылка:</B> наступныя выбары канфліктуюць між сабою:</P>

<UL>
{[ckeyword]<LI><A HREF="#{ckeyword}">{ckeytext}</A></LI>
}</UL>

<P>Калі ласка, зьмяніце адзін ці больш выбараў, каб вырашыць канфлікт.
