<P><B>Увага!</B> Вы жадаеце выдаліць друкарку {printer_name}! Выдаліць?

<P ALIGN="CENTER">
<A HREF="/admin/?op=delete-printer&printer_name={printer_name}&confirm=yes">
<IMG SRC="/images/continue.gif" ALT="Выдаліць" BORDER="0"></A>
