<HR>
<P>Аўтарскія правы ў 1993-2005 гадох належаць Easy Software Products. Усе правы абаронены. 
Common UNIX Printing System, CUPS і лягатып CUPS зьяўляюцца гандлёвымі
маркамі <A HREF="http://www.easysw.com">Easy Software Products</A>. 
Усе іншыя гандлёвыя маркі належаць іх уладальнікам.
</BODY>
</HTML>
