<P><B>Varning:</B> Är du säker på att du vill ta bort klassen 
{printer_name}?</P>

<P ALIGN="CENTER"><A
HREF="/admin?op=delete-class&printer_name={printer_name}&confirm=yes"><IMG
SRC="/images/button-delete-class.gif" ALT="Ta bort klass"
CLASS="button"></A></P>
