<P>{?which_jobs=?<A
HREF="{?printer_name=?/jobs:{printer_uri_supported}}?which_jobs=completed"><IMG
SRC="/images/button-show-completed.gif" CLASS="button" ALT="Visa färdiga jobb"></A>
<A HREF="{?printer_name=?/jobs:{printer_uri_supported}}?which_jobs=all"><IMG
SRC="/images/button-show-all.gif" CLASS="button" ALT="Visa alla jobb">:{which_jobs=all?<A
HREF="{?printer_name=?/jobs:{printer_uri_supported}}?which_jobs=completed"><IMG
SRC="/images/button-show-completed.gif" CLASS="button" ALT="Visa färdiga jobb"></A>
<A HREF="{?printer_name=?/jobs:{printer_uri_supported}}"><IMG
SRC="/images/button-show-active.gif" CLASS="button" ALT="Visa aktiva jobb">:<A
HREF="{?printer_name=?/jobs:{printer_uri_supported}}"><IMG
SRC="/images/button-show-active.gif" CLASS="button" ALT="Visa aktiva jobb"></A>
<A HREF="{?printer_name=?/jobs:{printer_uri_supported}}?which_jobs=all"><IMG
SRC="/images/button-show-all.gif" CLASS="button" ALT="Visa alla jobb">}}</A></P>

<P ALIGN="CENTER">{total=0?Inga jobb:Visar {#job_id} av {total} {?which_jobs=?aktiva:{which_jobs=all?:färdiga}} jobb{total=1?:s}}.</P>
