{printer_type?:}{#printer_name=0?:
{[printer_name]
<H2 CLASS="title"><A HREF="{printer_uri_supported}">{printer_name}</A>{default_name={printer_name}? (Standardskrivare):}
{?printer_state_message=?:<SPAN CLASS="message">"{printer_state_message}"</SPAN>}</H2>

<TABLE WIDTH="100%" CLASS="button" CELLSPACING="0" CELLPADDING="0" SUMMARY="{printer_name}">
<TR>
<TD VALIGN="TOP"><A HREF="{printer_uri_supported}">
<IMG SRC="/images/printer-{printer_state=3?idle:{printer_state=4?processing:stopped}}.gif" CLASS="button" ALT=""></A>
</TD>
<TD VALIGN="TOP"><B>Beskrivning:</B> {printer_info}<BR>
<B>Plats:</B> {printer_location}<BR>
<B>Tillverkare och modell:</B> {printer_make_and_model}<BR>
<B>Tillstånd:</B> {printer_state=3?overksam:{printer_state=4?behandlar:stoppad}},
{printer_is_accepting_jobs=0?vägrar jobb:accepterar jobb}, {printer_is_shared=0?inte:} publicerad.
{?device_uri=?:<BR><B>Enhets-URI:</B> {device_uri}}

<P>
<A HREF="{printer_uri_supported}?op=print-test-page">
<IMG SRC="/images/button-print-test-page.gif" ALT="Skriv ut testsida" CLASS="button"></A>
{?cupscommand=1?<A HREF="{printer_uri_supported}?op=clean-print-heads">
<IMG SRC="/images/button-clean-print-heads.gif" ALT="Rengör skrivarhuvuden" CLASS="button"></A>
<A HREF="{printer_uri_supported}?op=print-self-test-page">
<IMG SRC="/images/button-print-self-test-page.gif" ALT="Skriv ut självtestsida" CLASS="button"></A>:}
{printer_state=5?
<A HREF="{admin_uri}?op=start-printer&amp;printer_name={%printer_name}">
<IMG SRC="/images/button-start-printer.gif" ALT="Starta skrivare" CLASS="button"></A>
:
<A HREF="{admin_uri}?op=stop-printer&amp;printer_name={%printer_name}">
<IMG SRC="/images/button-stop-printer.gif" ALT="Stoppa skrivare" CLASS="button"></A>
}
{printer_is_accepting_jobs=0?
<A HREF="{admin_uri}?op=accept-jobs&amp;printer_name={%printer_name}">
<IMG SRC="/images/button-accept-jobs.gif" ALT="Acceptera jobb" CLASS="button"></A>
:
<A HREF="{admin_uri}?op=reject-jobs&amp;printer_name={%printer_name}">
<IMG SRC="/images/button-reject-jobs.gif" ALT="Vägra jobb" CLASS="button"></A>
}
<A HREF="{printer_uri_supported}?op=move-jobs&amp;printer_name={%printer_name}">
<IMG SRC="/images/button-move-jobs.gif" ALT="Flytta alla jobb" CLASS="button"></A>
<A HREF="{admin_uri}?op=purge-jobs&amp;printer_name={%printer_name}">
<IMG SRC="/images/button-cancel-all-jobs.gif" ALT="Avbryt alla jobb" CLASS="button"></A>
{printer_is_shared=0?
<A HREF="{admin_uri}?op=set-sharing&amp;printer_name={%printer_name}&amp;shared=1">
<IMG SRC="/images/button-publish-printer.gif" ALT="Publicera skrivare" CLASS="button"></A>
:
<A HREF="{admin_uri}?op=set-sharing&amp;printer_name={%printer_name}&amp;shared=0">
<IMG SRC="/images/button-unpublish-printer.gif" ALT="Avpublicera skrivare" CLASS="button"></A>
}
<A HREF="{admin_uri}?op=modify-printer&amp;printer_name={%printer_name}">
<IMG SRC="/images/button-modify-printer.gif" ALT="Modifiera skrivare" CLASS="button"></A>
<A HREF="{admin_uri}?op=set-printer-options&amp;printer_name={%printer_name}">
<IMG SRC="/images/button-set-printer-options.gif" ALT="Ställ in skrivaralternativ" CLASS="button"></A>
<A HREF="{admin_uri}?op=delete-printer&amp;printer_name={%printer_name}">
<IMG SRC="/images/button-delete-printer.gif" ALT="Ta bort skrivare" CLASS="button"></A>
<A HREF="{admin_uri}?op=set-as-default&amp;printer_name={%printer_name}">
<IMG SRC="/images/button-set-as-default.gif" ALT="Ställ in som standard" CLASS="button"></A>
<A HREF="{admin_uri}?op=set-allowed-users&amp;printer_name={%printer_name}">
<IMG SRC="/images/button-set-allowed-users.gif" ALT="Ställ in tillåtna användare" CLASS="button"></A>
</P>
</TD>
</TR>
</TABLE>
}}
