<P>{is_class?Class:Printer} <A
HREF="/{is_class?classes:printers}/{printer_name}">{printer_name}</A>
har gjorts till standardskrivaren på servern.</P>

<BLOCKQUOTE><B>Notera:</B> Alla användarinställningar som har ställts in via
kommandot <TT>lpoptions</TT> kommer att åsidosätta denna standardinställning.
</BLOCKQUOTE>
