</TD>
<TD WIDTH="15">&nbsp;</TD>
</TR>
<TR CLASS="trailer">
<TD VALIGN="BOTTOM" WIDTH="15"><IMG SRC="/images/bottom-left.gif"
WIDTH="15" HEIGHT="15" ALT=""></TD>
<TD COLSPAN="2" WIDTH="100%" STYLE="padding: 5;">

<P><SMALL>The Common UNIX Printing System, CUPS, och CUPS-logotypen är
varumärken tillhörande <A HREF="http://www.easysw.com">Easy Software
Products</A>. CUPS är copyright 1997-2006 Easy Software Products,
Alla rättigheter reserverade.</SMALL></P>

</TD>

<TD ALIGN="RIGHT" VALIGN="BOTTOM" WIDTH="15"><IMG SRC="/images/bottom-right.gif"
WIDTH="15" HEIGHT="15" ALT=""></TD>
</TR>
</TABLE>
</BODY>
</HTML>
