<FORM METHOD="POST" ACTION="/admin">
<INPUT TYPE="HIDDEN" NAME="OP" VALUE="{OP}">
<INPUT TYPE="HIDDEN" NAME="PRINTER_NAME" VALUE="{printer_name}">
{IS_CLASS?<INPUT TYPE="HIDDEN" NAME="IS_CLASS" VALUE="{IS_CLASS}">:}

<H2 CLASS="title">Tillåtna användare för {printer_name}</H2>

<TABLE>
<TR>
<TH CLASS="label">Användare:</TH>
<TD>
<INPUT TYPE='TEXT' NAME='users' SIZE='60' VALUE='{?requesting_user_name_allowed}{?requesting_user_name_denied}'>
<BR>
<INPUT TYPE='RADIO' NAME='type' VALUE='requesting-user-name-allowed' {requesting_user_name_allowed?checked:}>Tillåt dessa användare att skriva ut
<INPUT TYPE='RADIO' NAME='type' VALUE='requesting-user-name-denied' {requesting_user_name_denied?checked:}>Förhindra dessa användare från att skriva ut
</TD>
</TR>
<TR>
<TD></TD>
<TD>
<INPUT TYPE="IMAGE" SRC="/images/button-set-allowed-users.gif" ALT="Ställ in tillåtna användare">
</TD>
</TR>
</TABLE>

</FORM>
