body {
  font-family: lucida grande, geneva, helvetica, arial, sans-serif;
}

h1, h2, h3, h4, h5, h6, p, td, th {
  font-family: lucida grande, geneva, helvetica, arial, sans-serif;
}

h1 { font-size: 2em; }
h2 { font-size: 1.75em; }
h3 { font-size: 1.5em; }
h4 { font-size: 1.25em; }

kbd {
  font-family: monaco, courier, monospace;
  font-weight: bold;
}

pre {
  font-family: monaco, courier, monospace;
}

blockquote {
  border-left: solid 2px #777;
  margin: 1em 0;
  padding: 10px;
}

blockquote ol li {
  margin-left: -1em;
}

pre.command, pre.example {
  background: #eee;
  margin: 0 36pt;
  padding: 10px;
}

p.compact {
  margin: 0;
}

p.example {
  font-style: italic;
  margin-left: 36pt;
}

dl.man dd {
  margin-left: 5em;
}

dl.man dt {
  margin-left: 0;
}

pre.man {
  margin: 0;
}

pre.command em, pre.example em {
  font-family: lucida grande, geneva, helvetica, arial, sans-serif;
}

p.command {
  font-family: monaco, courier, monospace;
  margin-left: 36pt;
}

p.formula {
  font-style: italic;
  margin-left: 36pt;
}

a img {
  border: none;
}

a:link:hover img {
  background: #f0f0f0;
  border-radius: 10px;
  -moz-border-radius: 10px;
}

a:link, a:visited {
  font-weight: inherit;
  text-decoration: none;
}

a:link:hover, a:visited:hover, a:active {
  text-decoration: underline;
}

sub, sup {
  font-size: 50%;
}

tr.data, td.data, tr.data td {
  margin-top: 10pt;
  padding: 5pt;
  border-bottom: solid 1pt #999999;
}

tr.data th {
  border-bottom: solid 1pt #999999;
  padding-top: 10pt;
  padding-left: 5pt;
  text-align: left;
}

div.table table {
  border: solid thin #999999;
  border-collapse: collapse;
  border-spacing: 0;
  margin-left: auto;
  margin-right: auto;
}

div.table caption {
  caption-side: top;
  font-size: 120%;
  font-style: italic;
  font-weight: bold;
  margin-left: auto;
  margin-right: auto;
}

div.table table td {
  border: solid thin #cccccc;
  padding: 5pt 10pt 0;
}

div.table table th {
  background: #cccccc;
  border: none;
  border-bottom: solid thin #999999;
}

div.figure table {
  margin-left: auto;
  margin-right: auto;
}

div.figure caption {
  caption-side: bottom;
  font-size: 120%;
  font-style: italic;
  font-weight: bold;
  margin-left: auto;
  margin-right: auto;
}

th.label {
  text-align: right;
  vertical-align: top;
}

th.sublabel {
  text-align: right;
  font-weight: normal;
}

hr {
  border: solid thin;
}

span.info {
  background: black;
  border: thin solid black;
  color: white;
  font-size: 80%;
  font-style: italic;
  font-weight: bold;
  white-space: nowrap;
}

h2 span.info, h3 span.info, h4 span.info {
  float: right;
  font-size: 100%;
}

h1.title {
}

h2.title, h3.title {
  border-bottom: solid 2pt #000000;
}

div.indent, table.indent {
  margin-top: 2em;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
}

table.indent {
  border-collapse: collapse;
}

table.indent td, table.indent th {
  padding: 0;
}

table.list {
  border-collapse: collapse;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
}

table.list th {
  background: white;
  border-bottom: solid thin #cccccc;
  color: #444444;
  padding-top: 10pt;
  padding-left: 5pt;
  text-align: left;
  vertical-align: bottom;
  white-space: nowrap;
}

table.list th a {
  color: #4444cc;
}

table.list td {
  border-bottom: solid thin #eeeeee;
  padding-top: 5pt;
  padding-left: 5pt;
}

table.list tr:nth-child(even) {
  background: #f8f8f8;
}

table.list tr:nth-child(odd) {
  background: #f4f4f4;
}

dt {
  margin-left: 36pt;
  margin-top: 12pt;
}

dd {
  margin-left: 54pt;
}

dl.category dt {
  font-weight: bold;
}

p.summary {
  margin-left: 36pt;
  font-family: monaco, courier, monospace;
}

div.summary table {
  border: solid thin #999999;
  border-collapse: collapse;
  border-spacing: 0;
  margin: 10px;
}

div.summary table td, div.summary table th {
  border: solid thin #999999;
  padding: 5px;
  text-align: left;
  vertical-align: top;
}

div.summary table thead th {
  background: #eeeeee;
}

/* API documentation styles... */
div.body h1 {
  font-size: 250%;
  font-weight: bold;
  margin: 0;
}
div.body h2 {
  font-size: 250%;
  margin-top: 1.5em;
}
div.body h3 {
  font-size: 150%;
  margin-bottom: 0.5em;
  margin-top: 1.5em;
}
div.body h4 {
  font-size: 110%;
  margin-bottom: 0.5em;
  margin-top: 1.5em;
}
div.body h5 {
  font-size: 100%;
  margin-bottom: 0.5em;
  margin-top: 1.5em;
}
div.contents {
  background: #e8e8e8;
  border: solid thin black;
  padding: 10px;
}
div.contents h1 {
  font-size: 110%;
}
div.contents h2 {
  font-size: 100%;
}
div.contents ul.contents {
  font-size: 80%;
}
.class {
  border-bottom: solid 2px gray;
}
.constants {
}
.description {
  margin-top: 0.5em;
}
.discussion {
}
.enumeration {
  border-bottom: solid 2px gray;
}
.function {
  border-bottom: solid 2px gray;
  margin-bottom: 0;
}
.members {
}
.method {
}
.parameters {
}
.returnvalue {
}
.struct {
  border-bottom: solid 2px gray;
}
.typedef {
  border-bottom: solid 2px gray;
}
.union {
  border-bottom: solid 2px gray;
}
.variable {
}
h1, h2, h3, h4, h5, h6 {
  page-break-inside: avoid;
}
blockquote {
  border: solid thin gray;
  box-shadow: 3px 3px 5px rgba(0,0,0,0.5);
  padding: 10px 10px 0;
  page-break-inside: avoid;
}
p code, li code, p.code, pre, ul.code li {
  background: rgba(127,127,127,0.1);
  border: thin dotted gray;
  font-family: monospace;
  hyphens: manual;
  -webkit-hyphens: manual;
  page-break-inside: avoid;
}
p.code, pre, ul.code li {
  padding: 10px;
}
p code, li code {
  padding: 2px 5px;
}
a:link, a:visited {
  text-decoration: none;
}
span.info {
  background: black;
  border: solid thin black;
  color: white;
  font-size: 80%;
  font-style: italic;
  font-weight: bold;
  white-space: nowrap;
}
h2 span.info, h3 span.info, h4 span.info {
  border-radius: 10px;
  float: right;
  font-size: 80%;
  padding: 3px 6px;
}
h2.title span.info, h3.title span.info, h4.title span.info {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
h2.title span.info {
  padding: 4px 6px;
}
ul.code, ul.contents, ul.subcontents {
  list-style-type: none;
  margin: 0;
  padding-left: 0;
}
ul.code li {
  margin: 0;
}
ul.contents > li {
  margin-top: 1em;
}
ul.contents li ul.code, ul.contents li ul.subcontents {
  padding-left: 2em;
}
table.list {
  border-collapse: collapse;
  width: 100%;
}
table.list tr:nth-child(even) {
  background: rgba(127,127,127,0.1);
}
table.list th {
  border-right: 2px solid gray;
  font-family: monospace;
  padding: 5px 10px 5px 2px;
  text-align: right;
  vertical-align: top;
}
table.list td {
  padding: 5px 2px 5px 10px;
  text-align: left;
  vertical-align: top;
}
h1.title {
}
h2.title {
  border-bottom: solid 2px black;
}
h3.title {
  border-bottom: solid 2px black;
}
