BODY {
  background: #e8e8e8;
  color: #000000;
  font-family: sans-serif;
}

H1, H2, H3, H4, H5, H6, P, TD, TH {
  font-family: sans-serif;
}

KBD {
  color: #006600;
  font-family: monospace;
  font-weight: bold;
}

PRE {
  font-family: monospace;
}

PRE.command {
  color: #7f0000;
  margin-left: 36pt;
}

PRE.example {
  background: white;
  border: dotted thin #999999;
  margin-left: 36pt;
  padding: 10px;
}

PRE.command EM, PRE.example EM {
  color: #3f0000;
  font-family: sans-serif;
}

P.command {
  color: #7f0000;
  font-family: monospace;
  margin-left: 36pt;
}

P.formula {
  font-style: italic;
  margin-left: 36pt;
}

BLOCKQUOTE {
  background: #e1e1e1;
  border: inset 1px #dddddd;
  padding: 10px;
  /* These are not implemented by all browsers, but that's OK */
  border-radius: 5px;
  -moz-border-radius: 5px;
}

A IMG {
  border: none;
}

A:link:hover IMG {
  background: #e0e0e0;
  border-radius: 10px;
  -moz-border-radius: 10px;
}

A:link, A:visited {
  text-decoration: none;
  color: #000099;
}

A:link:hover, A:visited:hover, A:active {
  text-decoration: underline;
  color: #990099;
}

TABLE.page {
  border: none;
  border-collapse: collapse;
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}

TD.body {
  height: 100%;
  vertical-align: top;
}

TD.sel, TD.unsel {
  border-left: thin solid #aaaaaa;
  font-size: 120%;
  padding: 0px 5px;
  text-align: center;
  vertical-align: middle;
  width: 14%;
}

TD.sel {
  background: url(images/sel.gif);
}

TD.unsel {
  background: url(images/unsel.gif);
}

TD.sel A, TD.sel A:hover {
  color: #ffffff;
  font-weight: normal;
  text-decoration: none;
}

TD.unsel A, TD.unsel A:visited {
  color: #333333;
  font-weight: normal;
}

TD.unsel:hover {
  background: url(images/unsel-hover.gif);
  color: #ffffff;
}

TD.unsel A:link:hover, TD.unsel A:visited:hover, TD.unsel A:active {
  color: #ffffff;
  font-weight: normal;
  text-decoration: none;
}

TD.trailer {
  background: #e1e1e1;
  border: solid thin #cccccc;
  color: #666666;
  font-size: 80%;
  padding: 5px;
}

TD.trailer A {
  color: #666699;
}

FORM {
  display: inline;
}

INPUT[TYPE="TEXT"], TEXTAREA {
  font-family: monospace;
}

INPUT[TYPE="IMAGE"] {
  border: none;
  padding: 2pt;
  vertical-align: bottom;
}

SUB, SUP {
  font-size: 50%;
}

TR.data, TD.data, TR.data TD {
  padding: 5;
  border-bottom: solid 1pt #999999;
}

TR.data TH {
  border-bottom: solid 1pt #999999;
  padding-top: 10pt;
  padding-left: 5pt;
  text-align: left;
}

DIV.table TABLE {
  border: solid thin #999999;
  border-collapse: collapse;
  border-spacing: 0;
  margin-left: auto;
  margin-right: auto;
}

DIV.table CAPTION {
  caption-side: top;
  font-size: 120%;
  font-style: italic;
  font-weight: bold;
  margin-left: auto;
  margin-right: auto;
}

DIV.table TABLE TD {
  background: white;
  border: solid thin #bbbbbb;
  padding-top: 5pt;
}

DIV.table TABLE TH {
  background: #eeeeee;
  border: none;
  border-bottom: solid thin #999999;
}

DIV.figure TABLE {
  margin-left: auto;
  margin-right: auto;
}

DIV.figure CAPTION {
  caption-side: bottom;
  font-size: 120%;
  font-style: italic;
  font-weight: bold;
  margin-left: auto;
  margin-right: auto;
}

TH.label {
  padding-top: 5pt;
  text-align: right;
  vertical-align: top;
}

HR {
  border: solid thin;
}

SPAN.info {
  background: #000000;
  border: thin solid #000000;
  color: #ffffff;
  font-size: 80%;
  font-style: italic;
  font-weight: bold;
  white-space: nowrap;
}

H2 SPAN.info, H3 SPAN.info, H4 SPAN.info {
  float: right;
  font-size: 100%;
}

.conflict {
  color: red;
}

H2.title, H3.title {
  border-bottom: solid 1pt #999999;
}

DIV.sidebar {
  float: right;
  min-width: 25%;
  margin-left: 10px;
  max-width: 33%;
}

DIV.sidebar P.l0 {
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  margin-top: 12pt;
}

DIV.sidebar P.l1 {
  margin-bottom: 0;
  margin-left: 36pt;
  margin-right: 0;
  margin-top: 0;
  text-indent: -18pt;
}

DIV.sidebar P.l2 {
  font-style: italic;
  margin-bottom: 0;
  margin-left: 54pt;
  margin-right: 0;
  margin-top: 0;
  text-indent: -18pt;
}

TABLE.inset {
  background: #e1e1e1;
  border: inset 1px #dddddd;
  padding: 0;
  /* These are not implemented by all browsers, but that's OK */
  border-radius: 5px;
  -moz-border-radius: 5px;
}

TABLE.inset CAPTION {
  caption-side: top;
  color: #666666;
  font-size: 80%;
  margin-left: 10px;
  margin-bottom: 2px;
  text-align: left;
}

TABLE.inset TD {
  padding: 5px;
}

DT {
  margin-left: 36pt;
  margin-top: 12pt;
}

DD {
  margin-left: 54pt;
}

DL.category DT {
  font-weight: bold;
}

P.summary {
  margin-left: 36pt;
  font-family: monospace;
}

SPAN.message {
  font-style: italic;
  font-size: smaller;
}

DIV.summary TABLE {
  border: solid thin #999999;
  border-collapse: collapse;
  border-spacing: 0;
  margin: 10px;
}

DIV.summary TABLE TD, DIV.summary TABLE TH {
  background: white;
  border: solid thin #999999;
  border-spacing: 0;
  padding: 5px;
  text-align: left;
  vertical-align: top;
}

DIV.summary TABLE THEAD TH {
  background: #eeeeee;
}
