BODY {
  background: #cccc99;
  color: #000000;
  font-family: sans-serif;
}

H1, H2, H3, H4, H5, H6, P, TD, TH {
  font-family: sans-serif;
}

KBD {
  color: #006600;
  font-family: monospace;
  font-weight: bold;
}

PRE {
  color: #7f0000;
  font-family: monospace;
}

PRE.command {
  margin-left: 3em;
}

P.command {
  color: #7f0000;
  font-family: monospace;
  margin-left: 3em;
}

A:link, A:visited {
  text-decoration: none;
  font-weight: bold;
  color: #993300;
}

A:link:hover, A:visited:hover, A:active {
  text-decoration: underline;
  font-weight: bold;
  color: #bb5500;
}

A.sel, TR.sel {
  background-color: #eeeebb;
}

TR.sel TD {
  padding: 4;
}

A.unsel {
  background-color: #666633;
  color: #e8e8b8;
}

INPUT[TYPE="TEXT"], TEXTAREA {
  font-family: monospace;
}

INPUT[TYPE="IMAGE"] {
  border: none;
  padding: 2;
  vertical-align: bottom;
}

SUB, SUP {
  font-size: 50%;
}

TR.header, TR.header TH, TH.header, TR.trailer, TR.trailer TH, TH.trailer {
  background-color: #bbbb88;
}

TR.page, TD.page, TR.page TD {
  background-color: #eeeebb;
  height: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
}

TR.data, TD.data, TR.data TD {
  padding: 5;
  border-bottom: solid 2px #000000;
}

TR.data TH {
  border-bottom: solid 2px #000000;
  padding-top: 10;
  padding-left: 5;
  text-align: left;
}

DIV.table TABLE {
  border: solid thin #999966;
  border-spacing: 0px;
}

DIV.table TABLE TD {
  border: solid thin #bbbb88;
  padding-top: 5px;
}

DIV.table TABLE TH {
  background: #bbbb88;
  border: none;
  border-bottom: solid thin #999966;
}

TH.label {
  padding-top: 10;
  text-align: right;
  vertical-align: top;
}

HR {
  border: solid thin;
}

SPAN.info {
  background: #000000;
  border: thin solid #000000;
  color: #ffffff;
  font-size: 80%;
  font-style: italic;
  font-weight: bold;
  white-space: nowrap;
}

H3 SPAN.info {
  float: right;
  font-size: 100%;
}

.conflict {
  color: red;
}

H2.title, H3.title {
  border-bottom: solid 2px #000000;
}

IMG.button {
  border: none;
  padding: 2;
  vertical-align: middle;
}
