# Where to get things
IndexDir doc

# Where to put things
IndexFile doc/swish-e.index

# Ignore image and index files
FileRules filename contains .gif
FileRules filename contains .gz
FileRules filename contains .jpg
FileRules filename contains .png
FileRules filename contains .svg
FileRules filename contains swish-e
FileRules filename contains .tokens
FileRules filename is Makefile

