<DIV CLASS="indent">
<H2 CLASS="title"><A HREF="{printer_uri_supported}">{printer_name}</A>
({printer_state=3?Inattiva:{printer_state=4?Stampa in corso:In pausa}},
{printer_is_accepting_jobs=0?Rifiuta le stampe:Accetta le stampe},
{server_is_sharing_printers=0?No:{printer_is_shared=0?No:}} Condivisa{default_name={printer_name}?, Predefinito del server:})</H2>

<FORM METHOD="POST" ACTION="{printer_uri_supported}" NAME="manutenzione">
<INPUT TYPE="HIDDEN" NAME="org.cups.sid" VALUE="{$org.cups.sid}">
<SELECT NAME="OP" ONCHANGE="document.maintenance.submit();">
<OPTION VALUE="">Manutenzione</OPTION>
<OPTION VALUE="print-test-page">Stampa una pagina di prova</OPTION>
{printer_state=5?<OPTION VALUE="start-class">Ripristina la classe</OPTION>:<OPTION VALUE="stop-class">Sospendi la classe</OPTION>}
{printer_is_accepting_jobs=0?<OPTION VALUE="accept-jobs">Accetta le stampe</OPTION>:<OPTION VALUE="reject-jobs">Rifiuta le stampe</OPTION>}
<OPTION VALUE="move-jobs">Sposta tutte le stampe</OPTION>
<OPTION VALUE="purge-jobs">Elimina tutte le stampe</OPTION>
</SELECT>
<INPUT TYPE="SUBMIT" VALUE="Vai" STYLE="display: none;">
</FORM>

<FORM METHOD="POST" ACTION="{admin_uri}" NAME="amministrazione">
<INPUT TYPE="HIDDEN" NAME="org.cups.sid" VALUE="{$org.cups.sid}">
<INPUT TYPE="HIDDEN" NAME="printer_name" VALUE="{printer_name}">
<INPUT TYPE="HIDDEN" NAME="IS_CLASS" VALUE="1">
<SELECT NAME="OP" ONCHANGE="document.administration.submit();">
<OPTION VALUE="">Amministrazione</OPTION>
<OPTION VALUE="modify-class">Modifica una classe</OPTION>
<OPTION VALUE="delete-class">Elimina una classe</OPTION>
<OPTION VALUE="set-class-options">Imposta le opzioni predefinite</OPTION>
<OPTION VALUE="set-as-default">Imposta come predefiniti del server</OPTION>
<OPTION VALUE="set-allowed-users">Imposta utenti autorizzati</OPTION>
</SELECT>
<INPUT TYPE="SUBMIT" VALUE="Vai" STYLE="display: none;">
</FORM>

<TABLE SUMMARY="{printer_name}">
<TR><TH ALIGN="RIGHT" VALIGN="TOP">Descrizione:</TH><TD>{printer_info}</TD></TR>
<TR><TH ALIGN="RIGHT" VALIGN="TOP">Posizione:</TH><TD>{printer_location}</TD></TR>
<TR><TH ALIGN="RIGHT" VALIGN="TOP">Membri:</TH><TD>{?member_uris=?Nessuno:{member_uris}}</TD></TR>
<TR><TH ALIGN="RIGHT" VALIGN="TOP">Predefiniti:</TH><TD>job-sheets={job_sheets_default}
media={media_default?{media_default}:sconosciuto}
{sides_default?sides={sides_default}:}</TD></TR>
</TABLE>

</DIV>
