<DIV CLASS="indent">

<H2 CLASS="title">{title} su {printer_name}</H2>

<P>{job_state>5?:<IMG SRC="/images/wait.gif" WIDTH="16" HEIGHT="16"
ALIGN="ABSMIDDLE" ALT="Indicatore di occupato"> }Printer command job
{job_state=3?pendente:{job_state=4?held:
{job_state=5?elaborazione in corso:{job_state=6?fermata:
{job_state=7?annullata:{job_state=8?aborted:completed}}}}}}{job_state=9?:{job_printer_state_message?,
<EM>"{job_printer_state_message}"</EM>:}}</P>

</DIV>
