<DIV CLASS="indent">
<FORM ACTION="/help/{?HELPFILE}" METHOD="GET">
{TOPIC?<INPUT TYPE="HIDDEN" NAME="TOPIC" VALUE="{TOPIC}">:}

<P ALIGN="CENTER"><B>Cerca in
{HELPTITLE?{HELPTITLE}:{TOPIC?{TOPIC}:Tutti i documenti}}:</B> <INPUT
TYPE="SEARCH" NAME="QUERY" VALUE="{?QUERY}" SIZE="40" PLACEHOLDER=""
AUTOSAVE="org.cups.help" RESULTS="20">
<INPUT TYPE="SUBMIT" NAME="SEARCH" VALUE="Cerca">
<INPUT TYPE="SUBMIT" NAME="CLEAR" VALUE="Cancella"></P>

</FORM>

<!-- Bookmarks -->
<DIV CLASS="sidebar"><TABLE CLASS="inset" SUMMARY="Contenuti">
<TR><TD>

<H3 CLASS="title">Documenti di guida in linea</H3>

<P CLASS="l0"><A HREF="/help/{QUERY??QUERY={QUERY}:}">Tutti i documenti</A></P>
<HR>

{[BMTEXT]<P CLASS="l{BMINDENT}"><A HREF="{BMLINK}">{BMTEXT}</A></P>
}
</TD></TR>
</TABLE></DIV>

{QUERY?<P>Cerca risultati in {HELPFILE?{HELPTITLE}:{TOPIC?{TOPIC}:Tutti i documenti}}\:</P>
{QTEXT?<UL>
{[QTEXT]<LI><A HREF="{QLINK}">{QTEXT}</A>{QPTEXT? (in <I><A HREF="{QPLINK}">{QPTEXT}</A></I>):}</LI>}
{QTEXT?</UL>:}
:<P>Nessuna corrispondenza trovata.</P>}
<HR NOSHADE>:}
{HELPTITLE?<H1>{HELPTITLE}</H1>
<FORM ACTION="/help/{?HELPFILE}" METHOD="GET"><INPUT TYPE="HIDDEN" NAME="PRINTABLE" VALUE="YES"><INPUT TYPE="SUBMIT" VALUE="Visualizza versione stampabile"></FORM>:

<H1>Guida in linea</H1>

<P>Questa è l'interfaccia di guida in linea di CUPS. Inserisci in alto i termini da ricercare
o fai clic su qualsiasi collegamento della documentazione per visualizzare
informazioni della guida in linea.</P>

<P>Se sei nuovo di CUPS, leggi la pagina "<a
href="/help/overview.html">Panoramica di CUPS</a>". Gli utenti esperti
dovrebbero leggere la pagina "<a href="/help/whatsnew.html">Cosa c'è di nuovo in CUPS
1.4</a>".</P>

<P>La <A HREF="http://www.cups.org/">pagina principale di CUPS</A> fornisce
inoltre molte risorse tra le quali forum di discussione per gli utenti, risposte 
alle domande frequenti, e un modulo per segnalare bug e richiede nuove funzionalità.</P>}
