<DIV CLASS="indent">

<H2 CLASS="title">{job_id?Sposta la stampa {job_id}:Sposta tutte le stampe}</H2>

<P>{job_id?<A HREF="/jobs/{job_id}">La stampa {job_id}</A>:Tutte le stampe} {job_id?è stata:sono state} spostat{job_id?a:e} su
<A HREF="/{is_class?classes:printers}/{job_printer_name}">{job_printer_name}</A>.</P>

</DIV>
