<P><B>Attenzione:</B> Sei sicuro di voler eliminare la stampante
{printer_name}?</P>

<P ALIGN="CENTER"><A
HREF="/admin?op=delete-printer&printer_name={printer_name}&confirm=yes"><IMG
SRC="/images/button-delete-printer.gif" ALT="Elimina stampante"
CLASS="button"></A></P>
