<P>{is_class?La classe:La stampante} <A
HREF="/{is_class?classes:printers}/{printer_name}">{printer_name}</A>
&egrave; stata impostata come predefinita sul server.</P>

<BLOCKQUOTE><B>Nota:</B> Qualunque valore inserito dall'utente impostato con
il comando <TT>lpoptions</TT> sarà scavalcato da questa impostazione
predefinita.</BLOCKQUOTE>
