<DIV CLASS="indent">

<H2 CLASS="title">Elimina le stampe sulla {is_class?classe:stampante} {printer_name}</H2>

<P>{is_class?La classe:La stampante} <A
HREF="/{is_class?classes:printers}/{printer_name}">{printer_name}</A>
è stata liberata da tutte le stampe.</P>

</DIV>