<DIV CLASS="indent">

<H2 CLASS="title">Imposta {is_class?Class:Printer} {printer_name} come predefinita</H2>

<P>{is_class?Class:Printer} <A
HREF="/{is_class?classes:printers}/{printer_name}">{printer_name}</A>
è la stampante predefinita su questo server.</P>

<BLOCKQUOTE><B>Note:</B> Qualsiasi utente predefinito impostato attraverso
il comando <TT>lpoptions</TT> scavalcherà questa impostazione predefinita.</BLOCKQUOTE>

</DIV>
