<DIV CLASS="indent">

<H2 CLASS="title">Imposta le opzioni predefinite per {printer_name}</H2>

<P>{OP=set-class-options?Class <A HREF="/classes/{printer_name}">:La stampante <A HREF="/printers/{printer_name}">}{printer_name}</A>
è stata configurata correttamente con le opzioni predefinite.

</DIV>
