<DIV CLASS="indent">

<H2 CLASS="title">Rifiuta le stampe sulla {is_class?classe:stampante} {printer_name}</H2>

<P>{is_class?La classe:La stampante} <A
HREF="/{is_class?classes:printers}/{printer_name}">{printer_name}</A>
non accetta le stampe.</P>

</DIV>
