<DIV CLASS="indent">

<H2 CLASS="title"><A HREF="{printer_uri_supported}">{printer_name}</A>
({printer_state=3?inattiva:{printer_state=4?stampa in corso:in pausa}},
{printer_is_accepting_jobs=0?rifiuta le stampe:accetta le stampe},
{server_is_sharing_printers=0?non è:{printer_is_shared=0?non è:}} condivisa{default_name={printer_name}?, stampante predefinita:})</H2>

<FORM METHOD="POST" ACTION="{printer_uri_supported}" NAME="maintenance">
<INPUT TYPE="HIDDEN" NAME="org.cups.sid" VALUE="{$org.cups.sid}">
<SELECT NAME="OP" ONCHANGE="document.maintenance.submit();">
<OPTION VALUE="">Manutenzione</OPTION>
<OPTION VALUE="print-test-page">Stampa una pagina di prova</OPTION>
{printer_commands~.*Clean.*?<OPTION VALUE="clean-print-heads">Pulisci le testine della stampante</OPTION>:}
{printer_commands~.*PrintSelfTestPage.*?<OPTION VALUE="print-self-test-page">Stampa la pagina di prova della stampante</OPTION>:}
{printer_state=5?<OPTION VALUE="start-printer">Riattiva la stampante</OPTION>:<OPTION VALUE="stop-printer">Metti in pausa la stampante</OPTION>}
{printer_is_accepting_jobs=0?<OPTION VALUE="accept-jobs">Accetta le stampe</OPTION>:<OPTION VALUE="reject-jobs">Rifiuta le stampe</OPTION>}
<OPTION VALUE="move-jobs">Sposta tutte le stampe</OPTION>
<OPTION VALUE="purge-jobs">Elimina tutte le stampe</OPTION>
</SELECT>
<INPUT TYPE="SUBMIT" VALUE="Go" STYLE="display: none;">
</FORM>

<FORM METHOD="POST" ACTION="{admin_uri}" NAME="administration">
<INPUT TYPE="HIDDEN" NAME="org.cups.sid" VALUE="{$org.cups.sid}">
<INPUT TYPE="HIDDEN" NAME="printer_name" VALUE="{printer_name}">
<SELECT NAME="OP" ONCHANGE="document.administration.submit();">
<OPTION VALUE="">Amministrazione</OPTION>
<OPTION VALUE="modify-printer">Modifica la stampante</OPTION>
<OPTION VALUE="delete-printer">Elimina la stampante</OPTION>
<OPTION VALUE="set-printer-options">Imposta le opzioni predefinite</OPTION>
<OPTION VALUE="set-as-default">Imposta come predefinita</OPTION>
<OPTION VALUE="set-allowed-users">Imposta gli utenti autorizzati</OPTION>
</SELECT>
<INPUT TYPE="SUBMIT" VALUE="Go" STYLE="display: none;">
</FORM>

<TABLE SUMMARY="{printer_name}">
<TR><TH ALIGN="RIGHT" VALIGN="TOP">Descrizione:</TH><TD>{printer_info}</TD></TR>
<TR><TH ALIGN="RIGHT" VALIGN="TOP">Posizione:</TH><TD>{printer_location}</TD></TR>
<TR><TH ALIGN="RIGHT" VALIGN="TOP">Driver:</TH><TD>{printer_make_and_model} ({color_supported=1?color:grayscale}{sides_supported?, 2-sided printing:})<BR>
<TR><TH ALIGN="RIGHT" VALIGN="TOP">Connessione:</TH><TD>{device_uri}</TD></TR>
<TR><TH ALIGN="RIGHT" VALIGN="TOP">Valori predefiniti:</TH><TD>job-sheets={job_sheets_default}
media={media_default?{media_default}:sconosciuto}
{sides_default?sides={sides_default}:}</TD></TR>
</TABLE>

</DIV>