<DIV CLASS="indent">

<H2 CLASS="title">Ripristina {is_class?la classe:la stampante} {printer_name}</H2>

<P>{is_class?La classe:La stampante} <A
HREF="/{is_class?classes:printers}/{printer_name}">{printer_name}</A>
è stata ripristinata.</P>

</DIV>