<DIV CLASS="indent">

<H2 CLASS="title">Modifica le impostazioni</H2>

<P><IMG SRC="/images/wait.gif" WIDTH="16" HEIGHT="16" ALIGN="ABSMIDDLE"
ALT="Indicatore di occupato"> Attendere che il server si riavvii...</P>

</DIV>
