<DIV CLASS="indent">

<H2 CLASS="title">Cambia impostazioni</H2>

<P><IMG SRC="/images/wait.gif" WIDTH="16" HEIGHT="16" ALIGN="ABSMIDDLE"
ALT="Indicatore di occupato"> Attendi il riavvio del server...</P>

</DIV>
