<DIV CLASS="indent">

<H2 CLASS="title">Stampa pagina di prova su {printer_name}</H2>

<P>Pagina di prova inviata; l'ID della stampa è <A HREF="/{SECTION}/{printer_name}">
{printer_name}-{job_id}</A>.</P>

</DIV>
