</TD></TR>
<TR><TD>&nbsp;</TD></TR>
<TR><TD CLASS="trailer">CUPS e il logo CUPS sono marchi di
<A HREF="http://www.apple.com">Apple Inc.</A> CUPS è un copyright 2007-2011 Apple
Inc. Tutti i diritti sono riservati.</TD></TR>
</TABLE>
</BODY>
</HTML>
