</DIV></TD></TR>
<TR><TD>&nbsp;</TD></TR>
<TR><TD CLASS="trailer">CUPS e il logo di CUPS sono marchi registrati da
<A HREF="http://www.apple.com">Apple Inc.</A> Copyright 2007-2013 Apple
Inc. Tutti i diritti sono riservati.</TD></TR>
</TABLE>
</BODY>
</HTML>
