<DIV CLASS="indent">

<H2 CLASS="title">Удаление группы {printer_name}</H2>

<P><B>Предупреждение:</B> вы действительно хотите удалить группу
«{printer_name}»?</P>

<P ALIGN="CENTER"><FORM ACTION="/admin/" METHOD="POST"><INPUT TYPE="HIDDEN" NAME="op" VALUE="delete-class"><INPUT TYPE="HIDDEN" NAME="printer_name" VALUE="{printer_name}"><INPUT TYPE="SUBMIT" NAME="confirm" VALUE="Удалить группу"></FORM></P>

</DIV>
