<DIV CLASS="indent">
<FORM ACTION="/help/{?HELPFILE}" METHOD="GET">
{TOPIC?<INPUT TYPE="HIDDEN" NAME="TOPIC" VALUE="{TOPIC}">:}

<P ALIGN="CENTER"><B>Поиск
{HELPTITLE?в {HELPTITLE}:{TOPIC?в {TOPIC}:по справке}}:</B> <INPUT
TYPE="SEARCH" NAME="QUERY" VALUE="{?QUERY}" SIZE="40" PLACEHOLDER=""
AUTOSAVE="org.cups.help" RESULTS="20">
<INPUT TYPE="SUBMIT" NAME="SEARCH" VALUE="Поиск">
<INPUT TYPE="SUBMIT" NAME="CLEAR" VALUE="Очистить"></P>

</FORM>

<!-- Bookmarks -->
<DIV CLASS="sidebar"><TABLE CLASS="inset" SUMMARY="Содержание">
<TR><TD>

<H3 CLASS="title">Документация</H3>

<P CLASS="l0"><A HREF="/help/{QUERY??QUERY={QUERY}:}">Все разделы</A></P>
<HR>

{[BMTEXT]<P CLASS="l{BMINDENT}"><A HREF="{BMLINK}">{BMTEXT}</A></P>
}
</TD></TR>
</TABLE></DIV>

{QUERY?<P>Результаты поиска в {HELPFILE?{HELPTITLE}:{TOPIC?{TOPIC}:всей справке}}\:</P>
{QTEXT?<UL>
{[QTEXT]<LI><A HREF="{QLINK}">{QTEXT}</A>{QPTEXT? (in <I><A HREF="{QPLINK}">{QPTEXT}</A></I>):}</LI>}
{QTEXT?</UL>:}
:<P>Не найдено совпадений.</P>}
<HR NOSHADE>:}
{HELPTITLE?<H1>{HELPTITLE}</H1>
<FORM ACTION="/help/{?HELPFILE}" METHOD="GET"><INPUT TYPE="HIDDEN" NAME="PRINTABLE" VALUE="YES"><INPUT TYPE="SUBMIT" VALUE="Показать версию для печати"></FORM>:

<H1>Справка</H1>

<P>Это справка CUPS. Введите выше слова для поиска в справке и нажмите «Поиск», чтобы показать результаты поиска.</P>

<P>Если вы пока мало знакомы с CUPS, прочтите раздел «<a
href="/help/overview.html">Введение в CUPS</a>». Опытные пользователи
могут обратиться к разделу <nobr>«<a href="/help/whatsnew.html">Что нового в CUPS 1.4</a>»</nobr>.</P>

<P><A HREF="http://www.cups.org/">Веб-сайт CUPS</A> содержит большое количество ресурсов для пользователей, включая форум, ответы
на часто задаваемые вопросы и форму для регистрации ошибок и пожеланий.</P>}
