<DIV CLASS="indent">

<H2 CLASS="title">Очистка всех заданий для {is_class?группы:принтера} {printer_name}</H2>

<P>Все задания для {is_class?группы:принтера} «<A
HREF="/{is_class?группы:принтеры}/{printer_name}">{printer_name}</A>»
очищены.</P>

</DIV>