<H2 CLASS="title">Настройки по умолчанию для {printer_name}</H2>

<P>{OP=set-class-options?Группа <A HREF="/classes/{printer_name}">:Принтер <A HREF="/printers/{printer_name}">}{printer_name}</A>
теперь использует параметры по умолчанию.
