<DIV CLASS="indent">

<H2 CLASS="title">Отмена заданий для {is_class?группы:принтера} {printer_name}</H2>

<P>{is_class?Группа:Принтер} «<A
HREF="/{is_class?classes:printers}/{printer_name}">{printer_name}</A>»
больше не принимает задания.</P>

</DIV>
