<DIV CLASS="indent">

<H2 CLASS="title">Приостановить {is_class?группу:принтер} {printer_name}</H2>

<P>{is_class?Группа:Принтер} «<A
HREF="/{is_class?classes:printers}/{printer_name}">{printer_name}</A>»
{is_class?была приостановлена:был приостановлен}.</P>

</DIV>
