<DIV CLASS="indent">

<H2 CLASS="title">Прием заданий {is_class?в группу:на принтер} {printer_name}</H2>

<P>{is_class?Группа:Принтер} <A
HREF="/{is_class?classes:printers}/{printer_name}">{printer_name}</A>
теперь принимает задания.</P>

</DIV>
