<DIV CLASS="indent">

<H2 CLASS="title">Установка {is_class?группы:принтера} {printer_name} по умолчанию</H2>

<P>{is_class?Группа:Принтер} <A
HREF="/{is_class?classes:printers}/{printer_name}">{printer_name}</A>
установлены на сервере по умолчанию для новых заданий.</P>

<BLOCKQUOTE><B>Примечание:</B> вы можете переопределить это поведение с помощью команды
 <TT>lpoptions</TT>.</BLOCKQUOTE>

</DIV>
