<DIV CLASS="indent">

<H2 CLASS="title">Применение изменений параметров</H2>

<P><IMG SRC="/images/wait.gif" WIDTH="16" HEIGHT="16" ALIGN="ABSMIDDLE"
ALT="Busy Indicator"> Дождитесь перезагрузки сервера...</P>

</DIV>
