      </div>
    </div>
    <div class="footer">CUPS, а так же логотип CUPS являются зарегистрированными торговыми марками
<A HREF="http://www.apple.com">Apple Inc.</A> Авторские права на CUPS принадлежат (2007-2014) компании Apple Inc. Все права защищены.</div>
  </body>
</html>
