<FORM METHOD="POST" ACTION="/admin">
<INPUT TYPE="HIDDEN" NAME="OP" VALUE="{op}">
<INPUT TYPE="HIDDEN" NAME="PRINTER_NAME" VALUE="{printer_name}">
<INPUT TYPE="HIDDEN" NAME="PRINTER_LOCATION" VALUE="{?printer_location}">
<INPUT TYPE="HIDDEN" NAME="PRINTER_INFO" VALUE="{?printer_info}">
<INPUT TYPE="HIDDEN" NAME="CURRENT_MAKE_AND_MODEL" VALUE="{?current_make_and_model}">

<H2 CLASS="title">URI de la conexi&oacute;n para {printer_name}</H2>

<TABLE>
<TR>
<TH CLASS="label">URI de la conexi&oacute;n:</TH>
<TD><INPUT TYPE="TEXT" SIZE="60" MAXLENGTH="1024" NAME="DEVICE_URI" VALUE="{device_uri}"></TD>
</TR>
<TR>
<TD></TD>
<TD>Ejemplos:
<PRE>
    file:/camino/a/archivo.prn
    http://nombre_ordenador:631/ipp/
    http://nombre_ordenador:631/ipp/puerto1
    ipp://nombre_ordenador/ipp/
    ipp://nombre_ordenador/ipp/puerto1
    lpd://nombre_ordenador/cola
    socket://nombre_ordenador
    socket://nombre_ordenador:9100
</PRE>

<P>Vea <A HREF="/help/network.html" TARGET="_blank">"Impresoras
en red"</A> para escoger el URI adecuado a usar con su impresora.</P>

</TD>
</TR>
<TR>
<TD></TD>
<TD><INPUT TYPE="IMAGE" SRC="/images/button-continue.gif" ALT="Siguiente"></TD>
</TR>
</TABLE>

</FORM>
