<P><B>Advertencia:</B> &iquest;Est&aacute; seguro de querer borrar la clase
{printer_name}?</P>

<P ALIGN="CENTER"><A
HREF="/admin?op=delete-class&printer_name={printer_name}&confirm=yes"><IMG
SRC="/images/button-delete-class.gif" ALT="Borrar clase"
CLASS="button"></A></P>
