<P><B>Advertencia:</B> Se va a proceder al borrado de la clase {printer_name} &iquest;Desea seguir?

<P ALIGN="CENTER">
<A HREF="/admin/?op=delete-class&printer_name={printer_name}&confirm=yes">
<IMG SRC="/images/continue.gif" ALT="Siguiente" BORDER="0"></A>
