<DIV CLASS="indent">

<H2 CLASS="title">Borrar clase {printer_name}</H2>

<P><B>Advertencia:</B> &iquest;Est&aacute; seguro de querer borrar la clase
{printer_name}?</P>

<P ALIGN="CENTER"><FORM ACTION="/admin/" METHOD="POST"><INPUT TYPE="HIDDEN" NAME="op" VALUE="delete-class"><INPUT TYPE="HIDDEN" NAME="printer_name" VALUE="{printer_name}"><INPUT TYPE="SUBMIT" NAME="confirm" VALUE="Borrar clase"></FORM></P>

</DIV>
