<HTML>
<HEAD>
	<TITLE>{title} on {server_name} - {cups_version}</TITLE>
	<!-- Prevent caching of CGI content -->
	<META HTTP-EQUIV="Expires" CONTENT="now">
	<META HTTP-EQUIV="Pragma" CONTENT="no-cache"> 
	<LINK REL="STYLESHEET" TYPE="text/css" HREF="/cups.css">
	<MAP NAME="navbar">
		<AREA SHAPE="RECT" COORDS="12,8,50,22" HREF="http://www.easysw.com" ALT="P&aacute;gina inicial de Easy Software Products">
		<AREA SHAPE="RECT" COORDS="82,8,198,22" HREF="/admin" ALT="Tareas de administraci&oacute;n">
		<AREA SHAPE="RECT" COORDS="216,8,270,22" HREF="/classes" ALT="Administra las clases de impresoras">
		<AREA SHAPE="RECT" COORDS="292,8,344,22" HREF="/documentation.html" ALT="Ayuda en l&iacute;nea">
		<AREA SHAPE="RECT" COORDS="366,8,435,22" HREF="/jobs" ALT="Administra trabajos">
		<AREA SHAPE="RECT" COORDS="456,8,544,22" HREF="/printers" ALT="Administra impresoras">
		<AREA SHAPE="RECT" COORDS="566,8,638,22" HREF="http://www.cups.org" ALT="Descargar la versi&oacute;n actual de CUPS">
	</MAP>
</HEAD>
<BODY BGCOLOR="#cccc99" TEXT="#000000" LINK="#0000FF" VLINK="#FF00FF">
<CENTER>
<IMG SRC="/images/navbar.gif" WIDTH="653" HEIGHT="30" USEMAP="#navbar" BORDER="0" ALT="CUPS (Sistema de impresi&oacute;n com&uacute;n de UNIX)">
</CENTER>

<H1>{title}</H1>
