<DIV CLASS="indent">
<FORM ACTION="/help/{?HELPFILE}" METHOD="GET">
{TOPIC?<INPUT TYPE="HIDDEN" NAME="TOPIC" VALUE="{TOPIC}">:}

<P ALIGN="CENTER"><B>Buscar en
{HELPTITLE?{HELPTITLE}:{TOPIC?{TOPIC}:todos los documentos}}:</B> <INPUT
TYPE="SEARCH" NAME="QUERY" VALUE="{?QUERY}" SIZE="40" PLACEHOLDER=""
AUTOSAVE="org.cups.help" RESULTS="20">
<INPUT TYPE="SUBMIT" NAME="SEARCH" VALUE="Buscar">
<INPUT TYPE="SUBMIT" NAME="CLEAR" VALUE="Borrar"></P>

</FORM>

<!-- Bookmarks -->
<DIV CLASS="sidebar"><TABLE CLASS="inset" SUMMARY="Contenidos">
<TR><TD>

<H3 CLASS="title">Documentos de ayuda en l&iacute;nea</H3>

<P CLASS="l0"><A HREF="/help/{QUERY??QUERY={QUERY}:}">Todos los documentos</A></P>
<HR>

{[BMTEXT]<P CLASS="l{BMINDENT}"><A HREF="{BMLINK}">{BMTEXT}</A></P>
}
</TD></TR>
</TABLE></DIV>

{QUERY?<P>Buscar resultados en {HELPFILE?{HELPTITLE}:{TOPIC?{TOPIC}:todos los documentos}}\:</P>
{QTEXT?<UL>
{[QTEXT]<LI><A HREF="{QLINK}">{QTEXT}</A>{QPTEXT? (in <I><A HREF="{QPLINK}">{QPTEXT}</A></I>):}</LI>}
{QTEXT?</UL>:}
:<P>No hay coincidencias.</P>}
<HR NOSHADE>:}
{HELPTITLE?<H1>{HELPTITLE}</H1>
<FORM ACTION="/help/{?HELPFILE}" METHOD="GET"><INPUT TYPE="HIDDEN" NAME="PRINTABLE" VALUE="YES"><INPUT TYPE="SUBMIT" VALUE="Ver versi&oacute;n imprimible"></FORM>:

<H1>Ayuda en l&iacute;nea</H1>

<P>Esta es la interfaz de ayuda en l&iacute;nea de CUPS. Introduzca las palabras
a buscar aqu&iacute; encima o haga clic en cualquiera de los enlaces de la
documentaci&oacute;n para visualizar la informaci&oacute;n de ayuda en l&iacute;nea.</P>

<P>Si es nuevo en CUPS, lea la p&aacute;gina "<a
href="/help/overview.html">Informaci&oacute;n general de CUPS</a>". Los usuarios veteranos
deber&iacute;an leer la p&aacute;gina "<a href="/help/whatsnew.html">Qu&eacute; hay de nuevo en CUPS
1.4</a>".</P>

<P>La <A HREF="http://www.cups.org/">p&aacute;gina de inicio de CUPS</A> tambi&eacute;n
proporciona muchos recursos, incluyendo foros de discusi&oacute;n de usuarios, respuestas
a preguntas frecuentes, y un formulario para el env&iacute;o de informes de errores y
peticiones de mejoras.</P>}
