<H2 CLASS="title">{job_id?Mover trabajo {job_id}:Mover todos los trabajos}</H2>

<P>Se {job_id?ha movido el <A HREF="/jobs/{job_id}">Trabajo {job_id}</A>:han movido todos los trabajos} a
<A HREF="{job_printer_uri}">{job_printer_name}</A>.</P>
