<H2 CLASS="title">Impresoras disponibles</H2>

{#device_uri=0?<P>No se encuentran impresoras.</P>
:<UL>{[device_uri]
<LI><A HREF="/admin?op=add-printer&amp;{device_options}"><IMG
SRC="/images/button-add-this-printer.gif" ALT="A&ntilde;adir esta impresora" CLASS="button"
ALIGN="MIDDLE"></A>
{device_make_and_model} ({device_info})</LI>
}</UL>}

