<P><B>Error:</B> Las siguientes opciones est&aacute;n en conflicto:</P>

<UL>
{[ckeyword]<LI><A HREF="#{ckeyword}">{ckeytext}</A>: {cchoice}</LI>
}</UL>

<P>Cambie una o m&aacute;s de las opciones para resolver el problema.</P>
