<DIV CLASS="indent">

<H2 CLASS="title">Purgar trabajos de la {is_class?clase:impresora} {printer_name}</H2>

<P>Se han purgado todos los trabajos de la {is_class?clase:impresora} <A
HREF="/{is_class?classes:printers}/{printer_name}">{printer_name}</A>.</P>

</DIV>