<P>Se ha puesto como predeterminada en el servidor la impresora
<A HREF="/printers/{printer_name}">{printer_name}</A>. Observe que cualquier
opci&oacute;n de usuario que haya sido activada por mediaci&oacute;n del comando
<TT>lpoptions</TT> tiene mayor preferencia que este ajuste por defecto.