<DIV CLASS="indent">

<H2 CLASS="title">Cambiar opciones predeterminadas de {printer_name}</H2>

<P>{OP=set-class-options?Class <A HREF="/classes/{printer_name}">:Printer <A HREF="/printers/{printer_name}">}{printer_name}</A>
default options have been set successfully.

</DIV>
