<P><B>Advertencia:</B> &iquest;Est&aacute; seguro de querer borrar la impresora
{printer_name}?</P>

<P ALIGN="CENTER"><A
HREF="/admin?op=delete-printer&printer_name={printer_name}&confirm=yes"><IMG
SRC="/images/button-delete-printer.gif" ALT="Borrar impresora"
CLASS="button"></A></P>
