<H2 CLASS="title">Poner la {is_class?clase:impresora} {printer_name} como predeterminada</H2>

<P>Se ha puesto como predeterminada en el servidor la {is_class?clase:impresora} <A
HREF="/{is_class?classes:printers}/{printer_name}">{printer_name}</A>.</P>

<BLOCKQUOTE><B>Nota:</B> cualquier opci&oacute;n de usuario
que haya sido activada por mediaci&oacute;n del comando
<TT>lpoptions</TT> tiene mayor preferencia que este ajuste 
predeterminado.</BLOCKQUOTE>
