<DIV CLASS="indent">

<H2 CLASS="title">Cambiar opciones predeterminadas de {printer_name}</H2>

<P>Se han establecido con &eacute;xito las opciones predeterminadas de la
{OP=set-class-options?clase <A HREF="/classes/{printer_name}">:impresora <A HREF="/printers/{printer_name}">}{printer_name}</A>.

</DIV>
