<P><B>Advertencia:</B> Se va a proceder al borrado de la impresora {printer_name} &iquest;Desea seguir?


<P ALIGN="CENTER">
<A HREF="/admin/?op=delete-printer&printer_name={printer_name}&confirm=yes">
<IMG SRC="/images/continue.gif" ALT="Continue" BORDER="0"></A>
