<DIV CLASS="indent">

<H2 CLASS="title">Aceptar trabajos de la {is_class?clase:impresora} {printer_name}</H2>

<P>La {is_class?clase:impresora} <A
HREF="/{is_class?classes:printers}/{printer_name}">{printer_name}</A>
ahora acepta trabajos.</P>

</DIV>
