<DIV CLASS="indent">

<H2 CLASS="title">Cambiar especificaciones</H2>

<P><IMG SRC="/images/wait.gif" WIDTH="16" HEIGHT="16" ALIGN="ABSMIDDLE"
ALT="Indicador de ocupado"> Por favor espere mientras se reinicia el servidor...</P>

</DIV>
