<H2 CLASS="title">Imprimir p&aacute;gina de prueba en {printer_name}</H2>

<P>P&aacute;gina de prueba enviada; el n&uacute;mero del trabajo es el <A HREF="/{SECTION}/{printer_name}">
{printer_name}-{job_id}</A>.</P>
