      </div>
    </div>
    <div class="footer">CUPS y el logo de CUPS son marcas registradas de <a href="http://www.apple.com">Apple Inc.</a> Derechos de autor &copy; 2007-2015 Apple Inc. Todos los derechos reservados.</div>
  </body>
</html>
