<P><B>אזהרה:</B> האם את/ה בטוח/ה שאת/ה רוצה למחוק את המחלקה {printer_name}?</P>

<P ALIGN="CENTER"><A
HREF="/admin?op=delete-class&printer_name={printer_name}&confirm=yes"><IMG
SRC="/images/button-delete-class.gif" ALT="מחק מחלקה"
CLASS="button"></A></P>
