<FORM ACTION="/help/{?HELPFILE}" METHOD="GET">
{TOPIC?<INPUT TYPE="HIDDEN" NAME="TOPIC" VALUE="{TOPIC}">:}

<P ALIGN="CENTER"><B>חפש
ב{HELPTITLE?{HELPTITLE}:{TOPIC?{TOPIC}:כל התיעוד}}:</B> <INPUT
TYPE="TEXT" NAME="QUERY" VALUE="{?QUERY}" SIZE="60"> <INPUT
TYPE="IMAGE" SRC="/images/button-search.gif" ALT="חפש">
<A HREF="/help/{?HELPFILE}{QUERY?{TOPIC??TOPIC={TOPIC}:}:}"><IMG
SRC="/images/button-clear.gif" ALT="נקה" CLASS="button"></A></P>

</FORM>

<!-- Bookmarks -->
<DIV CLASS="sidebar" dir=ltr>
<H3 CLASS="title" dir=rtl>מסמכי עזרה מקוונים</H3>

<P CLASS="l0" dir=rtl><A HREF="/help/{QUERY??QUERY={QUERY}:}">כל המסמכים</A></P>
<HR>

{[BMTEXT]<P CLASS="l{BMINDENT}"><A HREF="{BMLINK}">{BMTEXT}</A></P>
}
</DIV>

{QUERY?<P>חפש תוצאות ב{HELPFILE?{HELPTITLE}:{TOPIC?{TOPIC}:כל המסמכים}}\:</P>
{QTEXT?<UL>
{[QTEXT]<LI><A HREF="{QLINK}">{QTEXT}</A>{QPTEXT? (ב<I><A HREF="{QPLINK}">{QPTEXT}</A></I>):}</LI>}
{QTEXT?</UL>:}
:<P>לא נמצאו התאמות.</P>}
<HR NOSHADE>:}
{HELPTITLE?<H1>{HELPTITLE}
<A HREF="/help/{HELPFILE}?PRINTABLE=YES" TARGET="_blank"><IMG
SRC="/images/button-view-printable-version.gif" ALT="צפה בגרסת הדפסה"
CLASS="button"></A></H1><DIV dir=ltr>:<H1>דפי עזרה של CUPS</H1>

<P>זהו ממשק העזרה המקוונת של CUPS. הקלד מילות חיפוש מעלה או הקלק על קישורי התיעוד כדי להציג עזרה מקוונת.</P>

<P>אם את/ה משתמש חדש/ה ב CUPS, קרא/י את עמוד "<a
href="overview.html">סקירה כללית של CUPS</a>". משתמשים וותיקים רצוי שיקראו את עמוד "<a href="whatsnew.html">מה חדש ב CUPS 1.2</a>".</P>

<P>ה<A HREF="http://www.cups.org/">דף הבית של CUPS</A> גם מספק
משאבים רבים לרבות פורומי משתמשים, תשובות לשאלות נפוצות,
וטופס להגשת דיווחי באגים ובקשות שיפורים.</P>}
