<P><B>אזהרה:</B> האם את/ה בטוח/ה שברצונך למחוק את המדפסת {printer_name}?</P>

<P ALIGN="CENTER"><A
HREF="/admin?op=delete-printer&printer_name={printer_name}&confirm=yes"><IMG
SRC="/images/button-delete-printer.gif" ALT="מחק מדפסת"
CLASS="button"></A></P>
