<P>{is_class?מחלקה:מדפסת} <A
HREF="/{is_class?classes:printers}/{printer_name}">{printer_name}</A>
הוגדרה כמדפסת ברירת-המחדל בשרת.</P>

<BLOCKQUOTE><B>הערה:</B> איזושהי ברירת-מחדל ברמת משתמש שהוגדרה עם הפקודה
<TT>lpoptions</TT> תקבל עדיפות על-פני הגדרת ברירת-מחדל זו.</BLOCKQUOTE>
