{#printer_name=0?:
<TABLE CLASS="list" SUMMARY="Osztálylista">
<THEAD>
<TR><TH><A
HREF="{THISURL}?QUERY={?QUERY}&amp;WHICH_JOBS={?WHICH_JOBS}&amp;FIRST={FIRST}&amp;ORDER={ORDER=dec?asc:dec}">{ORDER=dec?<SMALL>&#x25b2;</SMALL>
Sor neve <SMALL>&#x25b2;</SMALL>:<SMALL>&#x25bc;</SMALL> Sor neve
<SMALL>&#x25bc;</SMALL>}</A></TH><TH>
Leírás</TH><TH>Hely</TH><TH>Tagok</TH><TH>Állapot</TH></TR>
</THEAD>
<TBODY>
{[printer_name]<TR><TD><A HREF="{printer_uri_supported}">{printer_name}</A></TD><TD>{printer_info}</TD><TD>{printer_location}</TD><TD>{?member_uris=?Nincs:{member_uris}}</TD><TD>{printer_state=3?Tétlen:{printer_state=4?Feldolgozás:Szüneteltetve}}{printer_state_message?
- "{printer_state_message}":}</TD></TR>
}
</TBODY>
</TABLE></DIV>}
