<DIV CLASS="indent">

<H2 CLASS="title">{title} ezen: {printer_name}</H2>

<P>{job_state>5?:<IMG SRC="/images/wait.gif" WIDTH="16" HEIGHT="16"
ALIGN="ABSMIDDLE" ALT="Foglalt jelzés"> }Nyomtató parancs feladat
{job_state=3?függőben:{job_state=4?felfüggesztve:
{job_state=5?feldolgozás:{job_state=6?leállítva:
{job_state=7?megszakítva:{job_state=8?félbeszakítva:befejeződött}}}}}}{job_state=9?:{job_printer_state_message?,
<EM>"{job_printer_state_message}"</EM>:}}</P>

</DIV>
