<DIV CLASS="indent">

<H2 CLASS="title">{job_id?Feladat mozgatása {job_id}:Minden feladat
mozgatása}</H2>

<P>{job_id?<A HREF="/jobs/{job_id}">A(z) {job_id}. feladat</A>:Minden
feladat} átmozgatva ide: <A
HREF="/{is_class?classes:printers}/{job_printer_name}">{job_printer_name}</A>.</P>

</DIV>
