<P><B>Hiba:</B> A következő beállítások ütköznek:</P>

<UL>
{[ckeyword]<LI><A HREF="#{ckeyword}">{ckeytext}</A>: {cchoice}</LI>
}</UL>

<P>Az ütközés feloldása érdekében módosítsa legalább az egyik beállítást.</P>
