<DIV CLASS="indent">

<H2 CLASS="title">{printer_name} {is_class?osztály:nyomtató} szüneteltetése</H2>

<P>A(z) <A
HREF="/{is_class?classes:printers}/{printer_name}">{printer_name}</A>
{is_class?osztály:nyomtató} működése szünetel.</P>

</DIV>