<DIV CLASS="indent">

<H2 CLASS="title">{printer_name} {is_class?osztály:nyomtató} beállítása alapértelmezettként</H2>

<P>A(z) <A
HREF="/{is_class?classes:printers}/{printer_name}">{printer_name}</A>
{is_class?osztály:nyomtató} alapértelmezett nyomtatóvá téve a kiszolgálón.</P>

<BLOCKQUOTE><B>Megjegyzés:</B> Az <TT>lpoptions</TT> parancs segítségével
beállított felhasználói alapértelmezések felülbírálják ezt az
alapértelmezett beállítást.</BLOCKQUOTE>

</DIV>
