<DIV CLASS="indent">

<H2 CLASS="title">Feladatok elfogadása a(z) {printer_name}
{is_class?osztályban:nyomtatón}</H2>

<P>A(z) <A
HREF="/{is_class?classes:printers}/{printer_name}">{printer_name}</A>
{is_class?osztály:nyomtató} már elfogadja a feladatokat.</P>

</DIV>
