<DIV CLASS="indent">

<H2 CLASS="title">Feladatok eltávolítása a(z) {printer_name} {is_class?osztályból:nyomtatóról}</H2>

<P>A(z) <A
HREF="/{is_class?classes:printers}/{printer_name}">{printer_name}</A>
{is_class?osztály:nyomtató} összes feladata eltávolítva.</P>

</DIV>