<DIV CLASS="indent">

<H2 CLASS="title">{printer_name} alapértelmezett beállításainak megadása</H2>

<P>{OP=set-class-options?A(z) <A HREF="/classes/{printer_name}">
osztály:A(z) <A HREF="/printers/{printer_name}">}{printer_name}</A>
nyomtató alapértelmezett beállításai sikeresen megadva.
</DIV>
