<DIV CLASS="indent">

<H2 CLASS="title">Beállítások módosítása</H2>

<P><IMG SRC="/images/wait.gif" WIDTH="16" HEIGHT="16" ALIGN="ABSMIDDLE"
ALT="Foglalt jelzés"> Kis türelmet a kiszolgáló újraindulásáig...</P>

</DIV>
