<FORM ACTION="/{SECTION}/{?SEARCH_DEST}" METHOD="GET">
{WHICH_JOBS?<INPUT TYPE="HIDDEN" NAME="WHICH_JOBS" VALUE="{WHICH_JOBS}">:}
{ORDER?<INPUT TYPE="HIDDEN" NAME="ORDER" VALUE="{ORDER}">:}

<P ALIGN="CENTER"><B>Keresés
{SEARCH_DEST?itt\: {SEARCH_DEST}:{SECTION=classes?osztályok
között:{SECTION=jobs?feladatok között:nyomtatók között}}}:</B>
<INPUT TYPE="SEARCH" NAME="QUERY" VALUE="{?QUERY}" SIZE="40"  PLACEHOLDER="" AUTOSAVE="org.cups.{SECTION}" RESULTS="20"> <INPUT
TYPE="SUBMIT" VALUE="Keresés"> <INPUT TYPE="SUBMIT" NAME="CLEAR" VALUE="Törlés"></P>

</FORM>
