<DIV CLASS="indent">

<H2 CLASS="title">Tesztoldal nyomtatása a következőn: {printer_name}</H2>

<P>Tesztoldal elküldve; a feladatazonosító: <A
HREF="/{SECTION}/{printer_name}"> {printer_name}-{job_id}</A>.</P>

</DIV>
