</TD></TR>
<TR><TD>&nbsp;</TD></TR>
<TR><TD CLASS="trailer">A CUPS és a CUPS logó az <A
HREF="http://www.apple.com">Apple Inc.</A> védjegyei. CUPS copyright
2007-2012 Apple Inc. Minden jog fenntartva.</TD></TR>
</TABLE>
</BODY>
</HTML>
