<P><B>Attention :</B> Êtes vous sûr(e) de vouloir supprimer la classe
{printer_name}?</P>

<P ALIGN="CENTER"><A
HREF="/admin?op=delete-class&printer_name={printer_name}&confirm=yes"><IMG
SRC="/images/button-delete-class.gif" ALT="Supprimer la classe"
CLASS="button"></A></P>
