<P><B>Avertissement:</B> Vous êtes sur le point de supprimer la classe
 {printer_name}! Voulez-vous continuer ?

<P ALIGN="CENTER">
<A HREF="/admin/?op=delete-class&printer_name={printer_name}&confirm=yes">
<IMG SRC="/images/continue.gif" ALT="Suite..." BORDER="0"></A>
