<DIV CLASS="indent">

<H2 CLASS="title">{title} sur {printer_name}</H2>

<P>{job_state>5?:<IMG SRC="/images/wait.gif" WIDTH="16" HEIGHT="16"
ALIGN="ABSMIDDLE" ALT="Busy Indicator"> }Commandes de t&acirc;che d'impression
{job_state=3?en attente:{job_state=4?retenu:
{job_state=5?en cours d'impression:{job_state=6?arr&ecirc;t&eacute;:
{job_state=7?annul&eacute;:{job_state=8?annul&eacute;:termin&eacute;}}}}}}{job_state=9?:{job_printer_state_message?,
<EM>"{job_printer_state_message}"</EM>:}}</P>

</DIV>
