<FORM ACTION="/help/{?HELPFILE}" METHOD="GET">
{TOPIC?<INPUT TYPE="HIDDEN" NAME="TOPIC" VALUE="{TOPIC}">:}

<P ALIGN="CENTER"><B>Rechercher dans 
{HELPTITLE?{HELPTITLE}:{TOPIC?{TOPIC}:Tous les Documents}}:</B> <INPUT
TYPE="TEXT" NAME="QUERY" VALUE="{?QUERY}" SIZE="60"> <INPUT
TYPE="IMAGE" SRC="/images/button-search.gif" ALT="Search">
<A HREF="/help/{?HELPFILE}{QUERY?{TOPIC??TOPIC={TOPIC}:}:}"><IMG
SRC="/images/button-clear.gif" ALT="Clear" CLASS="button"></A></P>

</FORM>

<!-- Bookmarks -->
<DIV CLASS="sidebar">
<H3 CLASS="title">Documents d'aide en ligne</H3>

<P CLASS="l0"><A HREF="/help/{QUERY??QUERY={QUERY}:}">Tous les documents</A></P>
<HR>

{[BMTEXT]<P CLASS="l{BMINDENT}"><A HREF="{BMLINK}">{BMTEXT}</A></P>
}
</DIV>

{QUERY?<P>Résultats de la recherche dans {HELPFILE?{HELPTITLE}:{TOPIC?{TOPIC}:Tous les Documents}}\:</P>
{QTEXT?<UL>
{[QTEXT]<LI><A HREF="{QLINK}">{QTEXT}</A>{QPTEXT? (in <I><A HREF="{QPLINK}">{QPTEXT}</A></I>):}</LI>}
{QTEXT?</UL>:}
:<P>Aucun résultat.</P>}
<HR NOSHADE>:}
{HELPTITLE?<H1>{HELPTITLE}
<A HREF="/help/{HELPFILE}?PRINTABLE=YES" TARGET="_blank"><IMG
SRC="/images/button-view-printable-version.gif" ALT="Version imprimable"
CLASS="button"></A></H1>:<H1>Pages d'aide de CUPS</H1>

<P>Voici l'interface d'aide en ligne de CUPS. Entrez ci-dessus les mots à rechercher
ou cliquez sur un lien ci-contre pour afficher l'ade en ligne du document.</P>

<P><SMALL><B>NDT:</B> Cette interface n'a pas été traduite en Français. Si vous souhaitez vous
atteler à cette tâche, merci d'aller au préalable sur le forum <A
HREF="http://www.cups.org/newsgroups.php?gcups.development">cups.development</A>
pour en informer les développeurs.</SMALL></P>

<P>Si vous êtes un nouvel utilisateur de CUPS, lisez la page "<a
href="overview.html">Overview of CUPS</a>". Il est conseillé aux utilisateurs
habitués de lire la page "<a href="whatsnew.html">What's New in CUPS
1.3</a>".</P>

<P>La <A HREF="http://www.cups.org/">page d'accueil de CUPS</A> donne aussi
accès à de nombreuses ressources, comme des forums de discussion pour les
utilisateurs, des réponses aux questions fréquentes, et un formulaire pour
soumettre des rapports de <I>bug</I> ou des demandes pour de nouvelles
fonctionnalités.</P>}
