<P>{?which_jobs=?<A
HREF="{?printer_name=?/jobs:{printer_uri_supported}}?which_jobs=completed"><IMG
SRC="/images/button-show-completed.gif" CLASS="button" ALT="Montrer les tâches terminées"></A>
<A HREF="{?printer_name=?/jobs:{printer_uri_supported}}?which_jobs=all"><IMG
SRC="/images/button-show-all.gif" CLASS="button" ALT="Montrer toutes les tâches">:{which_jobs=all?<A
HREF="{?printer_name=?/jobs:{printer_uri_supported}}?which_jobs=completed"><IMG
SRC="/images/button-show-completed.gif" CLASS="button" ALT="Montrer les tâches terminées"></A>
<A HREF="{?printer_name=?/jobs:{printer_uri_supported}}"><IMG
SRC="/images/button-show-active.gif" CLASS="button" ALT="Montrer les tâches en cours">:<A
HREF="{?printer_name=?/jobs:{printer_uri_supported}}"><IMG
SRC="/images/button-show-active.gif" CLASS="button" ALT="Montrer les tâches en cours"></A>
<A HREF="{?printer_name=?/jobs:{printer_uri_supported}}?which_jobs=all"><IMG
SRC="/images/button-show-all.gif" CLASS="button" ALT="Montrer toutes les tâches">}}</A></P>

<P ALIGN="CENTER">{total=0?Aucune tâche:Affichage de {#job_id}
tâche{#job_id=1?:s} {?which_jobs=?en cours:{which_jobs=all?:terminée{#job_id=1?:s}}} sur {total}}.</P>
