<DIV CLASS="indent">

<H2 CLASS="title">Modifier les Param&egrave;tres</H2>

<P>Le serveur n'a pas &eacute;t&eacute; red&eacute;marr&eacute; car la configuration
n'a pas &eacute;t&eacute; modifi&eacute;e...</P>

</DIV>
