<P><B>Erreur:</B> Les options suivantes sont incompatibles entre elles:</P>

<UL>
{[ckeyword]<LI><A HREF="#{ckeyword}">{ckeytext}</A>: {cchoice}</LI>
}</UL>

<P>Veuillez modifier une ou plusieurs de ces options pour r&eacute;soudre les conflits.</P>
