<TR>
	<TD></TD>
	<TD ALIGN="RIGHT" VALIGN="TOP">{keytext}:</TD>
	<TD><SELECT NAME="{keyword}" MULTIPLE SIZE="10">
	{[choices]<OPTION {choices={defchoice}?SELECTED:} VALUE="{choices}">{text}}
	</SELECT></TD>
</TR>
