<TR>
<TH CLASS="label"{conflicted=1? CLASS="conflict":}><A
NAME="{keyword}">{keytext}</A> :</TH>
<TD>
{[choices]<INPUT TYPE="RADIO" NAME="{keyword}" {choices={defchoice}?CHECKED:} VALUE="{choices}">{text}}
</TD>
</TR>
