<TR>
<TH CLASS="label"{conflicted=1? CLASS="conflict":}><A
NAME="{keyword}">{keytext}</A> :</TH>
<TD><SELECT NAME="{keyword}" MULTIPLE SIZE="10">
{[choices]<OPTION {choices={defchoice}?SELECTED:} VALUE="{choices}">{text}}
</SELECT></TD>
</TR>
