<H2 CLASS="title">Annuler la t&acirc;che sur {is_class?la classe:l'imprimante} {printer_name}</H2>

<P>Toutes les tâches sur {is_class?la classe:l'imprimante} <A
HREF="/{is_class?classes:printers}/{printer_name}">{printer_name}</A> ont &eacute;t&eacute; annul&eacute;e.</P>
