<DIV CLASS="indent">

<H2 CLASS="title">Accepte les T&acirc;ches sur {is_class?la classe:l'imprimante} {printer_name}</H2>

<P>{is_class?La classe:L'imprimante} <A
HREF="/{is_class?classes:printers}/{printer_name}">{printer_name}</A>
accepte d&eacute;sormais les t&acirc;ches d'impression.</P>

</DIV>
