<DIV CLASS="indent">

<H2 CLASS="title">Arr&ecirc;ter {is_class?la classe:l'imprimante} {printer_name}</H2>

<P>{is_class?La classe:L'imprimante} <A
HREF="/{is_class?classes:printers}/{printer_name}">{printer_name}</A>
a &eacute;t&eacute; arr&ecirc;t&eacute;e.</P>

</DIV>
