<H2 CLASS="title">D&eacute;finir les options par d&eacute;faut pour {printer_name}</H2>

<P>{OP=set-class-options?Class <A HREF="/classes/{printer_name}">:L'imprimante <A HREF="/printers/{printer_name}">}{printer_name}</A>
 a &eacute;t&eacute; configur&eacute;e avec succ&egrave;s.
