<H2 CLASS="title"><A HREF="{printer_uri_supported}">{printer_name}</A>
({printer_state=3?Inoccupée :{printer_state=4?En cours d'impression:En pause}},
{printer_is_accepting_jobs=0?Rejette les tâches:Accepte les tâches},
{server_is_sharing_printers=0?non:{printer_is_shared=0?non:}} partagée{default_name={printer_name}?, imprimante par défaut :})</H2>

<FORM METHOD="POST" ACTION="{printer_uri_supported}" NAME="maintenance">
<INPUT TYPE="HIDDEN" NAME="org.cups.sid" VALUE="{$org.cups.sid}">
<SELECT NAME="OP" ONCHANGE="document.maintenance.submit();">
<OPTION VALUE="">Maintenance</OPTION>
<OPTION VALUE="print-test-page">Imprimer une page de test</OPTION>
{printer_commands~.*Clean.*?<OPTION VALUE="clean-print-heads">Nettoyer les têtes d'impression</OPTION>:}
{printer_commands~.*PrintSelfTestPage.*?<OPTION VALUE="print-self-test-page">Imprimer la page de test de l'imprimante</OPTION>:}
{printer_state=5?<OPTION VALUE="start-printer">Démarrer l'imprimante</OPTION>:<OPTION VALUE="stop-printer">Arrêter l'imprimante</OPTION>}
{printer_is_accepting_jobs=0?<OPTION VALUE="accept-jobs">Accepter les tâches</OPTION>:<OPTION VALUE="reject-jobs">Rejeter les tâches</OPTION>}
<OPTION VALUE="move-jobs">Transférer toutes les tâches</OPTION>
<OPTION VALUE="cancel-jobs">Purger toutes les tâches</OPTION>
</SELECT>
<NOSCRIPT><INPUT TYPE="SUBMIT" VALUE="Go"></NOSCRIPT>
</FORM>

<FORM METHOD="POST" ACTION="{admin_uri}" NAME="administration">
<INPUT TYPE="HIDDEN" NAME="org.cups.sid" VALUE="{$org.cups.sid}">
<INPUT TYPE="HIDDEN" NAME="printer_name" VALUE="{printer_name}">
<SELECT NAME="OP" ONCHANGE="document.administration.submit();">
<OPTION VALUE="">Administration</OPTION>
<OPTION VALUE="modify-printer">Modifier l'imprimante</OPTION>
<OPTION VALUE="delete-printer">Supprimer l'imprimante</OPTION>
<OPTION VALUE="set-printer-options">Définir les options de l'imprimante</OPTION>
<OPTION VALUE="set-as-default">Définir par défaut</OPTION>
<OPTION VALUE="set-allowed-users">Définir les autorisations</OPTION>
</SELECT>
<NOSCRIPT><INPUT TYPE="SUBMIT" VALUE="Go"></NOSCRIPT>
</FORM>

<TABLE SUMMARY="{printer_name}">
<TR><TH ALIGN="RIGHT" VALIGN="TOP">Description :</TH><TD>{printer_info}</TD></TR>
<TR><TH ALIGN="RIGHT" VALIGN="TOP">Emplacement :</TH><TD>{printer_location}</TD></TR>
<TR><TH ALIGN="RIGHT" VALIGN="TOP">Pilote :</TH><TD>{printer_make_and_model} ({color_supported=1?color:grayscale}{sides_supported=one-sided?:, 2-sided printing})<BR>
<TR><TH ALIGN="RIGHT" VALIGN="TOP">Connexion :</TH><TD>{device_uri}</TD></TR>
<TR><TH ALIGN="RIGHT" VALIGN="TOP">Par défaut :</TH><TD>job-sheets={job_sheets_default}
media={media_default?{media_default}:inconnu}
{sides_default?sides={sides_default}:}</TD></TR>
</TABLE>
