<H2 CLASS="title">D&eacute;marrer {is_class?La classe:l'imprimante} {printer_name}</H2>

<P>{is_class?La classe:l'imprimante} <A
HREF="/{is_class?classes:printers}/{printer_name}">{printer_name}</A>
a &eacute;t&eacute; d&eacute;marr&eacute;e.</P>
