<DIV CLASS="indent">

<H2 CLASS="title">D&eacute;finir {is_class?la classe:l'imprimante} {printer_name} comme imprimante par d&eacute;faut</H2>

<P>{is_class?La classe:L'imprimante} <A
HREF="/{is_class?classes:printers}/{printer_name}">{printer_name}</A>
a &eacute;t&eacute; d&eacute;finie comme imprimante par d&eacute;faut du serveur.</P>

<BLOCKQUOTE><B>NB:</B> Tout param&egrave;tre utilisateur d&eacute;fini via la commande <TT>lpoptions</TT> sera prioritaire sur le param&egrave;tre d&eacute;fini i&ccedil;i.</BLOCKQUOTE>

</DIV>
