<P>{is_class?La classe:L'imprimante} <A
HREF="/{is_class?classes:printers}/{printer_name}">{printer_name}</A>
a été définie comme imprimante par défaut sur le serveur.</P>

<BLOCKQUOTE><B>NB:</B> Pour un utilisateur qui a défini un paramètre par défaut
via la commande <TT>lpoptions</TT>, le paramètre du serveur sera
ignoré.</BLOCKQUOTE>
