<DIV CLASS="indent">

<H2 CLASS="title">Modifier l'Imprimante {printer_name}</H2>

<P>L'imprimante <A HREF="/printers/{printer_name}">{printer_name}</A> a &eacute;t&eacute;
modifi&eacute;e avec succ&egrave;s.

</DIV>