<DIV CLASS="indent">

<H2 CLASS="title">Modifier les Param&egrave;tres</H2>

<P><IMG SRC="/images/wait.gif" WIDTH="16" HEIGHT="16" ALIGN="ABSMIDDLE"
ALT="Busy Indicator"> Veuillez patienter pendant que le serveur red&eacute;marre...</P>

</DIV>
