<DIV CLASS="indent">

<H2 CLASS="title">Imprimer une Page de Test sur {printer_name}</H2>

<P>La page de test a &eacute;t&eacute; envoy&eacute;e; l'identifiant de la t&acirc;che est <A HREF="/{SECTION}/{printer_name}">
{printer_name}-{job_id}</A>.</P>

</DIV>
