</TD>
<TD WIDTH="15">&nbsp;</TD>
</TR>
<TR CLASS="trailer">
<TD VALIGN="BOTTOM" WIDTH="15"><IMG SRC="/images/bottom-left.gif"
WIDTH="15" HEIGHT="15" ALT=""></TD>
<TD COLSPAN="2" WIDTH="100%" STYLE="padding: 5;">

<P><SMALL>Le logiciel CUPS ( Common UNIX Printing System ) et son logo sont
propriété commerciale de <A HREF="http://www.easysw.com">Easy Software
Products</A>. CUPS est sous copyright 1997-2006 par Easy Software Products, Tous
Droits Réservés.</SMALL></P>

</TD>

<TD ALIGN="RIGHT" VALIGN="BOTTOM" WIDTH="15"><IMG SRC="/images/bottom-right.gif"
WIDTH="15" HEIGHT="15" ALT=""></TD>
</TR>
</TABLE>
</BODY>
</HTML>
