<FORM METHOD="POST" ACTION="/admin">
<INPUT TYPE="HIDDEN" NAME="OP" VALUE="{op}">
<TABLE CELLPADDING="0" CELLSPACING="0" BORDER="0" WIDTH="100%">
<TR BGCOLOR="#999966">
	<TH WIDTH="16"><IMG SRC="/images/left.gif"></TH>
	<TH COLSPAN="2">Add New Class</TH>
	<TH BGCOLOR="#cccc99" WIDTH="16"><IMG SRC="/images/right.gif"></TH>
</TR>
<TR>
	<TD HEIGHT="4"></TD>
</TR>
<TR>
	<TD></TD>
	<TD ALIGN="RIGHT">Name:</TD>
	<TD><INPUT TYPE="TEXT" NAME="PRINTER_NAME" SIZE="40" MAXLENGTH="127"></TD>
</TR>
<TR>
	<TD></TD>
	<TD ALIGN="RIGHT">Location:</TD>
	<TD><INPUT TYPE="TEXT" NAME="PRINTER_LOCATION" SIZE="40" MAXLENGTH="127"></TD>
</TR>
<TR>
	<TD></TD>
	<TD ALIGN="RIGHT">Description:</TD>
	<TD><INPUT TYPE="TEXT" NAME="PRINTER_INFO" SIZE="40" MAXLENGTH="127"></TD>
</TR>
<TR>
	<TD></TD>
	<TD></TD>
	<TD><INPUT TYPE="IMAGE" SRC="/images/continue.gif" ALT="Continue" BORDER="0"></TD>
</TR>
</TABLE>
</FORM>
