<FORM METHOD="POST" ACTION="/admin">
<INPUT TYPE="HIDDEN" NAME="OP" VALUE="{op}">
<INPUT TYPE="HIDDEN" NAME="PRINTER_NAME" VALUE="{printer_name}">
<INPUT TYPE="HIDDEN" NAME="PRINTER_LOCATION" VALUE="{?printer_location}">
<INPUT TYPE="HIDDEN" NAME="PRINTER_INFO" VALUE="{?printer_info}">
<INPUT TYPE="HIDDEN" NAME="DEVICE_URI" VALUE="{device_uri}">
<TABLE CELLPADDING="0" CELLSPACING="0" BORDER="0" WIDTH="100%">
<TR BGCOLOR="#999966">
	<TH WIDTH="16"><IMG SRC="/images/left.gif" ALT=""></TH>
	<TH COLSPAN="2">Serial Port Settings for {printer_name}</TH>
	<TH BGCOLOR="#cccc99" WIDTH="16"><IMG SRC="/images/right.gif" ALT=""></TH>
</TR>
<TR>
	<TD HEIGHT="4"></TD>
</TR>
<TR>
	<TD></TD>
	<TD ALIGN="RIGHT">Baud Rate:&nbsp;</TD>
	<TD><SELECT NAME="BAUDRATE">
	{[baudrates]<OPTION {?baudrate={baudrates}?SELECTED:}>{baudrates}}
	</SELECT></TD>
</TR>
<TR>
	<TD></TD>
	<TD ALIGN="RIGHT">Parity:&nbsp;</TD>
	<TD><SELECT NAME="PARITY">
	<OPTION VALUE="none" {?parity=none?SELECTED:}>None
	<OPTION VALUE="even" {?parity=even?SELECTED:}>Even
	<OPTION VALUE="odd" {?parity=odd?SELECTED:}>Odd
	</SELECT></TD>
</TR>
<TR>
	<TD></TD>
	<TD ALIGN="RIGHT">Data Bits:&nbsp;</TD>
	<TD><SELECT NAME="BITS">
	<OPTION {?bits=8?SELECTED:}>8
	<OPTION {?bits=7?SELECTED:}>7
	</SELECT></TD>
</TR>
<TR>
	<TD></TD>
	<TD ALIGN="RIGHT">Flow Control:&nbsp;</TD>
	<TD><SELECT NAME="FLOW">
	<OPTION VALUE="none" {?flow=none?SELECTED:}>None
	<OPTION VALUE="soft" {?flow=soft?SELECTED:}>XON/XOFF (Software)
	<OPTION VALUE="hard" {?flow=hard?SELECTED:}>RTS/CTS (Hardware)
	<OPTION VALUE="dtrdsr" {?flow=dtrdsr?SELECTED:}>DTR/DSR (Hardware)
	</SELECT></TD>
</TR>
<TR>
	<TD></TD>
	<TD></TD>
	<TD><INPUT TYPE="IMAGE" SRC="/images/continue.gif" ALT="Continue" BORDER="0"></TD>
</TR>
</TABLE>
</FORM>
