<FORM METHOD="POST" ACTION="/admin">
<INPUT TYPE="HIDDEN" NAME="OP" VALUE="{op}">
<INPUT TYPE="HIDDEN" NAME="PRINTER_NAME" VALUE="{printer_name}">
<INPUT TYPE="HIDDEN" NAME="PRINTER_LOCATION" VALUE="{?printer_location}">
<INPUT TYPE="HIDDEN" NAME="PRINTER_INFO" VALUE="{?printer_info}">

<P><TABLE CELLPADDING="0" CELLSPACING="0" BORDER="0" WIDTH="100%">
<TR CLASS="header">
<TH ALIGN="LEFT" VALIGN="TOP"><IMG SRC="/images/hdr-top-left.gif"
WIDTH="16" HEIGHT="16" ALT=""></TH>
<TH COLSPAN="2">Members for {printer_name}</TH>
<TH ALIGN="RIGHT" VALIGN="TOP"><IMG
SRC="/images/hdr-top-right.gif" WIDTH="16" HEIGHT="16"
ALT=""></TH>
</TR>
<TR CLASS="data">
<TD></TD>
<TH ALIGN="RIGHT">Members:&nbsp;</TH>
<TD>
<SELECT NAME="MEMBER_URIS" SIZE="10" MULTIPLE>
{[member_uris]<OPTION VALUE="{member_uris}" {?member_selected}>{member_names}}
</SELECT>
</TD>
<TD></TD>
</TR>
<TR CLASS="data">
<TD></TD>
<TD></TD>
<TD><INPUT TYPE="IMAGE" SRC="/images/continue.gif" ALT="Continue" BORDER="0"></TD>
<TD></TD>
</TR>
<TR CLASS="header">
<TH ALIGN="LEFT" VALIGN="BOTTOM"><IMG SRC="/images/hdr-bottom-left.gif"
WIDTH="16" HEIGHT="16" ALT=""></TH>
<TH COLSPAN="2"></TH>
<TH ALIGN="RIGHT" VALIGN="BOTTOM"><IMG
SRC="/images/hdr-bottom-right.gif" WIDTH="16" HEIGHT="16"
ALT=""></TH>
</TR>
</TABLE></P>
</FORM>
