<P><B>Warning:</B> About to delete class {printer_name}! Do you wish to
continue?

<P ALIGN="CENTER">
<A HREF="/admin?op=delete-class&printer_name={printer_name}&confirm=yes">
<IMG SRC="/images/continue.gif" ALT="Continue" BORDER="0"></A>
