<P><B>Warning:</B> Are you sure you want to delete class
{printer_name}?</P>

<P ALIGN="CENTER"><A
HREF="/admin?op=delete-class&printer_name={printer_name}&confirm=yes"><IMG
SRC="/images/delete-class.gif" ALT="Delete Class"
CLASS="button"></A></P>
