<P><A HREF="/admin?op=add-class"><IMG
SRC="/images/add-class.gif" ALT="Add Class"
CLASS="button"></A></P>

<P><B>Server Default Destination:</B> {default_name?<A HREF="{default_uri}">{default_name}</A>:none}</P>

{total?<P ALIGN="CENTER">Showing {#printer_name} of {total} class{total=1?:es}.</P>:}
