<FORM METHOD="POST" ACTION="/admin/">
<INPUT TYPE="HIDDEN" NAME="OP" VALUE="config-server">
<P><B>Server Configuration File:</B><BR>
<TEXTAREA NAME="CUPSD.CONF" COLS="80" ROWS="25">{CUPSD.CONF}</TEXTAREA></P>
<P><INPUT TYPE="IMAGE" SRC="/images/save-changes.gif" BORDER="0" ALT="Save Changes"></P>
</FORM>
