<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN" "http://www.w3.org/TR/REC-html40/loose.dtd">
<HTML>
<HEAD>
	<META HTTP-EQUIV="Content-Type" CONTENT="text/html; charset=utf-8">
	<TITLE>{title} on {server_name} - {cups_version}</TITLE>
	<!-- Prevent caching of CGI content -->
	<META HTTP-EQUIV="Expires" CONTENT="now">
	<META HTTP-EQUIV="Pragma" CONTENT="no-cache"> 
	<LINK REL="STYLESHEET" TYPE="text/css" HREF="/cups.css">
	<MAP NAME="navbar">
		<AREA SHAPE="RECT" COORDS="12,0,50,30" HREF="http://www.easysw.com" ALT="Easy Software Products Home Page">
		<AREA SHAPE="RECT" COORDS="82,0,196,30" HREF="/admin" ALT="Do Administration Tasks">
		<AREA SHAPE="RECT" COORDS="216,0,280,30" HREF="/classes" ALT="Manage Printer Classes Status">
		<AREA SHAPE="RECT" COORDS="300,0,336,30" HREF="/documentation.html" ALT="On-Line Help">
		<AREA SHAPE="RECT" COORDS="356,0,394,30" HREF="/jobs" ALT="Manage Jobs">
		<AREA SHAPE="RECT" COORDS="414,0,476,30" HREF="/printers" ALT="Manage Printers">
		<AREA SHAPE="RECT" COORDS="496,0,568,30" HREF="http://www.cups.org" ALT="Download the Current CUPS Software">
	</MAP>
</HEAD>
<BODY>
<CENTER>
<IMG SRC="/images/navbar.gif" WIDTH="583" HEIGHT="30" USEMAP="#navbar" BORDER="0" ALT="Common UNIX Printing System">
</CENTER>

<H1>{title}</H1>
