<HTML>
<HEAD>
	<TITLE>{title} on {server_name} - {cups_version}</TITLE>
	<LINK REL=STYLESHEET TYPE="text/css" HREF="../cups.css">
	<MAP NAME="navbar">
		<AREA SHAPE="RECT" COORDS="10,10,85,30" HREF="../printers" ALT="Current Printer Status">
		<AREA SHAPE="RECT" COORDS="95,10,175,30" HREF="../classes" ALT="Current Printer Classes Status">
		<AREA SHAPE="RECT" COORDS="185,10,235,30" HREF="../jobs" ALT="Current Jobs Status">
		<AREA SHAPE="RECT" COORDS="245,10,395,30" HREF="../documentation.html" ALT="Read CUPS Documentation On-Line">
		<AREA SHAPE="RECT" COORDS="405,10,490,30" HREF="http://www.cups.org" ALT="Download the Current CUPS Software">
	</MAP>
</HEAD>
<BODY>
<P>
<A HREF="http://www.easysw.com" ALT="Easy Software Products Home Page">
<IMG SRC="../images/logo.gif" WIDTH="71" HEIGHT="40" BORDER=0 ALT="Easy Software Products Home Page"></A>
<IMG SRC="../images/navbar.gif" WIDTH="540" HEIGHT="40" USEMAP="#navbar" BORDER=0>
<H1>{title}</H1>
