<FORM ACTION="/help/{?HELPFILE}" METHOD="GET">
{TOPIC?<INPUT TYPE="HIDDEN" NAME="TOPIC" VALUE="{TOPIC}">:}

<P ALIGN="CENTER"><B>Search in
{HELPTITLE?{HELPTITLE}:{TOPIC?{TOPIC}:All Documents}}:</B> <INPUT
TYPE="TEXT" NAME="QUERY" VALUE="{?QUERY}" SIZE="60"> <INPUT
TYPE="IMAGE" SRC="/images/button-search.gif" ALT="Search">
<A HREF="/help/{?HELPFILE}{QUERY?{TOPIC??TOPIC={TOPIC}:}:}"><IMG
SRC="/images/button-clear.gif" ALT="Clear" CLASS="button"></A></P>

</FORM>

<!-- Bookmarks -->
<DIV CLASS="sidebar">
<H3 CLASS="title">On-Line Help Documents</H3>

<P CLASS="l0"><A HREF="/help/{QUERY??QUERY={QUERY}:}">All Documents</A></P>
<HR>

{[BMTEXT]<P CLASS="l{BMINDENT}"><A HREF="{BMLINK}">{BMTEXT}</A></P>
}
</DIV>

{QUERY?<P>Search Results in {HELPFILE?{HELPTITLE}:{TOPIC?{TOPIC}:All Documents}}\:</P>
{QTEXT?<UL>
{[QTEXT]<LI><A HREF="{QLINK}">{QTEXT}</A>{QPTEXT? (in <I><A HREF="{QPLINK}">{QPTEXT}</A></I>):}</LI>}
{QTEXT?</UL>:}
:<P>No matches found.</P>}
<HR NOSHADE>:}
{HELPTITLE?<H1>{HELPTITLE}
<A HREF="/help/{HELPFILE}?PRINTABLE=YES" TARGET="_blank"><IMG
SRC="/images/button-view-printable-version.gif" ALT="View Printable Version"
CLASS="button"></A></H1>:<H1>CUPS Help Pages</H1>

<P>This is the CUPS on-line help interface. Enter search words
above or click on any of the documentation links to display
on-line help information.</P>

<P>If you are new to CUPS, read the "<a
href="overview.html">Overview of CUPS</a>" page. Veteran users
should read the "<a href="whatsnew.html">What's New in CUPS
1.2</a>" page.</P>

<P>The <A HREF="http://www.cups.org/">CUPS Home Page</A> also
provides many resources including user discussion forums, answers
to frequently-asked questions, and a form for submitting bug
reports and feature requests.</P>}
