<FORM ACTION="/help/{?HELPFILE}" METHOD="GET">
{TOPIC?<INPUT TYPE="HIDDEN" NAME="TOPIC" VALUE="{TOPIC}">:}

<P ALIGN="CENTER"><B>Search in
{HELPTITLE?{HELPTITLE}:{TOPIC?{TOPIC}:All Documents}}:</B> <INPUT
TYPE="TEXT" NAME="QUERY" VALUE="{?QUERY}" SIZE="60"> <INPUT
TYPE="IMAGE" SRC="/images/search.gif" ALT="Search"></P>

</FORM>

<!-- Bookmarks -->
<DIV STYLE="background: #ddddaa; border: solid 2px #cccc99; float: right; margin-left: 10px; padding: 5;">
<H3 CLASS="title">On-Line Help Documents</H3>

<A HREF="/help{QUERY??QUERY={QUERY}:}">All Documents</A><HR>
{[BMTEXT]{BMINDENT>0?&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{BMINDENT=2?&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<I>:}:}<A HREF="{BMLINK}">{BMTEXT}</A>{BMINDENT>1?</I>:}<BR>}
</DIV>

{QUERY?<P>Search Results in {HELPFILE?{HELPTITLE}:{TOPIC?{TOPIC}:All Documents}}\:</P>
{QTEXT?<UL>
{[QTEXT]<LI><A HREF="{QLINK}">{QTEXT}</A>{QPTEXT? (in <I><A HREF="{QPLINK}">{QPTEXT}</A></I>):}</LI>}
{QTEXT?</UL>:}
:<P>No matches found.</P>}
{HELPTITLE?<HR NOSHADE>:}:}
{HELPTITLE?<H1>{HELPTITLE}</H1>:}
