<P>{#job_id=0?No {?which_jobs=completed?Completed:Active} Jobs:
<TABLE CELLPADDING="0" CELLSPACING="0" BORDER="0" WIDTH="100%">
<TR BGCOLOR="#999966">
	<TH WIDTH="16"><IMG SRC="/images/left.gif" ALT=""></TH>
	<TH>ID</TH>
	<TH>Name</TH>
	<TH>User</TH>
	<TH>Size</TH>
	<TH>State</TH>
	<TH>Control</TH>
	<TH BGCOLOR="#cccc99" WIDTH="16"><IMG SRC="/images/right.gif" ALT=""></TH>
</TR>
<TR>
	<TD HEIGHT="4"></TD>
</TR>
{[job_id]
<TR>
	<TD HEIGHT="28"></TD>
	<TD>{job_id}</TD>
	<TD>{?job_name=?Unknown:{job_name}}</TD>
	<TD>{job_originating_user_name}</TD>
	<TD>{job_k_octets}k</TD>
	<TD>{job_state=3?pending:{job_state=4?held:
	{job_state=5?processing:{job_state=6?stopped:
	{job_state=7?cancelled:{job_state=8?aborted:completed}}}}}}</TD>
	<TD>
	{job_state>5?
	{job_k_octets>0?
	<A HREF="/admin/?op=restart-job&job_id={job_id}">
	<IMG SRC="/images/restart-job.gif" ALT="Restart Job" BORDER="0"></A>
	:}:}
	{job_state>6?:
	{job_state=4?
	<A HREF="/admin/?op=release-job&job_id={job_id}">
	<IMG SRC="/images/release-job.gif" ALT="Release Job" BORDER="0"></A>
	:
	<A HREF="/admin/?op=hold-job&job_id={job_id}">
	<IMG SRC="/images/hold-job.gif" ALT="Hold Job" BORDER="0"></A>
	}
	<A HREF="/admin/?op=cancel-job&job_id={job_id}">
	<IMG SRC="/images/cancel-job.gif" ALT="Cancel Job" BORDER="0"></A>
	}
	</FORM>
	</TD>
</TR>
}
</TABLE>
}
<P>{?which_jobs=?
<A HREF="{?printer_name=?/jobs:/printers/{printer_name}}?which_jobs=completed">
<IMG SRC="/images/show-completed.gif" BORDER="0" ALT="Show Completed Jobs"></A>
:
<A HREF="{?printer_name=?/jobs:/printers/{printer_name}}">
<IMG SRC="/images/show-active.gif" BORDER="0" ALT="Show Active Jobs"></A>
}
