<FORM METHOD="POST" ACTION="/admin">
<INPUT TYPE="HIDDEN" NAME="OP" VALUE="{op}">
<TABLE CELLPADDING="0" CELLSPACING="0" BORDER="0" WIDTH="100%">
<TR BGCOLOR="#999966">
	<TH WIDTH="16"><IMG SRC="/images/left.gif" ALT=""></TH>
	<TH COLSPAN="2">Modify Class {printer_name}</TH>
	<TH BGCOLOR="#cccc99" WIDTH="16"><IMG SRC="/images/right.gif" ALT=""></TH>
</TR>
<TR>
	<TD HEIGHT="4"></TD>
</TR>
<TR>
	<TD></TD>
	<TD ALIGN="RIGHT">Name:</TD>
	<TD><INPUT TYPE="HIDDEN" NAME="PRINTER_NAME" VALUE="{printer_name}">
	{printer_name}</TD>
</TR>
<TR>
	<TD></TD>
	<TD ALIGN="RIGHT">Location:</TD>
	<TD><INPUT TYPE="TEXT" NAME="PRINTER_LOCATION" VALUE="{?printer_location}" SIZE="40" MAXLENGTH="127"></TD>
</TR>
<TR>
	<TD></TD>
	<TD ALIGN="RIGHT">Description:</TD>
	<TD><INPUT TYPE="TEXT" NAME="PRINTER_INFO" VALUE="{?printer_info}" SIZE="40" MAXLENGTH="127"></TD>
</TR>
<TR>
	<TD></TD>
	<TD></TD>
	<TD><INPUT TYPE="IMAGE" SRC="/images/continue.gif" ALT="Continue" BORDER="0"></TD>
</TR>
</TABLE>
</FORM>
