<TR CLASS="data">
<TD></TD>
<TH ALIGN="RIGHT"{conflicted=1? CLASS="conflict":}><A NAME="{keyword}">{keytext}</A>:</TH>
<TD><SELECT NAME="{keyword}">
{[choices]<OPTION {choices={defchoice}?SELECTED:} VALUE="{choices}">{text}}
</SELECT></TD>
<TD></TD>
</TR>
