<TR>
	<TD></TD>
	<TD ALIGN="RIGHT">{conflicted=1?<FONT COLOR="#ff0000"><B>:}{keytext}:{conflicted=1?<BR>(conflicting)</B></FONT>:}</TD>
	<TD><SELECT NAME="{keyword}" MULTIPLE SIZE="10">
	{[choices]<OPTION {choices={defchoice}?SELECTED:} VALUE="{choices}">{text}}
	</SELECT></TD>
</TR>
