<TR>
<TH {conflicted=1?CLASS="conflict":CLASS="label"} WIDTH="50%"><A NAME="{keyword}">{keytext}</A>:</TH>
<TD><SELECT NAME="{keyword}" ID="select-{keyword}" ONCHANGE="update_paramtable('{keyword}')">
{[choices]<OPTION {choices={defchoice}?SELECTED:} VALUE="{choices}">{text}}
</SELECT>
{iscustom=1?<TABLE NAME="paramtable" id="{keyword}-params">{[params]
<TR><TH CLASS="sublabel">{paramtext}:</TH>
<TD>{params=Units?<SELECT NAME="{keyword}.{params}">
<OPTION VALUE="pt"{paramvalue=pt? SELECTED:}>Points</OPTION>
<OPTION VALUE="mm"{paramvalue=mm? SELECTED:}>Millimeters</OPTION>
<OPTION VALUE="cm"{paramvalue=cm? SELECTED:}>Centimeters</OPTION>
<OPTION VALUE="in"{paramvalue=in? SELECTED:}>Inches</OPTION>
<OPTION VALUE="ft"{paramvalue=ft? SELECTED:}>Feet</OPTION>
<OPTION VALUE="m"{paramvalue=m? SELECTED:}>Meters</OPTION>
</SELECT>:<INPUT TYPE="{inputtype}" NAME="{keyword}.{params}" VALUE="{paramvalue}">}</TD></TR>
}</TABLE>
</TD>:}
</TR>
