<TR>
	<TD></TD>
	<TD ALIGN="RIGHT">{conflicted=1?<FONT COLOR="#ff0000"><B>:}<A NAME="{keyword}">{keytext}</A>:{conflicted=1?<BR>(conflicting)</B></FONT>:}</TD>
	<TD>
	{[choices]<INPUT TYPE="RADIO" NAME="{keyword}" {choices={defchoice}?CHECKED:} VALUE="{choices}">{text}}
	</TD>
</TR>
