<TABLE WIDTH="100%">
<TR>
	<TD WIDTH="33%">{PREVURL?<A HREF="{PREVURL}"><IMG SRC="/images/show-previous.gif" ALT="Show Previous" CLASS="button"></A>:&nbsp;}</TD>
	<TD WIDTH="34%" ALIGN="CENTER">{ORDER=dec?<A HREF="{THISURL}&amp;ORDER=asc"><IMG SRC="/images/show-ascending.gif" ALT="Show Ascending" CLASS="button"></A>:<A HREF="{THISURL}&amp;ORDER=dec"><IMG SRC="/images/show-descending.gif" ALT="Show Descending" CLASS="button"></A>}</TD>
	<TD WIDTH="33%" ALIGN="RIGHT">{NEXTURL?<A HREF="{NEXTURL}"><IMG SRC="/images/show-next.gif" ALT="Show Next" CLASS="button"></A>:&nbsp;}</TD>
</TR>
</TABLE>
