<H2 CLASS="title">Accept Jobs On {is_class?Class:Printer} {printer_name}</H2>

<P>{is_class?Class:Printer} <A
HREF="/{is_class?classes:printers}/{printer_name}">{printer_name}</A>
is now accepting jobs.</P>
