<P>Printer <A HREF="/printers/{printer_name}">{printer_name}</A> has been
made the default printer on the server. Please note that any user default
that has been set via the <TT>lpoptions</TT> command will override this
default setting.
