{#printer_name=0?:
{[printer_name]
<H2 CLASS="title"><A HREF="{printer_uri_supported}">{printer_name}</A>{default_name={printer_name}? (Default Printer):}</H2>

<TABLE WIDTH="100%" CLASS="button" CELLSPACING="0" CELLPADDING="0">
<TR>
<TD VALIGN="TOP"><A HREF="{printer_uri_supported}">
<IMG SRC="/images/printer-{printer_state=3?idle:{printer_state=4?processing:stopped}}.gif" CLASS="button" ALT=""></A>
</TD>
<TD VALIGN="TOP"><B>Description:</B> {printer_info}<BR>
<B>Location:</B> {printer_location}<BR>
<B>Make and Model:</B> {printer_make_and_model}<BR>
<B>Printer State:</B> {printer_state=3?idle:{printer_state=4?processing:stopped}},
{printer_is_accepting_jobs=0?rejecting jobs:accepting jobs}, {printer_is_shared=0?not:} published.
{?printer_state_message=?:<BR><I>"{printer_state_message}"</I>}
{?printer_state_history2.printer_state_message=?:<BR><I>"{printer_state_history2.printer_state_message}"</I>}
{?printer_state_history3.printer_state_message=?:<BR><I>"{printer_state_history3.printer_state_message}"</I>}
{?printer_state_history4.printer_state_message=?:<BR><I>"{printer_state_history4.printer_state_message}"</I>}
{?printer_state_history5.printer_state_message=?:<BR><I>"{printer_state_history5.printer_state_message}"</I>}
{?device_uri=?:<BR><B>Device URI:</B> {device_uri}}

<P>
<A HREF="{printer_uri_supported}?op=print-test-page">
<IMG SRC="/images/print-test-page.gif" ALT="Print Test Page" CLASS="button"></A>
{printer_state=5?
<A HREF="{admin_uri}?op=start-printer&amp;printer_name={printer_name}">
<IMG SRC="/images/start-printer.gif" ALT="Start Printer" CLASS="button"></A>
:
<A HREF="{admin_uri}?op=stop-printer&amp;printer_name={printer_name}">
<IMG SRC="/images/stop-printer.gif" ALT="Stop Printer" CLASS="button"></A>
}
{printer_is_accepting_jobs=0?
<A HREF="{admin_uri}?op=accept-jobs&amp;printer_name={printer_name}">
<IMG SRC="/images/accept-jobs.gif" ALT="Accept Jobs" CLASS="button"></A>
:
<A HREF="{admin_uri}?op=reject-jobs&amp;printer_name={printer_name}">
<IMG SRC="/images/reject-jobs.gif" ALT="Reject Jobs" CLASS="button"></A>
}
<A HREF="{printer_uri_supported}?op=move-jobs&amp;printer_name={printer_name}">
<IMG SRC="/images/move-jobs.gif" ALT="Move All Jobs" CLASS="button"></A>
<A HREF="{admin_uri}?op=purge-jobs&amp;printer_name={printer_name}">
<IMG SRC="/images/cancel-all-jobs.gif" ALT="Cancel All Jobs" CLASS="button"></A>
{printer_is_shared=0?
<A HREF="{admin_uri}?op=set-sharing&amp;printer_name={printer_name}&amp;shared=1">
<IMG SRC="/images/publish-printer.gif" ALT="Publish Printer" CLASS="button"></A>
:
<A HREF="{admin_uri}?op=set-sharing&amp;printer_name={printer_name}&amp;shared=0">
<IMG SRC="/images/unpublish-printer.gif" ALT="Unpublish Printer" CLASS="button"></A>
}
<A HREF="{admin_uri}?op=modify-printer&amp;printer_name={printer_name}">
<IMG SRC="/images/modify-printer.gif" ALT="Modify Printer" CLASS="button"></A>
<A HREF="{admin_uri}?op=set-printer-options&amp;printer_name={printer_name}">
<IMG SRC="/images/set-printer-options.gif" ALT="Set Printer Options" CLASS="button"></A>
<A HREF="{admin_uri}?op=delete-printer&amp;printer_name={printer_name}">
<IMG SRC="/images/delete-printer.gif" ALT="Delete Printer" CLASS="button"></A>
<A HREF="{admin_uri}?op=set-as-default&amp;printer_name={printer_name}">
<IMG SRC="/images/set-as-default.gif" ALT="Set As Default" CLASS="button"></A>
<A HREF="{admin_uri}?op=set-allowed-users&amp;printer_name={printer_name}">
<IMG SRC="/images/set-allowed-users.gif" ALT="Set Allowed Users" CLASS="button"></A>
</P>
</TD>
</TR>
</TABLE>
}}
