<H2 CLASS="title">Cancel Jobs On {is_class?Class:Printer} {printer_name}</H2>

<P>All jobs on {is_class?class:printer} <A
HREF="/{is_class?classes:printers}/{printer_name}">{printer_name}</A>
have been canceled.</P>
