<DIV CLASS="indent">

<H2 CLASS="title">Pause {is_class?Class:Printer} {printer_name}</H2>

<P>{is_class?Class:Printer} <A
HREF="/{is_class?classes:printers}/{printer_name}">{printer_name}</A>
has been paused.</P>

</DIV>