<P><B>Warning:</B> Are you sure you want to delete printer
{printer_name}?</P>

<P ALIGN="CENTER"><A
HREF="/admin?op=delete-printer&printer_name={printer_name}&confirm=yes"><IMG
SRC="/images/button-delete-printer.gif" ALT="Delete Printer"
CLASS="button"></A></P>
