<HTML>
<HEAD>
	<TITLE>Printers on {server_name} - {cups_version}</TITLE>
	<LINK REL=STYLESHEET TYPE="text/css" HREF="/cups.css">
	<MAP NAME="navbar">
		<AREA SHAPE="RECT" COORDS="10,10,85,30" HREF="/printers" ALT="Current Printer Status">
		<AREA SHAPE="RECT" COORDS="95,10,175,30" HREF="/classes" ALT="Current Printer Classes Status">
		<AREA SHAPE="RECT" COORDS="185,10,235,30" HREF="/jobs" ALT="Current Jobs Status">
		<AREA SHAPE="RECT" COORDS="245,10,395,30" HREF="/documentation.html" ALT="Read CUPS Documentation On-Line">
		<AREA SHAPE="RECT" COORDS="405,10,490,30" HREF="http://www.cups.org" ALT="Download the Current CUPS Software">
	</MAP>
</HEAD>
<BODY BGCOLOR="#cccc99">
<P ALIGN=CENTER>
<A HREF="http://www.easysw.com" ALT="Easy Software Products Home Page">
<IMG SRC="/images/logo.gif" WIDTH="71" HEIGHT="40" BORDER=0 ALT="Easy Software Products Home Page"></A>
<IMG SRC="/images/navbar.gif" WIDTH="540" HEIGHT="40" USEMAP="#navbar" BORDER=0>
</P>

<H1>Printers on {server_name}</H1>

<CENTER>
<TABLE WIDTH="90%" BORDER="1">
<TR>
	<TH>Name</TH>
	<TH WIDTH="75%">Information</TH>
</TR>
{[printer_name]
<TR>
	<TD VALIGN=TOP><A HREF="{printer_uri}">
	<IMG SRC="images/printer-idle.gif" BORDER="0"><BR>{printer_name}</A></TD>
	<TD VALIGN=TOP>Printer State: {printer_idle}<BR>
	Accepting Jobs: {printer_is_accepting_jobs=0?No:Yes}
	<P>
	<IMG SRC="images/modify-printer.gif">
	<IMG SRC="images/delete-printer.gif">
	<IMG SRC="images/start-printer.gif">
	<IMG SRC="images/stop-printer.gif">
	<IMG SRC="images/accept-jobs.gif">
	<IMG SRC="images/reject-jobs.gif">
	<IMG SRC="images/print-test-page.gif">
	</TD>
</TR>
}
</TABLE>
</CENTER>
<HR>
<P>The Common UNIX Printing System, CUPS, and the CUPS logo are the
trademark property of <A HREF="http://www.easysw.com">Easy Software
Products</A>. CUPS is copyright 1997-1999 by Easy Software Products,
All Rights Reserved.
</BODY>
</HTML>
