<DIV CLASS="indent">

<H2 CLASS="title">Change Settings</H2>

<P><IMG SRC="/images/wait.gif" WIDTH="16" HEIGHT="16" ALIGN="ABSMIDDLE"
ALT="Busy Indicator"> Please stand by while the server restarts...</P>

</DIV>
