<div class="indent">

<h2>Change Settings</h2>

<p>Please stand by while the server restarts...</p>

<p align='center'><img src='/images/wait.gif' width='24' height='24' alt='Busy Indicator'></p>

</div>
