<TABLE CELLPADDING="0" CELLSPACING="0" BORDER="0" WIDTH="100%">
<TR>
	<TH BGCOLOR="#999966"><IMG SRC="/images/left.gif" ALT=""></TH>
	<TH BGCOLOR="#999966">Classes</TH>
	<TH WIDTH="16"><IMG SRC="/images/right.gif" ALT=""></TH>
</TR>
<TR>
	<TD HEIGHT="4"></TD>
</TR>
<TR>
	<TD></TD>
	<TD><A HREF="/admin/?op=add-class">
	<IMG SRC="/images/add-class.gif" ALT="Add a New Class" BORDER="0"></A>
	<A HREF="/classes/">
	<IMG SRC="/images/manage-classes.gif" ALT="Manage Available Classes" BORDER="0"></A>
	</TD>
</TR>
<TR>
	<TD>&nbsp;</TD>
</TR>
<TR>
	<TH BGCOLOR="#999966"><IMG SRC="/images/left.gif" ALT=""></TH>
	<TH BGCOLOR="#999966">Jobs</TH>
	<TH WIDTH="16"><IMG SRC="/images/right.gif" ALT=""></TH>
</TR>
<TR>
	<TD HEIGHT="4"></TD>
</TR>
<TR>
	<TD></TD>
	<TD><A HREF="/jobs/">
	<IMG SRC="/images/manage-jobs.gif" ALT="Manage Jobs" BORDER="0"></A>
	</TD>
</TR>
<TR>
	<TD>&nbsp;</TD>
</TR>
<TR>
	<TH BGCOLOR="#999966"><IMG SRC="/images/left.gif" ALT=""></TH>
	<TH BGCOLOR="#999966">Printers</TH>
	<TH WIDTH="16"><IMG SRC="/images/right.gif" ALT=""></TH>
</TR>
<TR>
	<TD HEIGHT="4"></TD>
</TR>
<TR>
	<TD></TD>
	<TD><A HREF="/admin/?op=add-printer">
	<IMG SRC="/images/add-printer.gif" ALT="Add a New Printer" BORDER="0"></A>
	<A HREF="/printers/">
	<IMG SRC="/images/manage-printers.gif" ALT="Manage Available Printers" BORDER="0"></A>
	</TD>
</TR>
<TR>
	<TD>&nbsp;</TD>
</TR>
</TABLE>
