<TABLE CELLPADDING="0" CELLSPACING="0" CLASS="button" WIDTH="100%" SUMMARY="Administration Tasks">
<TR><TD VALIGN="TOP">

<H2 CLASS="title">プリンタ</H2>

<P>
<A HREF="/admin?op=add-printer"><IMG
SRC="/images/button-add-printer.gif" ALT="プリンタの追加" CLASS="button"></A>
<A HREF="/printers/"><IMG SRC="/images/button-manage-printers.gif"
ALT="プリンタの管理" CLASS="button"></A>
{have_samba?<A HREF="/admin/?op=export-samba"><IMG
SRC="/images/button-export-samba.gif" ALT="プリンタをSambaにエキスポート"
CLASS="button"></A>:}
</P>

{#device_uri=0?:<P><B>新しいプリンタが見つかりました:</B></P><UL>{[device_uri]
<LI><A HREF="/admin?op=add-printer&amp;{device_options}"><IMG
SRC="/images/button-add-this-printer.gif" ALT="このプリンタを追加"
CLASS="button" ALIGN="MIDDLE"></A>
{device_make_and_model} ({device_info})</LI>
}</UL>}

<H2 CLASS="title">クラス</H2>

<P>
<A HREF="/admin?op=add-class"><IMG SRC="/images/button-add-class.gif"
ALT="クラスの追加" CLASS="button"></A>
<A HREF="/classes/"><IMG SRC="/images/button-manage-classes.gif"
ALT="クラスの管理" CLASS="button"></A>
</P>

<H2 CLASS="title">ジョブ</H2>

<P>
<A HREF="/jobs/"><IMG SRC="/images/button-manage-jobs.gif" ALT="ジョブの管理" CLASS="button"></A>
</P>

</TD><TD>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</TD><TD VALIGN="TOP">

<H2 CLASS="title">サーバ</H2>

<P>
<A HREF="/admin?op=config-server"><IMG
SRC="/images/button-edit-configuration-file.gif" ALT="設定ファイルの編集" CLASS="button"></A>
<A HREF="/admin/log/access_log" TARGET="_blank"><IMG
SRC="/images/button-view-access-log.gif" ALT="アクセスログの表示"
CLASS="button"></A>
<A HREF="/admin/log/error_log" TARGET="_blank"><IMG
SRC="/images/button-view-error-log.gif" ALT="エラーログの表示"
CLASS="button"></A>
<A HREF="/admin/log/page_log" TARGET="_blank"><IMG
SRC="/images/button-view-page-log.gif" ALT="ページログの表示"
CLASS="button"></A>
</P>

{SETTINGS_ERROR?<P>{SETTINGS_MESSAGE}</P>
<BLOCKQUOTE>{SETTINGS_ERROR}</BLOCKQUOTE>:

<FORM METHOD="POST" ACTION="/admin">

<P><B>基本サーバ設定:</B></P>

<P><INPUT TYPE="HIDDEN" NAME="OP" VALUE="config-server">
<INPUT TYPE="CHECKBOX" NAME="REMOTE_PRINTERS" {?remote_printers}> ほかのシステムで共有されているプリンタを表示<BR>
<INPUT TYPE="CHECKBOX" NAME="SHARE_PRINTERS" {?share_printers}> このシステムに接続されている公開済みプリンタを共有<BR>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<INPUT TYPE="CHECKBOX" NAME="REMOTE_ANY" {?remote_any}> Allow printing from the Internet<BR>
<INPUT TYPE="CHECKBOX" NAME="REMOTE_ADMIN" {?remote_admin}> リモート管理を許可<BR>
{have_gssapi?<INPUT TYPE="CHECKBOX" NAME="KERBEROS" {?kerberos}> Use Kerberos authentication<BR>:}
<INPUT TYPE="CHECKBOX" NAME="USER_CANCEL_ANY" {?user_cancel_any}> どのジョブであってもキャンセルすることを (たとえ所有者でなくても) ユーザに許可<BR>
<INPUT TYPE="CHECKBOX" NAME="DEBUG_LOGGING" {?debug_logging}> トラブルシューティングのためにデバッグ情報を保存</P>

<P><INPUT TYPE="IMAGE" SRC="/images/button-change-settings.gif" ALT="設定の変更"></P>

</FORM>}

</TD></TR>
</TABLE>
