<FORM METHOD="POST" ACTION="/admin">
<INPUT TYPE="HIDDEN" NAME="OP" VALUE="{op}">
<INPUT TYPE="HIDDEN" NAME="PRINTER_NAME" VALUE="{printer_name}">
<INPUT TYPE="HIDDEN" NAME="PRINTER_LOCATION" VALUE="{?printer_location}">
<INPUT TYPE="HIDDEN" NAME="PRINTER_INFO" VALUE="{?printer_info}">
<INPUT TYPE="HIDDEN" NAME="DEVICE_URI" VALUE="{device_uri}">

<H2 CLASS="title">{printer_name} のシリアルポートの設定</H2>

<TABLE>
<TR>
<TH CLASS="label">ボーレート:</TH>
<TD><SELECT NAME="BAUDRATE">
{[baudrates]<OPTION {?baudrate={baudrates}?SELECTED:}>{baudrates}}
</SELECT></TD>
</TR>
<TR>
<TH CLASS="label">パリティ:</TH>
<TD><SELECT NAME="PARITY">
<OPTION VALUE="none" {?parity=none?SELECTED:}>なし
<OPTION VALUE="even" {?parity=even?SELECTED:}>偶数
<OPTION VALUE="odd" {?parity=odd?SELECTED:}>奇数
</SELECT></TD>
</TR>
<TR>
<TH CLASS="label">データビット:</TH>
<TD><SELECT NAME="BITS">
<OPTION {?bits=8?SELECTED:}>8
<OPTION {?bits=7?SELECTED:}>7
</SELECT></TD>
</TR>
<TR>
<TH CLASS="label">フロー制御:</TH>
<TD><SELECT NAME="FLOW">
<OPTION VALUE="none" {?flow=none?SELECTED:}>なし
<OPTION VALUE="soft" {?flow=soft?SELECTED:}>XON/XOFF (ソフトウェア)
<OPTION VALUE="hard" {?flow=hard?SELECTED:}>RTS/CTS (ハードウェア)
<OPTION VALUE="dtrdsr" {?flow=dtrdsr?SELECTED:}>DTR/DSR (ハードウェア)
</SELECT></TD>
</TR>
<TR>
<TD></TD>
<TD><INPUT TYPE="IMAGE" SRC="/images/button-continue.gif" ALT="続ける"></TD>
</TR>
</TABLE>

</FORM>
