<P><B>警告:</B> 本当にクラス
{printer_name} を削除してもよいですか?</P>

<P ALIGN="CENTER"><A
HREF="/admin?op=delete-class&printer_name={printer_name}&confirm=yes"><IMG
SRC="/images/button-delete-class.gif" ALT="クラスの削除"
CLASS="button"></A></P>
