{#printer_name=0?:
{[printer_name]
<H2 CLASS="title"><A HREF="{printer_uri_supported}">{printer_name}</A>{default_name={printer_name}? (デフォルトプリンタ):}
{?printer_state_message=?:<SPAN CLASS="message">"{printer_state_message}"</SPAN
>}</H2>

<TABLE WIDTH="100%" CLASS="button" CELLSPACING="0" CELLPADDING="0" SUMMARY="{printer_name}">
<TR>
<TD VALIGN=TOP><A HREF="{printer_uri_supported}">
<IMG SRC="/images/classes.gif" CLASS="button" ALT=""></A></TD>
<TD VALIGN=TOP><B>説明:</B> {printer_info}<BR>
<B>場所:</B> {printer_location}<BR>
<B>クラスの状態:</B> {printer_state=3?待機中:{printer_state=4?処理中:停止}},
{printer_is_accepting_jobs=0?ジョブを拒否中:ジョブを受け付け中}, {printer_is_shared=0?not:} 公開。
{?printer_state_message=?:<BR><I>"{printer_state_message}"</I>}
{?member_uris=?:<BR>メンバー: {member_uris}}

<P>
<A HREF="{printer_uri_supported}?op=print-test-page">
<IMG SRC="/images/print-test-page.gif" ALT="テストページの印刷" CLASS="button"></A>
{printer_state=5?
<A HREF="{admin_uri}?op=start-class&amp;printer_name={printer_name}&amp;is_class=Y">
<IMG SRC="/images/start-class.gif" ALT="クラスを開始" CLASS="button"></A>
:
<A HREF="{admin_uri}?op=stop-class&amp;printer_name={printer_name}&amp;is_class=Y">
<IMG SRC="/images/stop-class.gif" ALT="クラスを停止" CLASS="button"></A>
}
{printer_is_accepting_jobs=0?
<A HREF="{admin_uri}?op=accept-jobs&amp;printer_name={printer_name}&amp;is_class=Y">
<IMG SRC="/images/accept-jobs.gif" ALT="ジョブを受け付け" CLASS="button"></A>
:
<A HREF="{admin_uri}?op=reject-jobs&amp;printer_name={printer_name}&amp;is_class=Y">
<IMG SRC="/images/reject-jobs.gif" ALT="ジョブを拒否" CLASS="button"></A>
}
<A HREF="{admin_uri}?op=purge-jobs&amp;printer_name={printer_name}&amp;is_class=Y">
<IMG SRC="/images/cancel-all-jobs.gif" ALT="すべてのジョブをキャンセル" CLASS="button"></A>
{printer_is_shared=0?
<A HREF="{admin_uri}?op=set-sharing&amp;printer_name={printer_name}&amp;shared=1&amp;is_class=Y">
<IMG SRC="/images/publish-printer.gif" ALT="プリンタを公開" CLASS="button"></A>
:
<A HREF="{admin_uri}?op=set-sharing&amp;printer_name={printer_name}&amp;shared=0&amp;is_class=Y">
<IMG SRC="/images/unpublish-printer.gif" ALT="プリンタを非公開" CLASS="button"></A>
}
<A HREF="{admin_uri}?op=modify-class&amp;printer_name={printer_name}">
<IMG SRC="/images/modify-class.gif" ALT="クラスの変更" CLASS="button"></A>
<A HREF="{admin_uri}?op=delete-class&amp;printer_name={printer_name}">
<IMG SRC="/images/delete-class.gif" ALT="クラスの削除" CLASS="button"></A>
<A HREF="{admin_uri}?op=set-as-default&amp;printer_name={printer_name}&amp;is_class=Y">
<IMG SRC="/images/set-as-default.gif" ALT="デフォルトに設定" CLASS="button"></A>
<A HREF="{admin_uri}?op=set-allowed-users&amp;printer_name={printer_name}&amp;is_class=Y">
<IMG SRC="/images/set-allowed-users.gif" ALT="許可するユーザの設定" CLASS="button"></A>
</P>
</TD>
</TR>
</TABLE>
}}
