<SCRIPT TYPE="text/javascript">
function reset_config()
{
  document.cups.CUPSDCONF.value = "{?cupsdconf_default}";
}
</SCRIPT>

<H2 CLASS="title">サーバ設定ファイル</H2>

<FORM NAME="cups" METHOD="POST" ACTION="/admin/">

<INPUT TYPE="HIDDEN" NAME="OP" VALUE="config-server">

<TEXTAREA NAME="CUPSDCONF" COLS="80" ROWS="25">{CUPSDCONF}</TEXTAREA>

<P><INPUT TYPE="IMAGE" SRC="/images/button-save-changes.gif"
ALT="変更を保存"> <A
HREF="javascript:reset_config();"><IMG
SRC="/images/button-use-default-config.gif" CLASS="button"
ALT="デフォルトの設定ファイルを使用"></A></P>

</FORM>
