<DIV CLASS="indent">

<H2 CLASS="title">{job_id?ジョブ {job_id} の移動:すべてのジョブの移動}</H2>

<P>{job_id?<A HREF="/jobs/{job_id}">ジョブ {job_id}</A>:すべてのジョブ} は
<A HREF="/{is_class?classes:printers}/{job_printer_name}">{job_printer_name}</A> に移動しました。</P>

</DIV>
