{#job_id=0?:
<TABLE CELLPADDING="0" CELLSPACING="0" CLASS="button" WIDTH="100%" SUMMARY="Job List">
<TR CLASS="data">
<TH>ID&nbsp;</TH>
<TH>名前&nbsp;</TH>
<TH>ユーザ&nbsp;</TH>
<TH>サイズ&nbsp;</TH>
<TH>ページ&nbsp;</TH>
<TH>状態&nbsp;</TH>
<TH>制御&nbsp;</TH>
</TR>

{[job_id]
<TR CLASS="data" VALIGN="TOP">
<TD><A HREF="{job_printer_uri}">{job_printer_name}</A>-{job_id}&nbsp;</TD>
<TD>{?job_name=?未知:{job_name}}&nbsp;</TD>
<TD>{job_originating_user_name}&nbsp;</TD>
<TD>{job_k_octets}k&nbsp;</TD>
<TD>{job_media_sheets_completed=0?不明:{?job_media_sheets_completed}}</TD>
<TD>{job_state=3?{time_at_creation}<BR>から保留中:{job_state=4?{time_at_creation}<BR>からホールド中:
{job_state=5?{time_at_processing}<BR>から処理中:{job_state=6?{time_at_completed}<BR>に停止:
{job_state=7?{time_at_completed}<BR>にキャンセル:{time_at_completed}<BR>{job_state=8?に中断:に完了}}}}}}&nbsp;</TD>
<TD>
{job_preserved>0?
<A HREF="/jobs/?op=restart-job&amp;job_id={job_id}&amp;job_printer_uri={job_printer_uri}">
<IMG SRC="/images/restart-job.gif" ALT="ジョブの再印刷" CLASS="button"></A>:}
{job_state=4?
<A HREF="/jobs/?op=release-job&amp;job_id={job_id}&amp;job_printer_uri={job_printer_uri}">
<IMG SRC="/images/release-job.gif" ALT="ジョブを解放" CLASS="button"></A>:}
{job_state=3?
<A HREF="/jobs/?op=hold-job&amp;job_id={job_id}&amp;job_printer_uri={job_printer_uri}">
<IMG SRC="/images/hold-job.gif" ALT="ジョブをホールド" CLASS="button"></A>:}
{job_state<7?
<A HREF="/jobs/?op=cancel-job&amp;job_id={job_id}&amp;job_printer_uri={job_printer_uri}">
<IMG SRC="/images/cancel-job.gif" ALT="ジョブをキャンセル" CLASS="button"></A>
<A HREF="/jobs/?op=move-job&amp;job_id={job_id}"><IMG
SRC="/images/move-job.gif" ALT="ジョブを移動" CLASS="button"></A>:}
&nbsp;</TD>
</TR>
}
</TABLE>
}
