<P>{?which_jobs=?<A
HREF="{?printer_name=?/jobs:{printer_uri_supported}}?which_jobs=completed"><IMG
SRC="/images/show-completed.gif" CLASS="button" ALT="完了したジョブを表示"></A>
<A HREF="{?printer_name=?/jobs:{printer_uri_supported}}?which_jobs=all"><IMG
SRC="/images/show-all.gif" CLASS="button" ALT="すべてのジョブを表示">:{which_jobs=all?<A
HREF="{?printer_name=?/jobs:{printer_uri_supported}}?which_jobs=completed"><IMG
SRC="/images/show-completed.gif" CLASS="button" ALT="完了したジョブを表示"></A>
<A HREF="{?printer_name=?/jobs:{printer_uri_supported}}"><IMG
SRC="/images/show-active.gif" CLASS="button" ALT="アクティブなジョブを表示">:<A
HREF="{?printer_name=?/jobs:{printer_uri_supported}}"><IMG
SRC="/images/show-active.gif" CLASS="button" ALT="アクティブなジョブを表示"></A>
<A HREF="{?printer_name=?/jobs:{printer_uri_supported}}?which_jobs=all"><IMG
SRC="/images/show-all.gif" CLASS="button" ALT="すべてのジョブを表示">}}</A></P>

<P ALIGN="CENTER">{total=0?ジョブはありません:{total} 個の{?which_jobs=?アクティブな:{which_jobs=all?:完了した}}ジョブのうち {#job_id} 個を表示中}。</P>
