<TR>
<TH {conflicted=1?CLASS="conflict":CLASS="label"} WIDTH="50%"><A NAME="{keyword}">{keytext}</A>:</TH>
<TD>
{[choices]<INPUT TYPE="RADIO" NAME="{keyword-1}" ID="{keyword-1}" {choices={defchoice-1}?CHECKED:} VALUE="{choices}"><LABEL FOR="{keyword-1}">{text}</LABEL>}
</TD>
</TR>
