<DIV CLASS="indent">

<H2 CLASS="title">{is_class?クラス:プリンター} {printer_name} のジョブの拒否</H2>

<P>{is_class?クラス:プリンター} <A
HREF="/{is_class?classes:printers}/{printer_name}">{printer_name}</A>
はジョブを受け付けなくなりました。</P>

</DIV>
