<P>{is_class?クラス:プリンタ} <A
HREF="/{is_class?classes:printers}/{printer_name}">{printer_name}</A>
はサーバのデフォルトプリンタとなりました。</P>

<BLOCKQUOTE><B>注意:</B> <TT>lpoptions</TT> コマンドで設定されたユーザのデフォルトは、このサーバのデフォルト設定を上書きします。
</BLOCKQUOTE>
