<DIV CLASS="indent">

<H2 CLASS="title">{printer_name} のデフォルトオプションの設定</H2>

<P>{OP=set-class-options?クラス <A HREF="/classes/{printer_name}">:プリンター <A HREF="/printers/{printer_name}">}{printer_name}</A> のデフォルトオプションは正しく設定されました。

</DIV>
