<H2 CLASS="title">Cancel Jobs On {is_class?クラス:プリンター} {printer_name} のジョブのキャンセル</H2>

<P>{is_class?クラス:プリンター} <A
HREF="/{is_class?classes:printers}/{printer_name}">{printer_name}</A>
のすべてのジョブはキャンセルされました。</P>
