<DIV CLASS="indent">

<H2 CLASS="title">{is_class?クラス:プリンター} {printer_name} をデフォルトに設定</H2>

<P>{is_class?クラス:プリンター} <A
HREF="/{is_class?classes:printers}/{printer_name}">{printer_name}</A>
をサーバーのデフォルトプリンターに設定しました。</P>

<BLOCKQUOTE><B>注意:</B> <TT>lpoptions</TT> コマンドで設定されたユーザーのデフォルトは、このサーバーのデフォルト設定を上書きします。
</BLOCKQUOTE>

</DIV>
