<FORM ACTION="/{SECTION}/{?SEARCH_DEST}" METHOD="GET">
{WHICH_JOBS?<INPUT TYPE="HIDDEN" NAME="WHICH_JOBS" VALUE="{WHICH_JOBS}">:}
{ORDER?<INPUT TYPE="HIDDEN" NAME="ORDER" VALUE="{ORDER}">:}

<P ALIGN="CENTER"><B>
{SEARCH_DEST?{SEARCH_DEST}:{SECTION=classes?クラス:{SECTION=jobs?ジョブ:プリンタ}}} 内を検索:</B>
<INPUT TYPE="TEXT" NAME="QUERY" VALUE="{?QUERY}" SIZE="60"> <INPUT
TYPE="IMAGE" SRC="/images/search.gif" ALT="検索"></P>

</FORM>
