</TD></TR>
<TR><TD>&nbsp;</TD></TR>
<TR><TD CLASS="trailer">CUPS and the CUPS logo are trademarks of
<A HREF="http://www.apple.com">Apple Inc.</A> CUPS is copyright 2007-2010 Apple
Inc. All rights reserved.</TD></TR>
</TABLE>
</BODY>
</HTML>
